@media (max-width: 900px) {
    .learn-item{
        margin-bottom: 30px;
    }

    footer #section-footer-main .logo-footer {
        height: auto;
        width: 200px;
    }

    footer #section-footer-main .footer-center{
        
    }
}