header{
    background-color: #00163D;
    z-index: 100;
    .navbar-header{
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        &.scroll-header{
            .nav-link{
                color: #fff !important;
                font-size: 16px;
            }
        }
        .navbar-brand{
            .image-header{
                width: 72px;
            }
        }

        .nav-item{
            .nav-link{
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                padding: 15px;
                &.active{
                    color: #f99b1c !important;
                }
                &:hover{
                    color: #f99b1c !important;
                }
            }
        }
    }
}