@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  /* min-width: 100vw; */
  overflow-x: hidden;
}

.bg-green {
  background-color: #25982b;
}

.color-green {
  color: #25982b;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Hiển thị tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem; /* Dòng cách nhau */
}

@media (max-width: 768px) {
  .mx-mobile {
    margin-right: 12px;
    margin-left: 12px;
  }
}
