/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: "bitter" !important;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Bitter/Bitter-Italic-VariableFont_wght.ttf") format("truetype");
 
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Bitter/Bitter-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Marcellus/Marcellus-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bitter";
    src: url("../font/bitter/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* header */
header {
    background-color: #0E328E;
    padding: 10px 0;
    
    width: 100%;
    z-index: 1;
}
.section-header-page {
    
 
    color: #fff;
}
.section-header-page a{
    text-decoration: none;
    color: #fff;
   

}
.section-header-page .header-title {
    font-size: 25px;
    align-items: center;

}
.section-header-page .header-title .free-title{
    margin-left: 40px;
    
}
.section-header-page .time-down {
    font-size: 30px;
}
.section-header-page .button-register:hover{
    scale: 1.1;
    transition:  0.6s ease;
}
.section-header-page .button-register {
    margin-left: 60px;
    font-size: 18px;
    border: 1px solid #fff ;
    border-radius: 25px;
    background-color: #2897F8;
    padding: 15px 29px;
    
}
.section-header-page .time-down-and-resgister {
    align-items: center;
    justify-content: end;
}
.section-header-page .time-down-detail {
    margin: 0 6px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: linear-gradient(rgb(228, 51, 15), rgb(130, 162, 236));
}
/*  section-background-portrain*/
.section-background-portrait {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}
.section-background-portrait .title-image-postrain {
    margin-top: 30px;
    text-align: center;
}

.section-background-portrait .image-information-map img{
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    width: 80%;
    height: 100%;
}
.section-background-portrait .image-business img{
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    width: 100%;
    height: 100%;
}
.section-background-portrait .left-header-portrait {
    position: relative;

}
.section-background-portrait .portraint-tagname {
    position: absolute;
    top:79%
}

.section-background-portrait .image-success img{
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    width: 80%;
    height: 100%;
}
.section-background-portrait .slogan-inspire img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
   
}
.section-background-portrait .slogan-inspire img:hover{
    scale: 1.09;
    transition:  0.5s ease;
}
.section-background-portrait .ladi-image-background img{

    margin-top: 20px;
    width: 50%;
    height: 100%;

}
.section-background-portrait .ladi-image-background img:hover{
    scale: 1.09;
    transition:  0.5s ease;
}
.section-background-portrait .portraint-tagname img{

    width: 100%;
    height: 100%;

}
.section-background-portrait .portraint-tagname img:hover{
    scale: 1.09;
    transition:  0.5s ease;
}
.section-background-portrait .ladi-image-partner img{

    width: 80%;
    height: 100%;

}
.section-background-portrait .ladi-image-partner img:hover{
    scale: 1.09;
    transition:  0.5s ease;
}
.section-background-portrait .portrait-people img{
    padding: 40px 0 20px 0;
    width: 100%;
    height: 100%;
}
.section-background-portrait a{
    text-decoration: none;
    color: #fff;
}

  

.section-background-portrait .background-button-submit {
   
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    width: 60%;
    font-size: 20px;
    border: 3px solid #fff ;
    border-radius: 25px;
    background-color: #2897F8;
    padding: 15px 20px;
    
    
}
@keyframes scaleUp {
    0% {
      transform: scale(1); /* Kích thước ban đầu */
    }
    100% {
      transform: scale(1.2); /* Kích thước sau khi scale */
    }
  }
.ladi-button-submit {
    display: flex;

    justify-content: center;
    margin: 30px 0;
}
/* section-schedule */
.section-schedule {
    background-size: cover;
    background-position: 50%;
}
.section-schedule .content-class{
    text-align: center;
    color: #fff;
}

.section-schedule .content-class h2{
    padding: 25px 0 15px 0;
    font-size: 48px;
 
}
.section-schedule .content-class p {

    font-size: 35px;
    padding: 5px 0 15px 0;
}
/* section-more-learn */
.section-more-learn {
    background-color: rgb(227, 222, 222);
    padding: 60px 0;
}
.section-more-learn .image-people-teach {
    padding: 10px;
    width: 100%;
    
}
.section-more-learn .image-people-teach img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: rgb(0, 0, 0) 15px 15px 20px -15px;


}
.section-more-learn .more-learn-title {
    margin-bottom: 25px;
    margin-left: 10px;
    padding: 0 23px;
}
.section-more-learn .more-learn-title h2{
    
    font-size: 28px;
    font-weight: bold;
    color: rgb(1, 1, 1);
}
.section-more-learn .left-more-learn {
    margin: 15px 0;
}
.section-more-learn .left-more-learn img{
    width: 100%;
   
}
.section-more-learn .left-more-learn .paragrap-more-learn {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.section-more-learn .left-more-learn .image-more-learn{
    display: flex;
    justify-content: end;
    align-items: center;

}
.section-more-learn .button-submit-schedule {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.section-more-learn .button-submit-schedule a{
    text-decoration: none;
    color: #fff;
    
}
.section-more-learn .button-submit-schedule .div-cover-button{
    display: inline-block;
    animation: scaleUp 2s infinite alternate;
    text-align: center;

    font-size: 25px;
    border: 2px solid #fff ;
    border-radius: 25px;
    background-image: linear-gradient(229deg, rgb(1, 46, 148), rgb(79, 108, 240));
    padding: 18px 26px;
    text-shadow: rgb(0, 0, 0) 1px 3px 5px;
    
}
.section-form-buy  .border-form-buy .address-buy {
    text-align: center;
}
/* section-produce-services */
.section-produce-services {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-image: url(../image/backgroundclass.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: 50%;
}

.section-produce-services .top-introduce {
    font-size: 29px;
    padding: 10px 29px 10px 29px;
   

}
.section-produce-services .top-introduce h2 {
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    padding: 45px 0 60px 0;
    border-bottom: 3px solid #fff;
}
.section-produce-services .bottom-introduce {
    max-width: 80%;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    padding: 40px 40px 30px 40px;
}
/* section-title-guide */

.section-title-guide {

    padding-bottom: 25px;
}
.section-title-guide .button-guide a{
    text-decoration: none;
    color: #fff;
  

}
.section-title-guide .button-cover{
    
    margin-bottom: 40px;
}
.section-title-guide .button-guide {
    
    font-style: italic;
    text-align: center;
    width: 21%;
    font-size: 17px;
    border: 1px solid #fff ;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0) 0px 15px 14px -15px;
    margin-top: 20px;
    background-image: linear-gradient(rgb(44, 105, 209), rgb(10, 188, 249));
    padding: 18px 20px;
    
}
.section-title-guide .button-guide:hover{
    scale: 1.09;
    transition:  0.5s ease-in-out;
}
.section-title-guide .image-people-guild {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}
.section-title-guide .image-people-guild img{
    width: 100%;
   
    border-radius: 30px;
 
    box-shadow: rgb(0, 0, 0) 15px 15px 20px -15px;
}
.section-title-guide .title-guild .introduce-guild{
    font-weight: bold;
    color: rgb(0, 0, 0) ;
    font-size: 32px;
}
.section-title-guide .title-guild .name-guild {
    font-weight: bold;
    font-size: 32px;
    color: rgb(0, 0, 0) ;
}
.section-title-guide .title-guild {
    padding: 0 34px;
}
.section-title-guide .list-job {
    padding: 0 52px;
    margin-top: 20px;
   
}
.section-title-guide .list-job li{
   
    font-size: 19px;
    padding: 2px 0;
    list-style:initial;
}

/* section-reason-submit */
.section-reason-submit {
    padding: 23px 0;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 63%;
    color: #fff;
}
.section-reason-submit .image-reason-bia {
    border: 2px solid #fff;
    border-radius: 12px;
    width: 100%;

}
.section-reason-submit .image-reason-bia img{
    width: 100%;

    border-radius: 12px;

}
.section-reason-submit .title-reason h2 {
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    font-weight: 700;
    font-size: 33px;
    font-weight: bold;
    
}
.section-reason-submit .title-reason {
    margin: 40px 0 50px 0;

}
.section-reason-submit  .step-business-start-people p{
    font-weight: bolder;
    font-size: 18px;
}
.section-reason-submit  .step-business-start-people {
    margin-bottom: 50px;
}
.section-reason-submit .step-business {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}
.section-reason-submit .name-people-reason {
    color: #ffd901;
}
.section-reason-submit .button-your-want-submit a{
    text-decoration: none;
    color: #fff;
}
.section-reason-submit .button-your-want-submit {
    display: flex;
    justify-content: center;
}
.section-reason-submit .button-your-want-submit .button {
    display: inline-block; 
    animation: scaleUp 2s infinite alternate;
    text-align: center;
    width: 42%;
    font-size: 17px;
    border: 2px solid #fff ;
    border-radius: 25px;
    background-image: linear-gradient(229deg, rgb(1, 46, 148), rgb(79, 108, 240));
    padding: 18px 26px;
    text-shadow: rgb(0, 0, 0) 1px 3px 5px;
}
/* .section-price */
.section-price {

    padding: 30px 0;
 
    background-color: #0125c7;

    
}

.section-price .header-title-price h2{
    font-size: 30px;
    color: rgb(255, 193, 8);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: rgb(0, 0, 0) 1px 3px 3px;
}
.section-price .header-title-price h3 {
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 24px;
    max-width: 80%;
    margin: auto;
}
.section-price .gold-price {
    margin-top: 32px;
}
.section-price .gold-price-background-image {
    display: flex;
    justify-content: center;
}
.section-price .gold-price-background-image img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(rgb(92, 71, 11) 0px 15px 20px);
}
.section-price .price-vnd-gold {
    margin-bottom: 15px;
    color: #fff;
   
}
.section-price .price-vnd-gold h2 {
    font-size: 29px;
    font-weight: bold;
    text-decoration-line: line-through;

}
.section-price .price-vnd-gold span{
    margin-left: 10px;
}
.section-price .free-title {
   
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(rgb(232, 183, 48), rgb(255, 255, 255));
    background-color: initial;
    background-size: initial;
    background-origin: initial;
    background-position: initial;
    background-repeat: initial;
    background-attachment: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}
.section-price .list-information-course {
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
    font-size: 16px;

}
.section-price .list-information-course li{
    margin: 10px 0;
}
.section-price .button-submit-course a{
    text-decoration: none;
    color: #0125c7;
    font-size: 14px;
    
}
.section-price .button-submit-course {
    position: absolute;
    bottom: 6%; 
    margin-top: 40px;
    font-weight: bold;
    color: #fff;
    max-width: 63%;
    border-radius: 7px;
    padding: 10px 15px;
    margin: auto;
    background-image:url(../image/backgroundbutton.png) ;
}




.section-price .gold-price-border-outside {
    width: 100%;
    margin-right: 10px;
}

.section-price .gold-price-background-image {
    position: relative;
}
.section-price .position-price-gold {
    position: absolute;
    top: 28%;
    left: 17%;
}

.section-price .power-success {
    margin-top: 45px;
    color: #fff;
}
.section-price .power-success .paragrap-information-power {
    font-size: 16px;
    width: 60%;
    margin: auto;
}
.section-price .power-success .paragrap-information-power p{
    line-height: 23px;
}
.section-price .power-success .map-information-power{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold ;

}
/* .section-form-buy */
.section-form-buy {
    background-image: url(../image/3608794-20240418092001-rkijz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 20px 0;
}
.section-form-buy .form-control {
    border-radius: 0px;
}
.section-form-buy .title-form-buy h3{
    color: #ffdf29;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    padding: 20px 0;
}
.section-form-buy .title-form-buy h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    padding: 5px 0 20px 0;
}
.section-form-buy  .border-form-buy {
    max-width: 85%;
    margin: auto ;
    padding: 30px 0;
    border: 1px solid #fff;
    background-image: linear-gradient(rgb(6, 39, 195), rgb(2, 119, 185));

}
.section-form-buy  .border-form-buy .title-form-main {
    margin-bottom: 22px;
}
.section-form-buy  .border-form-buy .title-form-main h2{
    font-size: 40px;
    display: inline-block;
    animation: scaleUp 2s infinite alternate;
    text-shadow: rgb(253, 196, 30) 1px 3px 6px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.section-form-buy  .border-form-buy .address-buy .time-price-address {
    margin: 10px 0;
}
.section-form-buy  .border-form-buy .address-buy p{
    color: #fff;
    font-size: 22px;
}
.section-form-buy .price-free-element {
    margin: auto;
    border: 2px solid #fff;
    border-radius: 30px;
    max-width: 38%;
    color: rgb(255, 255, 253);
    text-align: center;
    

    padding: 8px 10px;

}
.section-form-buy .price-free-element h3 {
    font-size: 18px;
    color: #fff;
    text-decoration-line: line-through;
}
.section-form-buy .price-free-element h2 {
    font-size: 25px;
    color: #fffffd;
    font-weight: bold;
} 
.section-form-buy .form-time-down {
    justify-content: center;
    font-size: 37px;
    font-weight: bold;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.section-form-buy .form-time-down .form-time-down-detail {
    
    border-width: 1px;
    border-radius: 14px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-image: radial-gradient(circle, rgb(106, 17, 203), rgb(37, 117, 252));
    padding: 15px 5px;

    height: 100%;
  
}
.section-form-buy .form-check-box {
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}
.section-form-buy .form-check-box .left-check-box  {
      display: flex;
    
      align-items: center;
}
.section-form-buy .form-check-box .left-check-box p{
    font-size: 17px;
}
.section-form-buy .form-check-box .right-check-box p{
    font-size: 17px;
}
.section-form-buy .form-check-box .right-check-box {
        display: flex;
  
        align-items: center;;
}
.section-form-buy .form-check-box .left-check-box span {
    margin-left: 6px;
    white-space: nowrap;
}

.section-form-buy .form-check-box .right-check-box span {
    margin-left: 6px;
    white-space: nowrap;
}


.section-form-buy .form-check-box .left-check-box input[type="radio"] {
    width: 22px;
    height: 22px;
}
.section-form-buy .form-check-box .right-check-box input[type="radio"] {
    width: 22px;
    height: 22px;
}
.section-form-buy .form-group {
    margin: 8px 0;
}
.section-form-buy .button-form-submit {
    margin-top: 40px;
    text-align: center;
}
.section-form-buy .button-form-submit button{
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 15px 30px;
    background-image: linear-gradient(rgb(246, 224, 83), rgb(251, 176, 52));
    text-decoration: none;
    color: #fff;

}

/* .section-some-student */
.section-some-student {
    padding: 30px 0;
}
.section-some-student .parent-box {
    position: relative;
}
.section-some-student .image-people-member {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: 30%;
    right: 89%;
    border: 3px solid rgb(77, 93, 251);
    border-radius: 50%;
}
.section-some-student  .section-title-some-student {

   margin: auto ;
   margin-bottom: 40px;
   box-shadow: rgb(0, 0, 0) 0px 15px 14px -15px;
    width: 45%;
  
}
.section-some-student .section-title-some-student h2{
    padding: 20px 10px;
    background-image: linear-gradient(rgb(10, 207, 254), rgb(73, 90, 255));
    color:#fff ;
    font-size: 23px;
    text-shadow: rgb(0, 0, 0) 1px 3px 6px;
    font-weight: bold;
    text-align: center;
    border-radius: 12px
}
.section-some-student .title-submit-today .today-background-information {
    width: 55%;
    margin: auto;
    margin-top: 30px;
    
}
.section-some-student .title-submit-today .today-background-information h2 {
    display: inline-block;
    animation: scaleUp 2s infinite alternate;
    box-shadow: rgb(0, 0, 0) 0px 15px 14px -15px;
    font-size: 34px;
    color: #fff;
    border-radius: 12px;
    text-shadow: rgb(0, 0, 0) 1px 3px 6px;
    padding: 15px 30px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(rgb(42, 245, 152), rgb(0, 158, 253));

}
.section-some-student .title-submit-today .today-background-information h3 {
    margin-top: 30px;
    font-size: 29px;
    color: #0125c7;
    text-align: center;
    font-weight: bold;
}



.section-some-student .information-member {
    min-height: 200px;
    border-radius: 27px;
    padding:15px 43px 8px 80px;
    background-color: #fff;
}
.section-some-student .information-member h2{
    font-size: 26px;
    color: #000000;
    margin-bottom: 5px;
}
.section-some-student .information-member h3 {
    font-size: 12px;
    color: #ff1515;
    font-style: italic;
    margin-bottom: 5px;
}
.section-some-student .information-member p {
    font-size: 17px;
    color: rgb(0, 0, 0);
    line-height: 1.4;
}

.section-some-student .image-people-member img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-some-student .information-member-parent {
    width: 80%;
    padding: 10px ;
    border-radius: 37px;
    background-image: linear-gradient(rgb(8, 200, 246), rgb(77, 93, 251));;
}
.section-some-student .member-student {
    margin-top: 100px;
}
.section-some-student .border-student {
   margin: 20px 15px 100px 0;
}
.section-some-student .set-between{
    justify-content:end;
}
/* footer-element */
.footer-element {
    background-image: url(../image/3608794-20240418092001-rkijz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 20px 0;
}
.footer-element .image-logo {
    margin: auto ;
    width: 200px;
}
.footer-element .image-logo img{
    width: 100%;
}
.footer-element .title-contact h2{
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.footer-element .title-contact h3{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.footer-element .title-contact  i{
    color: rgb(255, 216, 0);
    margin-right: 7px;
}
.footer-element .title-contact .span-icon-information{
    font-size: 22px;
    margin-left: 7px;

}
/* time down */

.section-header-page h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  #clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
  }
  
  #clockdiv > div{
      padding: 2px 5px 2px 5px;
      border-radius: 3px;
      background: #2897F8;
      display: inline-block;
  }
  
  #clockdiv div > span{
      padding: 10px;
      border-radius: 3px;
      background: #1281e2;
      display: inline-block;
  }
  
  .smalltext{
      padding-top: 5px;
      font-size: 16px;
  }
  .section-form-buy #clockdiv > div{
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
    background-image: radial-gradient(circle, rgb(106, 17, 203), rgb(37, 117, 252));
    display: inline-block;
}
.section-form-buy #clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
    background-image: radial-gradient(circle, rgb(106, 17, 203), rgb(37, 117, 252));
    display: inline-block;
}
@media (max-width: 1399px) {
    .section-price .position-price-gold {
      
        top: 27%;
        left: 16%;
    }
    .section-some-student .information-member {
        padding: 15px 18px 8px 45px;
    }
    .section-some-student .image-people-member {
        width: 140px;
        height: 140px;
    }
    .section-some-student .information-member h2{
        font-size: 23px;
    }
    .section-some-student .information-member p{
        font-size: 15px;
    }
}
@media (max-width: 1199px) {
    .section-header-page .button-register {
        margin-left: 10px;
        padding: 15px 23px;
        font-size: 16px;
    }
    .section-background-portrait .background-button-submit {
        width: 60%;
        font-size: 16px;
        border: 3px solid #fff;
        border-radius: 25px;
        background-color: #2897F8;
        padding: 15px 20px;
    }
    .section-more-learn .more-learn-title h2 {
        font-size: 24px;
       
    }
    .section-more-learn .left-more-learn .paragrap-more-learn {

        font-size: 19px;
    }
    .section-more-learn .button-submit-schedule .div-cover-button {

        font-size: 17px;
      
       
    }
    .section-produce-services .top-introduce {
        font-size: 26px;
    }
    .section-produce-services .bottom-introduce {
       
        font-size: 20px;
      
    }
    .section-some-student .section-title-some-student{
        width: 67%;
    }
  }
  @media (max-width: 1000px) {
    .section-header-page .header-title {
        font-size: 21px;
        
    }
    .section-header-page .button-register {
        margin-left: 10px;
        font-size: 11px;
        padding: 15px 6px;
       
    }
    .section-header-page .time-down {
        font-size: 19px;
    }
    .section-header-page .header-title .free-title {
        margin-left: 20px;
    }
    .section-schedule .content-class h2 {
     
        font-size: 40px;
    }
    .section-schedule .content-class p {
        font-size: 30px;
        
    }
    .section-title-guide .button-guide { 
        font-size: 11px;
    }
    .section-title-guide .title-guild .introduce-guild {
        font-size: 29px;
    }
    .section-title-guide .title-guild .name-guild { 
        font-size:29px ;
    }
    .section-title-guide .list-job li { 
        font-size: 15px;

    }
    .section-reason-submit .title-reason {
        margin: 20px 0 20px 0;
    }
    .section-reason-submit .title-reason h2 {

        font-size: 27px;
     
    }
    .section-form-buy .border-form-buy .title-form-main h2 {
        animation: none;
    }
    .section-reason-submit .step-business-start-people p {
       
        font-size: 16px;
    }
    .section-reason-submit .step-business-start-people {
        margin-bottom: 25px;
    }
    .section-reason-submit .step-business {
        font-size: 16px;
     
        margin-bottom: 25px;
    }
    .section-form-buy .form-check-box .left-check-box p{
        font-size: 15px;
        margin-left: 5px;
    }
    .section-form-buy .form-check-box .right-check-box p{
        font-size: 15px;
        margin-left: 5px;
    }
    .section-reason-submit .button-your-want-submit .button {

        width: 42%;
        font-size: 11px;
  
        border-radius: 25px;
    
        padding: 18px 10px;
       
    }
    .section-price .power-success .paragrap-information-power {
 
        width: 100%;
   
    }
    .section-form-buy  .border-form-buy .title-form-main h2{
        font-size: 27px;
    }
    .section-form-buy .title-form-buy h2 {
      
        font-size: 27px;
        
    }
    .section-form-buy .price-free-element {
        max-width: 52%;
    }
    .section-form-buy .border-form-buy .address-buy p {
       
        font-size: 19px;
    }
    .section-form-buy .form-check-box {
        font-size: 15px;
    }
    .section-form-buy .button-form-submit button {
        padding: 10px 15px;
    }
    .section-form-buy .button-form-submit {
        margin-top: 20px;
    }
    .section-some-student .information-member {
        padding: 15px 37px 10px ;
    }
    .section-some-student .image-people-member {
        width: 140px;
        height: 140px;
    }
    .section-some-student .information-member p {
        font-size: 14px;
    }
    .section-some-student .information-member h2 {
        font-size: 22px;
    }
    .section-some-student .set-between {
        justify-content: center;
    }
    .section-some-student .information-member-parent{
        width: 100%;
    }
    .section-some-student .section-title-some-student h2 {
        font-size: 20px;
    }
    .section-some-student .section-title-some-student{
        width: 80%;
    }
    .section-some-student .title-submit-today .today-background-information h2 {
        font-size: 25px;
    }
    .section-some-student .title-submit-today .today-background-information h3{
        font-size: 25px;
    }
  }
  @media (max-width: 800px) {
    /* .section-background-portrait .portrait-people img{
        width: 88%;
        
    }
    .section-background-portrait .portraint-tagname img {
        width: 88%;
    } */
    .section-background-portrait .portrait-people{
        padding: 0 26px;
    }
    .section-background-portrait .portraint-tagname {
        padding: 0 26px;
    }
    .footer-element .title-contact .span-icon-information{
        font-size: 16px;
    }
    .section-price .free-title {
        font-size: 37px;
    }
    #clockdiv {
       
        font-size: 15px;
    }
    #clockdiv > div {

    }
    .smalltext {
        padding-top: 5px;
        font-size: 9px;
    }
    .buy-title{
        width: 47%;
    }
    .section-header-page .time-down-and-resgister {
        justify-content: space-around;
    }
  }
  @media (max-width: 767px) {
    .section-header-page .time-down-and-resgister {
        margin-top: 20px;
        justify-content: start;
    }
    .section-header-page .header-title {
        font-size: 24px;
    }
    .section-header-page .header-title .free-title {
        margin-left: 20px;
    }
    .section-schedule .content-class h2 {
     
        font-size: 34px;
    }
    .section-schedule .content-class p {
        font-size: 25px;
        
    }
    .section-more-learn .left-more-learn .paragrap-more-learn {
        font-size: 14px;
    }
    .section-more-learn .more-learn-title h2 {
        font-size: 17px;
    }
    .section-more-learn .button-submit-schedule .div-cover-button {

        font-size: 11px;
    }
    .section-reason-submit .title-reason h2{
        text-align: center;
        font-size: 16px;
        animation: none;
    }
    .section-more-learn .button-submit-schedule {
     
        margin-top: 17px;
    }
    .section-more-learn .left-more-learn {
        margin: 8px 0;
    }
   
    .section-produce-services .top-introduce {
        font-size: 18px;
        padding: 0;
    }
    .section-produce-services .bottom-introduce {
       
        font-size: 15px;
        padding: 20px 10px;
      
    }
    .section-title-guide .button-guide { 
        padding: 18px 0;
        width: 30%;
    }
    .section-price .position-price-gold {
    
  
        left: 14%;
    }
    .section-price .header-title-price h2 {
        font-size: 22px;
    }
    .section-price .header-title-price h3  {
        font-size: 20px
    }
    .section-price .power-success .paragrap-information-power {
 
        width: 100%;
   
    }
    .section-some-student .information-member-parent {
        width: 100%;
    }
    .section-some-student .image-people-member {
        bottom: 44%;
        right: 86%;
    }
    .section-some-student .section-title-some-student {
        width: 92%;
  }
  .section-some-student .title-submit-today .today-background-information{
    width: 75%;
  }
  .section-background-portrait .image-information-map img{
    width: 65%;
  }
  .section-background-portrait .image-business img{
    width: 80%;
  }
  .section-background-portrait .image-success img {
    width: 65%;
  }
}
  @media (max-width: 575px) {
    .section-price .gold-price-background-image img {
        width: 65%;
        
    }
    .section-some-student .information-member {
        padding: 62px 37px 10px;
    }
    .section-price .position-price-gold {
        top: 33%;
        left: 31%;
    }
    .section-some-student .information-member-parent {
        width: 100%;
    }
    .section-some-student .parent-box {
        justify-content: center;
    }
    .section-some-student .image-people-member {
        bottom: 73%;
        right: 34%;
    }
    .section-some-student .image-people-member {
        width: 120px;
        height: 120px;
    }
    .section-some-student .title-submit-today .today-background-information h2 {
        font-size: 20px;
    }

  }
  @media (max-width: 499px) {
    .section-price .gold-price-background-image img {
        width: 100%;
        padding: 50px;
    }
    .section-price .position-price-gold {
        top: 33%;
        left: 26%;
    }
    .section-price .header-title-price h3 {
        font-size: 18px;
    }
    .section-price .header-title-price h2 {
        font-size: 20px;
    }
    .section-form-buy .price-free-element {
        max-width: 80%;
    }
    .section-form-buy .border-form-buy .address-buy p {
       
        font-size: 14px;
    }
    .section-some-student .parent-box {
        justify-content: end;
    }

    .section-form-buy .border-form-buy {
        max-width: 100%;
    }
    .section-header-page .header-title {
        font-size: 24px;
        justify-content: space-around;
    }
  }
  @media (max-width: 425px) {
    .section-some-student .information-member h2{
        font-size: 19px;
    }
    .section-some-student .information-member p{
        font-size: 12px;
    }
    .section-price .button-submit-course {
        bottom: 15%;
    }
    #clockdiv {
       
        font-size: 15px;
    }
    #clockdiv > div {

    }
    .smalltext {
        padding-top: 5px;
        font-size: 9px;
    }
    .buy-title{
        width: 47%;
    }
    .section-header-page .time-down-and-resgister {
        justify-content: space-around;
    }
  }
  @media (max-width: 400px) {
    .section-header-page .header-title {
        font-size: 19px;
    }
    .section-header-page .time-down {
        font-size: 15px;
    }
    .section-header-page .button-register {
    
        font-size: 11px;
   
    }
    .section-schedule .content-class h2 {
     
        font-size: 29px;
    }
    .section-schedule .content-class p {
        font-size: 20px;
        
    }
    .section-produce-services .top-introduce {
        font-size: 15px;
 
    }
    .section-produce-services .bottom-introduce {
       
        font-size: 12px;  
    }
    .section-title-guide .button-guide { 
        padding: 18px 0;
        width: 37%;
    }
    .section-price .list-information-course {
        
        font-size: 12px;
    }
    .section-price .price-vnd-gold h2 {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
    }
    .section-price .free-title { 
        font-size: 25px;
    }
    .section-price .button-submit-course {
        max-width: 83%;
    }
    .section-price .position-price-gold {
        top: 32%;
        left: 28%;
    }
    .section-form-buy .price-free-element {
        max-width: 90%;
    }
    .section-form-buy .border-form-buy .title-form-main h2 {
        font-size: 19px;
    }
    .section-form-buy .price-free-element h2 {
        font-size: 21px;
    }
    .section-some-student .information-member{
        padding: 60px 15px 10px 25px;
    }
  }
  @media (max-width: 350px) {
    .section-reason-submit .button-your-want-submit .button {
        width: 45%;
 
    }
    .section-price .gold-price-background-image img {

        padding: 20px;
    }
    .section-price .position-price-gold {
        top: 30%;
        left: 20%;
    }
    .section-price .list-information-course {
        font-size: 15px;
    }
    .section-price .button-submit-course {
        max-width: 76%;
    }
    .section-price .power-success .paragrap-information-power {
        font-size: 13px;
        width: 100%;
    }
    .section-price .power-success .map-information-power {

        font-size: 18px;
        
    }
    .section-form-buy .price-free-element {
        max-width: 95%;
    }
    .section-some-student .information-member h2 {
        font-size: 16px;
    }
    .section-some-student .information-member p {
        font-size: 11px;
    }
    .section-some-student .image-people-member {
        width: 120px;
        height: 120px;
    }
    .section-some-student .section-title-some-student h2 {
        font-size: 15px;
    }
    .section-price .button-submit-course {
        bottom: 9%;
    }
    #clockdiv {
       
        font-size: 15px;
    }
    #clockdiv > div {

    }
    .smalltext {
        padding-top: 5px;
        font-size: 9px;
    }
    .buy-title{
        width: 47%;
    }
  }
  





  