@font-face {
    font-family: "Vollkorn";
    src: url("/themes/godraw/fonts/Vollkorn-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vollkorn";
    src: url("/themes/godraw/fonts/Vollkorn-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vollkorn";
    src: url("/themes/godraw/fonts/Vollkorn-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body {
    /* font-family: 'Nunito Sans', sans-serif !important; */
    font-family: 'Vollkorn' !important;

}


.content-header{
	/* padding-top: 10px;*/
}

.logo-trailer-mobile{
    display: block;
}

.h-translate .lang-main a{
    background: transparent;
}


.sub-lang ul{
    flex-direction:column ;
}

.sub-lang {
    right: 23px;
    border: none;
}

.content-form-modal{
	padding-bottom: 15px !important;
}

.list-form-item .item{
	margin-bottom: 20px;
}

.icon-user-head img{
	height: 45px !important;
	padding: 5px;
}

.icon-user-head .sub-user{
	top: 45px !important;
}

.text-yeallow-menu{
    color: #f7cc5b !important;
    transition: all 0.3s linear;
}

.text-yeallow-menu:hover{
    color: #76612b !important;
    transition: all 0.3s linear;

}

.content-header a{
	color: #fff ;
}

.content-header a:hover{
	color: #4A7DCE ;
}



.content-header a {
    font-size: 19px;
    text-transform: uppercase;

}

.btn-main a {
    font-weight: 700;
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
	transition: all .2s ease-in-out;
}

.btn-main a:hover { 
    filter: brightness(0.9);
    transition: all .2s ease-in-out;

}

.title-slide-vote img {
    width: 50px;
}

.title-slide-vote {
	font-size: 23px;
}

.title-slide-vote span {
    font-size: 23px;
    font-weight: 700;
}

.slide-top .slick-track {
    padding: 14px 0;
}

.slide-top .item-avr {
	transition: all .2s ease-in-out;
}

.slide-top .item-avr:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.03);  
	cursor: pointer;
}

.header-pc ul li a {
    font-weight: 700;
}

.view-all.all-top-view a:hover {
	color: #FDCD07;
}

img.btn-client {
    max-width: 300px;
    display: block;
    margin: 10px auto 0 auto;
	transition: all .2s ease-in-out;
}

img.btn-client:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.1);  
}

img.header-client {
    max-width: 600px;
    display: block;
    margin: 0 auto 20px auto;
}

.zoom-effect {
	transition: all .2s ease-in-out;
	color: #fff;
}

.zoom-effect:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.05);  
	color: #fff;
}

.btn-effect {
	transition: all .2s ease-in-out;
}

.btn-effect:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.08);  
}

img#go-now1 {
    max-width: 60px;
    position: absolute;
    top: 30%;
    left: 20%;
}

img#go-now3 {
    max-width: 60px;
    position: absolute;
    right: 28%;
    top: 50%;
}

img#go-now2 {
    max-width: 60px;
    position: absolute;
    bottom: 20%;
    right: 60%;
}

img.khung-tranh {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}

.item-for .avr img {
    /* padding: 65px; */
    max-height: auto;
    height: auto;
    width: auto;
    position: relative;
}

.slide-bot .item-slide{
    /* border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden; */
    /* box-shadow: 0 -5px 24px -5px #888888; */
}

.slide-bot .item-for{
    background-color: #0b192a;
}

.slide-bot{
    box-shadow: 0 -5px 24px -5px #888888;
    border-radius: 20px;
}

.slide-bot .slider-for .slick-list{
    /* box-shadow: 0 -5px 24px -5px #888888;
    border-radius: 20px; */

}

.slide-bot .slider-for{
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

.logo img {
    max-width: 245px;
}

.avr {
    display: flex;
    justify-content: center;
}

.background

/* Cập nhật mới 17/11*/
/* header */
.header-pc ul li a{
    font-size: 18px;
}

/* trang chủ */
.social-home{
    z-index: 9;
}

.btn-effect:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.08);
    filter: brightness(0.7);
}

.h-user ul li a.login:hover{
    /* background: #0046ab; */
    filter: brightness(0.7);
    transition: all .2s ease-in-out;


}

.content-header {
	height: 81px;
}

.h-menu ul li {
	margin-right: 20px;
	padding: 0 10px;
}

.h-menu a {
	height: auto;
}

.slider-hot-nav{
    padding: 0 74px;
}

.h-menu > ul > li {
    height: 82px;
    display: flex;
}

/* .h-menu ul li li:hover{
    border-bottom: 3px solid #fff;
} */

.h-menu > ul > li:hover {
    border-bottom: 3px solid #fff;
}

.slider-nav .item-avr img:hover{
    filter: brightness(0.5);
}

.button-login-red{
    padding: 0;
    /* background: #EC2024; */
    color: #fff;
    /* border: 1px solid #fff; */
    border-radius: 80px;
    height: 62px;
    width: 300px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.3s linear;
    color: #EC2024 !important
}

.button-login-red a{
    color: #EC2024 ;
    font-size: 20px;
    font-weight: bold;

}

.button-login-red a:hover{
    /* background-color: #a30b0e; */
    transition: all 0.3s linear;
    color: #941c1e;

}

.list-form-item .item.item-submit {
    gap: 26px;
    transform: translatey(-25px);
}

.list-form-item .item .btn_field:hover{
    background-color: #0046ab;
}


.h-menu .submenu ul li{
    display: block;
}

.h-menu .submenu ul li{
    width: 100%;
    max-width: 100%;
}

.h-menu .submenu ul{
    flex-direction: column;
}

.h-menu .submenu ul li a{
    border-radius: 0;
}

.h-menu .submenu ul li:first-child a{
    border-radius: 6px 6px 0 0;
}

.h-menu .submenu ul li:last-child a{
    border-radius: 0 0 6px 6px;
}

.h-menu .submenu{
    width: 142px;
}

.h-menu .submenu{
    right: -25%;
}

.h-menu li:nth-child(2) .submenu{
    right: -87%;
}

.head-form{
    display: flex;
    justify-content: space-between;
}

.button-login-red{
    /* margin-right: 40px; */
}

.h-menu > ul > li:nth-child(4){
    position: relative;
}

.h-menu > ul > li:nth-child(4):before{
    content:"";
    background-image: url(/plugins/starred.png);
    position: absolute;
    top: 20px;
    right: 0;

}

.footer-page{
    /* display: block !important; */
}

.box-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.item-slide-relative{
    /* position: relative; */
}

.h-user ul li:first-child a:hover{
    /* background-color: #3358b6; */
    transition: all 0.3s linear;
    filter: brightness(0.9);
}

.h-user ul li:first-child a{
    transition: all 0.3s linear;

}


.slide-top .slick-arrow {
    position: absolute;
    z-index: 2;
    top: calc(50% - 30px);
}

.slide-top .slick-arrow img{
    height: 48px;
}

.slide-top .slick-arrow.arr-left {
    left: -60px;
}

.slide-top .slick-arrow.arr-right {
    right: -60px;
}

.header-pc ul li a{
    text-transform: capitalize;
}

.head-form h3 {
    font-size: 20px;
    font-weight: bold;
}

.list-form-item .item .btn_field{
    font-size: 27px;
}

.avarta-intro .logo{
    display: none;
}

.h-user ul li a.login{
    background-image: url("/themes/godraw/images/button_2.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.h-user ul li a.dangky{
    background-image: url("/themes/godraw/images/button_3.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.btn-main a{
    background-image: url("/themes/godraw/images/button_1.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 57px;
}

.list-form-item .item .btn_field{
    background-image: url("/themes/godraw/images/button_2.svg") ;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border: none;
    background-color: transparent;
}

.list-form-item .item .btn_field{
    width: 267px;
}

.list-form-item .item .btn_field:hover{
    background-color: transparent;
}

.avarta-intro .btn-main a{
    background-color: transparent;
}

.btn-main a {
    height: 69px;
}

.wrapper-intro .content-intro video, .wrapper-intro .content-intro img {
    /* scale: 0.9; */
}

.wrapper-intro .content-intro video, .wrapper-intro .content-intro {
    /* background-image: url("/themes/godraw/images/frame_go.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    
}

.wrapper-intro .content-intro video, .wrapper-intro .content-intro .video-background{
    /* background-image: url("/themes/godraw/images/frame_go.svg") ; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 99;
    height: 100%;
    text-align: center;
}

.wrapper-intro .content-intro video, .wrapper-intro .content-intro video{
    width: 100%;
    /* height: 600px; */
    height: auto;
    object-fit: cover;
    /* position: absolute;
    top: 71px;
    left: 121px; */
    z-index: 10;
    /* border-radius: 25px; */
    /* border: 20px solid transparent;
    border-image: linear-gradient(to right, #a42119, #57110d);
    border-image-slice: 30;
    border-image-width: 30px;
    border-image-outset: 10px;
    border-image-repeat: round; */
    border-radius: 23px; /*1*/
    border: 13px solid transparent; 
    background: linear-gradient(45deg,#a42119,#ff3529) border-box; 
    -webkit-mask-composite: xor;
            mask-composite: exclude; 

    /* scale: 0.8; */
}


.box-banner-home .social-intro{
    /* right: 160px */
}

.box-banner-home .social-intro ul li {
    margin: 0 5px 0 0;
}

.wrapper-intro .content-intro video, .wrapper-intro .content-intro video::before{
    content: "";
}

.border-video{
    position: absolute;
    top: 70px;
    right: 132px;
    /* bottom: 89px; */
    left: 136px;
    border-radius: 50px;
    border: 21px solid transparent;
    background: linear-gradient(45deg,#57110d,#a42119) border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -2;
    height: 600px;
    display: none;
}


.image-user{
    width: 34px;
}

.slide-relative{
    position: relative;
}

.avr-top{
    display: flex;
    justify-content: center;
}

.box-banner-home .btn-main {
    bottom: -40px
}

.btn-main-first{
    bottom: 0 !important;
}


.content-footer{
    background-color: rgb(12, 43, 82);
}

.box-banner-home .btn-main {
    padding: 0;
}

.box-banner-home .social-intro {
    /* bottom: -149px; */

}

.info-form-user{
    max-width: 400px;
}

.wrapper-user {
    max-width: 804px
}

.buttom-volume{
    position: absolute;
    right: 0;

}

.buttom-volume.hidden {
    display: none;
}

.sub-form .txt_field{
    width: 267px;
}

.btn-mm-mobile ul{
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}

.btn-mm-mobile ul li {
    max-width: 100%;
}

.social-mobile{
    display: none;
}

.header-mobile{
    /* display: none; */
}

.icon-screen{
    display: none !important;
}

.like-imageDetail img{
    width: 44px;
}

.like-imageDetail{
    position: absolute;
    right: 4%;
    top: 7%;
}

.avar-detail{
    position: relative;;

}

.background-inner-video{
    position: relative;
    max-width: 940px;
    margin:0 auto;
    padding-bottom: 120px;
}

.logo-trailer-mobile img{
    width: 127px;
}

.close-intro{
    top: -45px;
    right: -45px
}

.logo-trailer-mobile{
    display: block;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;

}

.wrapper-intro{
    top: 30px;
}

.box-banner-home .social-intro img {
    width: 44px !important;
}

.box-banner-home .social-intro{
    bottom: 15px;
}

.sub-lang img{
    height: 24px;
}
.h-translate .lang-main a img{
    height: 24px;
}

.item-for .avr img {
    position: relative !important;
}

header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.box-gallery {
    padding-top: 60px
}

.fp-watermark{
    display: none;
}

@media (min-width: 1920px) and (min-height: 1080px){
    .logo-trailer-mobile{
        margin-bottom: 20px;
    }

    .background-inner-video{
        position: relative;
        max-width: 1205px;
        margin:0 auto;
    }

    .box-banner-home .social-intro img {
        width: 56px !important;

    }

    .box-banner-home .social-intro ul{
        gap: 10px
    }
}

@media(max-width: 1440px){
    .background-inner-video{
        position: relative;
        max-width: 740px;
        margin:0 auto;
    }

    .wrapper-intro{
        top: 30px
    }

    .box-banner-home .social-intro img {
        width: 35px !important;
    }

}



@media (max-width: 1023px) {
    main{
        height: 100vh;

    }

    .box-banner-home .social-intro img {
        width: 35px !important;
    }

    body{
        height: 100vh;

    }

    .full-home-slider .item-slide{
        /* height: 100vh; */
    }

    

    .slide-bot {
        height: 100vh;
    }
    
  }



@media(max-width: 500px)  {
    .box-gallery{
        padding: 0;
    }

    .content-mm-mobile ul li{
        margin-right: 0;
        margin-bottom: 2px;
    }

    .box-banner-home .social-intro {
        bottom: -100px
    }

    .background-inner-video{
        padding-bottom: 175px;
    }

    .header-mobile-height{
        /* height: 60px; */
    }


    /* #slide-home{
        height: 100vh;
    }

    #slide-home-top{
        height: 100vh;
    }

    #slide-home-service{
        height: 100vh;
    }

    #slide-home-shop{
        height: 100vh;
    } */

    .slide-bot {
        height: 100%;
    }

    .slide-bot .slider-for{
        border: none;
        border-radius: 0;
    }

    .box-gallery{
        position: relative;
        height: 100%;
    }

    .avr{
        height: 100%;
    }

    .header-mobile{
        min-height: 45px;
        padding: 10px 0;
    }

    .header-trailer .header-mobile{
        display: none;
    }

    .avarta-intro .btn-main a{
        background-image: none;
        background-color: #EC2024;
    }


    .social-home{
        display: none;
    }

    .social-mobile ul{
        display: flex;
        gap: 10px

    }

    .social-mobile ul li{
        list-style: none;
    }

    .close-intro {
        right: 14px
    }

    .social-mobile{
        display: block;
        position: absolute;
        z-index: 100;
        
    }

    .social-mobile img{
        width: 40px;
        height: auto;
    }

    .social-mobile{
        top: 69%;
        height: auto;
        right: 22%;
    }

    .logo-trailer-mobile{
        display: block;
    }


    .wrapper-intro .content-intro video, .wrapper-intro .content-intro video{
        background: transparent;
        border: none;
        border-radius: 0;
    }

    .box-banner-home .social-intro ul{
        gap: 15px;
    }

    .box-banner-home .social-intro li a img{
        width: 39px !important;
    }


    .btn-main-first {
    /* bottom: 197px !important; */
    z-index: 100 !important;
    }

    .wrapper-intro{
        padding: 0;
    }


    header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        /* display: none; */
    }
  

    .nav-mobile{}

    /* main.main-cover{
        height: 86vh;
    } */

    .all-top-view{
        display: block;
    }

    .wrapper-intro .content-intro video, .wrapper-intro .content-intro video{
        width: 100%;
        height: auto;
        left: 0;
        top: 23%;
    }


    .border-video {
        top: 128px;        
        left: 0;
        right: 0;
        height: 225px;
    }

    .btn-main-first {
        display: block !important;
        bottom: 167px
    }

    .box-gallery .view-all{
        /* top: 138px; */
        z-index: 10;
        bottom:7px;
        /* background-color: #0046ab; */
        padding: 5px;
        display: none !important;
    }

    .box-gallery .view-all a{
     display: flex;
    /* background-color: #0046ab; */
    padding: 6px;
    border-radius: 3px;
    }


    .box-banner-home .btn-main{
        display: none
    }

    img.khung-tranh{
        display: none;
    }

    .item-for .heart{
        display: none;
    }

    .title-slide-vote{
        top: 0;
        bottom: 773px;
    }

    .slide-bot {
        top: 0
    }

    .slider-hot-nav{
        /* top: 622px; */
        bottom: 159px;
        background-color: rgb(0,0,0,0.5);
    }

    .box-toturial{
        /* transform: translateY(136px); */

    }

    .content-search img.header-client{
        max-width: 100%;
    }

    .head-search {
        transform: translateY(-64px);
    }

    img.btn-client {
        max-width: 200px;
    }

    .border-video{
        background: transparent;
        border-width: 0;
    }

    .wrapper-intro .content-intro video, .wrapper-intro .content-intro img{
        scale: 1;
    }

    .item-for {
        height: 100%;
    }

    .social-home{
        padding-bottom: 0
    }

    .item-for .avr img{
        height: 100%;
        padding: 0;

    }

  

    .slider-hot-nav{
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0 13px
    }

    .slider-nav .item-slide {
        padding: 0 3px;
    }
    

    .social-home img {
        width: 28px;    
    }

    .box-banner-home .video-banner video, .box-banner-home .video-banner .videohome {
        height: 100%;
        /* transform: translateY(119%); */
    }

    .social-home ul{
        flex-direction: column;
        gap: 8px;
    }

    .social-home{
        width: auto;
        left: -21px;
        top: 37%;

    }

    .title-slide-vote span {
        font-size: 19px;
    }

    .zoom-effect {
        font-size: 19px;
    }

    .title-slide-vote{
        right: 0;
        left: 11%;
        width: 80%;
        top: 117px;
        bottom: 677px;
        height: 67px;
        background: rgb(0,0,0,0.5);
        border-radius: 30px;
    }


    .video-background .logo-mm img{
        position: absolute;
        width: 111px;
        height: auto;
        transform: translateX(120%);
    }

}

@media(max-width: 417px) {
    /* .slider-hot-nav{
        top: 500px;
    } */

    .slider-hot-nav .slick-dots{
        bottom: -20px
    }

    .item-for .avr img {
        top: 0
    }

    .title-slide-vote {
        top: 175px
    }

}

@media (max-height: 715px) and (min-height: 668px){
    .slider-hot-nav{
        /* top: 469px; */
        /* display: none; */
    }

    .title-slide-vote {
        top: 76px
    }

    .box-toturial {
        /* transform: translateY(63px); */
    }
}

@media(max-width: 400px) {
    .slider-hot-nav{
        /* top: 400px; */
    }

    .item-for .avr img{
        padding: 0;
    }

    /* .title-slide-vote{
        top: 0;
        bottom: 667px;
    } */

    
}

@media(max-width: 390px) {
    .slider-hot-nav {
        /* top: 673px; */
    }

    .slider-hot-nav .slick-dots{
        bottom: -21px;
    }

    /* .title-slide-vote {
        top: 59px
    } */

    .title-slide-vote img {
        width: 34px;
    }

    .social-mobile{
        top: 69%;
        height: auto;
        right: 17%;
    }

}


@media(max-width: 376px) {
    .slide-bot {
        top: 0
    }

    /* .title-slide-vote{
        top: 25px;
    } */

    .slider-hot-nav{
        /* top: 473px; */
    }

    /* .social-mobile{
        top: 71%;
    } */

    .box-toturial {
        /* transform: translateY(92px); */
    }

    .item-for {
        height: 100%;
    }

    /* .box-gallery .view-all {
        top: 105px
        
    } */

    .item-for .avr img{
        top: 0;
    }

    .box-gallery .view-all {
        /* top: 166px; */
    }

    /* .title-slide-vote {
        top: 112px
    } */

    .slider-hot-nav .slick-dots{
        bottom: -21px;
    }

    .title-slide-vote {
        top: 115px;
    }
}