/* Header */
header{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

/* .sticky{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
} */


.navbar-header .nav-item .nav-link{
    color: #000;
    font-weight: 300;

}

.topbar-mobile-inner{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}


.topbar-mobile-inner .topbar-button img{
    width: 21px;
    height: auto;
}

.topbar-mobile-inner .topbar-logo img{
    height: 21px;
}

.topbar-mobile{

}

.nav-item-last{
    background-color: #EF5B36;
 
}

.nav-item-last a{
    color: #fff !important;
}

/* breadcrumb */
#section-breadcrumb{
    margin-top: 137px;
}

header{
    box-shadow: 0 -5px 24px -5px #888888;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 1400px;
}

.group-button-login .btn{
    margin-top: 44px;
    width: 100%;
    font-size: 21px;
    background-color: #011436;
    border-radius: 3px;
    border-color: transparent;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 21px;
}
    
.group-button-login{
    text-align: center;
}

.forgotpassword{
    color: #000;
}

.modal-right .btn{
    margin-top: 44px;
    width: 100%;
    font-size: 21px;
    background-color: #011436;
    border-radius: 3px;
    border-color: transparent;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 21px;
}

.modal-forgotpass .modal-dialog{
    max-width: 22%;
}

.modal-forgotpass .modal-right .form-control{
    font-size: 20px;
}

.modal-forgotpass .modal-right .form-control::placeholder{
    font-size: 20px;
}

.modal-forgotpass .modal-right .btn {
    margin-top: 15px;
}

.forgot-bottom{
    text-align: center;
}

.forgot-bottom a{
    color:rgb(25, 117, 169);
}

.forgot-text-title{
    font-size: 30px;
    margin-bottom: 19px;
}

.forgot-text{
    font-weight: 200;
}

.modal-forgotpass .modal-right {
    margin-top: 46px !important;
    margin-bottom: 55px ;
}

.modal-forgotpass .or-login {
    margin-bottom: 40px
}

#img1{
    width: 100%;
}

.edit-user-photo .d-flex{
    overflow: hidden;
}

.m_bg_img{
    margin-top: 15px;
}

.form-group-user{
    display: flex;
    align-items: center;
}

.detail-file label{
    width: 144px;
    font-weight: 400;
    margin-bottom: 0;
}

.form-group-user .form-control{
    font-weight: 400;
    font-size: 14px;
}

.detail-file .button-submit-custom {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #011436;
    color: #fff;
    width: auto !important;
    border: none;
    margin-left: auto;
    margin-right: 8px;
}

.input-password{
    width: 70%;
}

.detail-change-password{
    margin-top: 24px;
}

.cart-button-buy input{
    display: block;
    color: #fff;
    background-color: #008BCF;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    border: none;
}

.enter-code-discount a{
    border-color: transparent;
    font-size: 12px;
    font-weight: 200;
    background-color: #F1F2F2;
    padding: 4px 16px;
    display: block;
    cursor: pointer;
}

.enter-code-discount{
    display: flex;
}

.breadcrumb-item a{
    color: #6D6E71;
    font-weight: 200;
    font-size: 14px;
}

.breadcrumb-item.active{
    font-weight: 200;
    font-size: 14px;
}

.demo-inline-spacing{
    margin-top: 15px;

}

.demo-inline-spacing .page-item.active .page-link{
    background-color: #011436;
    border-color: transparent;
}

.demo-inline-spacing .page-item.first .page-link{
    color: #011436;
}

.demo-inline-spacing .page-item.last .page-link{
    color: #011436;
}

.search-category-product input{
    font-weight: 200;
}

#section-cateogry-product .product-name a{
    margin-top: 5px;
    height: 32px;
    margin-bottom: 15px;
    font-weight: 300;
}

.form-select-sm{
    font-weight: 300;
}

#section-cateogry-product .product-img{
    height: 221px;
    padding-top: 10px;
}

.top-deal{
    min-height: 1155px;
}

.product-progress{
    overflow: hidden;
}

.cart-product-gift-item .product-button-cart-add a{
    font-size: 14px;
    font-weight: 200;
    display: block;
    text-align: center;
    color: #939598;
    padding: 4px 0;
    border: 1px solid #E6E7E8;
    margin: 10px 20px;
}

.product-name a{
    margin-top: 10px;
}

.cart-product-gift-item {
    padding:0 6px;
}

.cart-left-bottom{
    margin-bottom: 30px;
    border-radius: 10px;
}

.table-top{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #EAEBEB;
}

.table-border{
    border-radius: 10px;

}

.table-top .table{
    margin-bottom: 0;
}

.table-border{
    margin-top: 15px;
}

.menu-blog-detail{
    margin-top: 26px;
    background-color: #DBF7FE;
    height: 627px;
    padding-top: 28px;
    padding-left: 36px;
    padding-right: 49px;
    border-radius: 16px;
}

.blog-detail-description{
    margin-top: 35px;
}


#table-of-contents h2{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

#toc-list li{
    font-size: 20px;
    margin-bottom: 21px;
}

#toc-list li a{
    color: #000;
    line-height: 1.2;
}

#section-describe{
    margin-top: 80px;
}

.pro-review-slide .slick-arrow {
    font-size: 31px;
}

.product-slide-left-img img{
    width: 100%;
    object-fit: cover;
}


.group-viewed-product .table td{
    vertical-align: middle;
}
/* blog */
.form-search-blog{
    margin-top: 21px;
}

.form-search-blog .form-control{
    font-weight: 200;
}

.main-blog-left-title a{
    line-height: 1.4;
}

/* blog chi tiết */
.big-blog-detai{
    padding-right: 43px
}

/* Cart */
#section-cart{
    margin-top: 43px;
}

.table-cart-right .logo-voucher{
    width: 35%;
}

.table-cart-right .list-code-discount .check-voucher{
    margin-left: 0 !important;
}

.table-cart-right .list-code-discount .voucher .detail-voucher {
    left: 0;
    right: 0;
}

.table-cart-right .infor-voucher {
    width: 51%;
    border-left: 1px solid #000;
}

.table-cart-right .logo-voucher h3{
    border: none;
}

.dropdown-image-item-title{
    color: #000;
}

#section-order{
    margin-top: 36px;
}

/* Chính sách bảo hành */
#content-policy h4{
    font-weight: 400;
}

#content-policy ol li{
    font-size: 14px;
    font-weight: 200 !important;
}

#content-policy ol{
    line-height: 1.4;
}

#content-policy ul li{
    font-size: 14px;
    font-weight: 200 !important;
}

#content-policy ul{
    line-height: 1.4;
}

.active-policy p{
    font-weight: 200;
}

.detail-policy .end-text{
    font-weight: 400;
}

#policy .nav-tabs li.active{
    /* border-bottom: 2px solid #008ACE; */
}

#policy .nav-tabs a.active{
    color: #008ACE !important;
    border-bottom: 2px solid #008ACE;
    display: block;

}

#policy .nav-tabs a{
    display: block;
}

.menu-form-search .form-control{
    font-weight: 200;
    font-size: 14px;
}

/* #policy .nav-tabs li a:focus{
    border-bottom: 2px solid #008ACE;
} */

#policy .nav-tabs li{
    width: 50%;
    text-align: center;
}

/* Liên hệ */
#formContact button{
    background: #235FD5;
}

/* cart */
.enter-code-discount a{
    margin-left: 5px;
    line-height: 17px;
}

/* #section-cart .list-code-discount > div:nth-child(1) .logo-voucher h3{
    color: #000
}

#section-cart .list-code-discount > div:nth-child(2) .infor-voucher{
    color: #008BCF !important
} */

/* #section-cart .list-code-discount > div:nth-child(3) .logo-voucher h3  {
    color: #ED1C24 !important;
}

#section-cart .list-code-discount > div:nth-child(3) .infor-voucher h4{
    color: #ED1C24 !important;
}

#section-cart .list-code-discount > div:nth-child(3) .infor-voucher p{
    color: #ED1C24 !important;
} */

/*  */

.list-code-discount .list-code-item:nth-child(1) .btn-voucher .detail-voucher h3 {
    color: #212529
}

.list-code-discount .list-code-item:nth-child(2) .btn-voucher .detail-voucher h4 {
    color: #008BCF
}

.list-code-discount .list-code-item:nth-child(2) .btn-voucher .detail-voucher p {
    color: #008BCF
}

.list-code-discount .list-code-item:nth-child(3) .btn-voucher .detail-voucher h3 {
    color: #ED1C24
}

.list-code-discount .list-code-item:nth-child(3) .btn-voucher .detail-voucher h4 {
    color: #ED1C24
}

.list-code-discount .list-code-item:nth-child(3) .btn-voucher .detail-voucher p {
    color: #ED1C24
}


/*  */

.list-code-discount .list-code-item:nth-child(1) .voucher-disabled .detail-voucher h3 {
    color: #a7a7a7
}

.list-code-discount .list-code-item:nth-child(2) .voucher-disabled .detail-voucher h4 {
    color: #c4cfe9
}

.list-code-discount .list-code-item:nth-child(2) .voucher-disabled .detail-voucher p {
    color: #c4cfe9
}

.list-code-discount .list-code-item:nth-child(3) .voucher-disabled .detail-voucher h3 {
    color: #dfa7a9
}

.list-code-discount .list-code-item:nth-child(3) .voucher-disabled .detail-voucher h4 {
    color: #dfa7a9
}

.list-code-discount .list-code-item:nth-child(3) .voucher-disabled .detail-voucher p {
    color: #dfa7a9
}

/* Chi tiết sản phẩm */
.product-detail-group-button a{
    cursor: pointer;
}

.table-cart-right .logo-voucher{
    text-align: center;
}

.people-like button{
    background-color: transparent;
    border: none;
}

.qty-count-minus{
    border:1px solid transparent !important ;

    border-right: 1px solid #939598 !important;
}

.qty-count-add{
    border:1px solid transparent !important;

    border-left: 1px solid #939598 !important;
}

/* Profile */

#my-address .address{
    margin: 0;
}

.up-address .btn-group a{
    font-size: 12px;
    color: #008BCF;
    font-weight: 300;
    line-height: 16px;
}

.view-product{
    padding: 20px;
}

#my-address .address{
    padding-left: 0;
}

#basicModal .modal-footer button{
    background-color: #008BCE;
}

/* review */
.title-review-product p {
    width: 43%;
}

.double-line-2 {
    width: 308px;
}

.list-video .detail-review-video p{
    font-weight: 400;
}

.image-unbox iframe{
    width: 100%;
    height: 600px;
}

.list-filter-rate-list {
    width: 100%;
}

.flex-rate{
    padding-left: 70px;
}

#super-sale .list-code-discount .voucher{
    width: 50%;
}

#super-sale .voucher .detail-voucher{
    left: 0;
    right: 0;
}

#super-sale .voucher .logo-voucher{
    width: 37%;
}

/* footer */
.footer-blog-contact .input-blog-contact input{
    width: 140px;
    font-size: 11px;
}

.footer-blog-contact .input-blog-contact input::placeholder{
    font-size: 11px;
}

.footer-blog-contact .input-blog-contact button{
    font-size: 11px;
    width: auto;
}

.footer-blog-contact .input-blog-contact{
    justify-content: start;
}

.footer-blog-contact .title-section-sub{
    text-align: left;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 15px !important;
    padding-right: 69px;
}

/* sale */
.group-deal .product-item{
    margin-bottom: 60px;
}

.group-deal .product-item .product-name a{
    height: 37px;
}

.best-sale-name a{
    margin-top: 5px;
}

.top-deal .group-deal .list-product-1{
    margin-bottom: 0;
}

#content-policy ul{
    font-weight: 200;
}

.item-star-rating {
    margin-right: 3px;
}

/* Sửa trang chủ */
/* Tiêu đề */
.title-section h2{
    font-weight: 400;
}

.flash-sale-title{
    font-weight: 400 !important;
}

#section-flash-sale .flash-sale-link a{
    font-weight: 200;
}


.topbar-phone span{
    font-weight: 300;
}

.topbar-button a{
    font-weight: 300;
}

.navbar-header .nav-item .nav-link::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #008ACE ;
    -webkit-transition: opacity .3s ease,width .3s ease;
    -moz-transition: opacity .3s ease,width .3s ease;
    -o-transition: opacity .3s ease,width .3s ease;
    transition: opacity .3s ease,width .3s ease;
    -ms-transition: opacity .3s ease,width .3s ease;
}

.navbar-header .nav-item .nav-link:hover::after {
    width: 100%;
}

.navbar-header .nav-item .nav-link.show{
    border: none;
    color: #008ACE 
}

.dropdown-toggle::after{
    border: none;
}

.navbar-header .nav-item .nav-link.show::after {
    width: 100%;
}

.navbar-header .dropdown-item{
    font-weight: 200;
}

/* Sản phẩm trang chủ */
.best-sale-name a{
    font-weight: 300;
    line-height: 1.4;
}

.best-sale-price{
    font-weight: bold;
}

.best-sale-discount{
    font-weight: 200;
}

.rate-sold p{
    font-weight: 300;
}

.rate-star p{
    font-weight: 300;
}

.topbar-button:first-child img{
    height: 34px;
}

.banner-home-slide .slick-list{

  height: 622px;
}

.banner-home-slide .slick-track{
    height: 100%;
}

.home-category-big .category-home-img{

}

.home-category-big .category-home-img {
    height: auto;
}

.best-sale-info{
    padding: 0 15px
}

.menu-footer {
    padding: 0 12px;
}

.home-category-small .category-home-img{
    height: auto;
    /* max-height: 627px; */
}

.navbar-header .dropdown-menu {
    padding-bottom: 10px;
}

.navbar-header .dropdown-menu li:last-child{
    border-bottom-color: transparent ;
}

.best-sale-item .best-sale-name a{ 
    height: 34px;
}

/* Khuyến mãi */
.product-price{
    font-weight: bold;
}

#section-comment-customer{
    margin-top: 51px;
}

.navbar-header .nav-item .nav-link {
    margin: 0 23px;
}

.nav-item-last .nav-link{
    margin: 0 10px !important;
}

.slide-rate-image .slick-list{
    height: 600px;
}

.blog-slide-item .blog-slide-title a{
    height: 43px;
}

.info-user-box #mess{
    margin-top: 10px;
    font-size: 14px;
    
}

.topbar-phone span{
    font-size: 13px;
}

.rate-best-item{
    font-size: 12px;
}

.ribbon-top-right span{
    font-size: 17px;
}

.best-sale-price{
    font-size: 23px;
}

.topbar{
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid  #EAEBEB;
}

.navbar-header .nav-item .nav-link{
    padding: 0;
}

.nav-item-last{
    padding: 14px 0;
    margin-left: 23px !important;
}

.topbar-phone img{
    height: 24px;
}

#section-comment-customer .title-section h2{
    font-size: 38px;
}

#section-tell .title-section h2{
    font-size: 38px;
}

.flash-sale-link img{
    width: 6px;
    height: auto;
    margin-left: 8px;
    margin-bottom: 2px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  .advertisement-home-item{
    height: auto;
  }

  .topbar-logo{
    text-align: left;
  }

  .topbar-group-button {
    gap: 19px
}

.topbar-logo {
    padding-left: 26px
}

.navbar-header{
    /* margin-bottom: 15px; */
}

/*  */
#section-cateogry-product .product-price{
    font-weight: bold;
    font-style: 20px;
    margin-bottom: 8px;
}

.product-discount{
    font-size: 14px;
}

#review .nav-tabs {
    width: 841px;
}

/* Chi tiet */
.product-like-slide .product-price{
    font-weight: bold !important;
}

.product-like-slide .product-name a{
    height: 36px;
}

#section-product-like-inner .title-section h2{
    font-weight: bold !important;
}

.section-pro-review-inner .title-section p {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 27px;
}

.product-detail-button-buy a{
    color : #fff !important
}

.list-procerdure li:last-child span{
    display: block;
    width: 58px;

}

.combo-voucher .detail-voucher-sale span{
    font-size: 18px;
    line-height: normal;
}

.navbar-header{
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-video .detail-review-video p{
    font-size: 17px;
    line-height: 26px;
}
/* Chuyên mục sản phẩm */
/* #section-cateogry-product .rate-sold p{} */
.table-border{
    overflow: auto;
}

.table-cart-left tr th{
    font-size: 14px;
}

/* Tin tức  */
#section-news-home{
    padding-top: 21px;
    padding-bottom: 26px;
    background-color: #EAEBEB;
    margin-top: 50px;
}

#section-news-home .title-section h2{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 34px;
}

.item-news-home .img-news-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}

.img-news-home{
    height: 240px;
    overflow: hidden;
    border-radius: 9px;
}

.img-news-home:hover img{
    scale: 1.1;
    transition: all 0.3s linear;
}

.link-news-home img{
    width: 6px;
    height: auto;
    margin-left: 8px;
    margin-bottom: 2px;
}

.seemore-news-home img{
    width: 6px;
    height: auto;
    margin-left: 8px;
    margin-bottom: 2px;
}

.title-news-home a{
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    height: 48px;

}


.description-news-home p{
    font-size: 14px;
    color: #000;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.2;
}

.link-news-home a{
    font-size: 14px;
    font-weight: 200;
    color: #000;

}

.title-news-home{
    text-align: center;
    margin-bottom: 18px;
    margin-top: 19px;
}

.seemore-news-home{
    text-align: right;
    margin-top: 50px;
}

.seemore-news-home a{
    font-size: 20px;
    font-weight: 300;
    text-decoration: revert;
    color: #000;
}


@media(min-width: 445px){
    
    #section-breadcrumb{
        margin-top: 137px;
    }

    .topbar-mobile{
        display: none;
    }

    /* Trang chủ */
    .home-category-big{
        /* padding-left: 64px;
        padding-right:64px; */
    }

    #section-home-category > div > div > div:nth-child(2) {
        padding-left: 12px;
        padding-right: 7.5px
    }

    #section-home-category > div > div > div:nth-child(3) {
        padding-right: 12px;
        padding-left: 7.5px

    }

    .home-category-big{
        margin-bottom: 25px;
    }
}

@media(min-width: 768px){
    .menu-footer ul{
        display: block !important;
    }

    #profile{
        margin-top: 147px;
    }

    #section-cart{
        margin-top: 147px;
    }

    #section-order{
        margin-top: 147px;

    }

    #section-complete{
        margin-top: 147px;
    }
}

@media(max-width: 445px) {
    #section-tell .title-section h2{}

    .item-news-home{
        margin-bottom: 20px;
    }


    .footer-center{
        gap: 0;
    }

    #profile{
        margin-top: 81px;
    }

    #section-cart{
        margin-top: 81px;
    }

    #section-order{
        margin-top: 81px;

    }

    #section-complete{
        margin-top: 81px;
    }

    #section-breadcrumb {
        margin-top: 80px;
    }

    .menu-footer{
        padding-left: 0
    }
   
    /* sticky */
    #section-banner-home {
        margin-top: 70px;
    }

    .product-question-img img{
        width: 100%;
    }
    /* Chuyen tu main */
    .home-category-small .category-home-img {
        height: 248px;
        margin-bottom: 15px;
    }

    .home-category-big .category-home-img {
        height: 354px;
    }

    /*  */


    #super-sale .list-code-discount .voucher{
        width: 100%;
    }
    /* footer */
    /* .footer-blog-contact{
        display: none;
    } */
    .product-select-box .product-select-left .heading-check {
        font-size: 12px
    }

    .topbar-mobile{
        display: block;
    }

    .topbar{
        display: none;
    }

    .menu-form-search{
        width: 56%;
        border-radius: 10px;
    }

    .menu-form-search input{
        font-size: 14px;
        font-weight: 200;
        width: 77%;
        border-radius: 18px;
    }

    #section-flash-sale .time-flash-item {
        padding: 7px 17px;
    }

    #section-flash-sale .time-flash-item .time-flash-number {
        font-size: 10px;
    }

    #section-flash-sale .time-flash-item .time-flash-text {
        font-size: 8px;
    }

    .logo-footer img {
        width: 50%;
    }

    .big-blog-detai{
        padding-right: 12px
    }
    
    .blog-detail-content img{
        width: 100% !important;
        height: auto !important;
    }

    #section-describe .describe-description img{
        width: 100% !important;
        height: auto !important;
    }

    .info-col-right{
        margin-top: 80px;
    }
    
    /* footer */
    .footer-menu-name{
        margin-bottom: 13px;
        position: relative;
    }

    .footer-menu-name.footer-menu-name1::before{
        content: "+";
        position: absolute;
        right: 0;
    }

    .footer-menu-name.footer-menu-name2::before{
        content: "+";
        position: absolute;
        right: 0;
    }

    /*  */
    .flex-rate{
        margin-top: 20px;
        padding-left: 0;
    }

    
    .qty-input button {
        border: 1px solid transparent;
    }

    .qty-count-minus{
        border:none;

        border-right: 1px solid #939598 !important;
    }

    .qty-count-add{
        border-color:transparent;

        border-left: 1px solid #939598 !important;
    }

    .product-detail-button-cart {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .product-detail-button-like button {
        padding: 8px 10px;
    }

    .product-detail-group-button {
        gap: 6px
    }

    .qty-input input{
        /* line-height: 1.4; */
        font-size: 10.6px;
        /* color: #008ACE */
    }

    .qty-input button{
        line-height: 1.4;
    }

    /* Respon trang chủ */
    .banner-home-slide .slick-list{
        height: auto;
    }

    .slide-rate-image .slick-list{
        height: auto;
    }

    .table-cart-left tr th{
        font-size: 11px;
    }
    .cart-product-number .qty-input{
        width: 96%;
    }
    

    
 
  
}
/* .showContent {
    line-height: 1em;
    height: auto;
}
.showContent{
    height: auto;
} */