/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}






html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Roboto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

a:hover{
    color: #008ACE !important;
}

strong{
    font-weight: bold;
}

/* Chung */
.title-section h2{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.breadcrumb-center .breadcrumb{
    justify-content: center;
}

.breadcrumb-center{
    margin-top: 22px;
}

/* Header */
.topbar{
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 75px;
    padding-right: 75px;
    border-bottom: 1px solid #231F20;
}

.navbar-header{
    padding-left: 67px;
    padding-right: 67px;
}

.topbar-phone img{
    height: 19px;
}

.topbar-phone{
    display: flex;
    align-items: center;
}

.topbar-logo img{
    height: 27px;
    width: auto;
}

.topbar-logo{
    text-align: center;
}

.topbar-group-button img{
    height: 28px;
    width: auto;
}

.topbar-phone p{
    font-size: 13px;
}

.topbar-group-button{
    display: flex;
    justify-content: end;
}

.topbar-group-button a{
    font-size: 13px;
    display: block;
    margin-left: 10px;
}

.topbar-button{
    display: flex;
    align-items: center;
}

.topbar-button a{
    color: #000;
    text-decoration: none;
}

.topbar-group-button .topbar-button:first-child{
    margin-right: 49px;
}

.header-inner{
    max-width: 1350px;
    margin: auto;
}

.navbar-header .nav-item .nav-link{
    font-size: 14px;
    padding: 8px 0;
    margin: 0 8px;
}

.navbar-header .nav-item{
    margin: auto;
}

.nav-item-last{
    background-color: #B71E2D;
    font-weight: bold;
    padding: 17px 0;

}

.nav-item-last a{
    color: #fff;
}

.navbar-header{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
}


.navbar-header .nav-item .nav-link.show{
    border-bottom: 1px solid #0084C8;
    
}

.navbar-header .dropdown-item{
    font-size: 14px;
    padding: 11px 16px;


}

.navbar-header .dropdown-menu{
    border-radius: 0;
    border-color: transparent;
    padding-bottom: 31px;
    box-shadow: 2px 8px 12px -6px  #888888;;

}

.navbar-header .dropdown-menu li{
    margin: 0 10px;
    border-bottom: 1px solid #ddd4d4;
}


.navbar-header .dropdown-menu .dropdown-item:hover{
    background-color: transparent;
    color: #0084C8;
}

.dropdown-image-item .dropdown-image-item-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-image-item .dropdown-image-item-main{
    height: 178px;
}

.dropdown-image-item-inner{
    background-color: #EAEBEB;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 17px;
}

.dropdown-image-item-title{
    padding: 4px 0px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.dropdown-image-item-title{
    color: #fff;
}

.dropdown-image{
    padding: 13px 26px !important;
}

.dropdown-image{
    width: 779px;
}

.button-search img{
    width: 16px;
}

.button-search{
    border-color: transparent;
    line-height: 1;
}

.button-search:hover{
    background-color: transparent;
    border-color: transparent ;
}

.menu-form-search{
    background-color: #E6E6E6;
    width: 30%;
    border-radius: 9px;
}

.menu-form-search .form-control{
    background-color: transparent;
    border-color: transparent;
}

/* Home */
.banner-home-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-home-item{
    height: 620px;
}

#section-banner-home .slick-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}


#section-banner-home .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: #fff;
    border: none;
}

#section-banner-home .slick-active button{
    background-color: #000;

}

.menu-mobile-box ul{
    display: flex;
}

.menu-mobile-box ul li img{
    height: 100px;
    width: auto;
}

.menu-mobile-box ul li{
    margin: 0 60px;
}

/* Banner quảng cáo */

.advertisement-home-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advertisement-home-item{
    height: 294px;
}

.advertisement-home-inner{
    margin: auto;
    max-width: 1523px;
}

#section-advertisement-home{
    margin-top: 30px;
    margin-bottom: 37px;
}

.top-search-item-image{
    width: 134px;
    height: 134px;
    background-color: #F0F0F0;
    border-radius: 50%;
    padding: 20px;

}

.top-search-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-serach-item-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-top-search{
    text-align: center;
    padding: 0 50px;
    font-size: 12px;
    margin-top: 15px;
    color: #000;
    display: block;
    text-decoration: none;
}

.top-search-slide .slick-prev{
    position: absolute;
    left: 0;
}

.top-search-slide .slick-next{
    position: absolute;
    right: 0; 
}

.top-search-slide .slick-arrow{
    background-color: transparent;
    z-index: 1;
    width: 48px;
    height: 48px;
    color: #7a7777;
    border-radius: 50%;
    padding: 0;
	bottom: 74px;
    border: none;
}

.top-search-slide .slick-arrow i{
	font-size: 26px;
}

.top-search-slide{
    margin-top: 24px;
}

.top-search-slide{
    padding: 0 30px
}

#section-top-search{
    margin-bottom: 51px;
}


/* Flash sale */
#section-flash-sale{
    margin-bottom: 40px;
}

#section-flash-sale .best-sale-discount{
    margin-bottom: 11px;

}

.section-flash-sale-inner{
    background-color: #E2F3FD;
    padding-top: 40px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}


.time-flash-sale{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.flash-sale-title{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #000;
    margin-bottom: 21px;
}

.flash-sale-link{
    text-align: center;
   margin-bottom: 23px;
}

.flash-sale-link a{
    font-size: 16px;
    color: #000
}

.time-flash-item{
    background-color: #000;
    text-align: center;
    padding: 9px 23px;
    border-radius: 9px;

}

.time-flash-item .time-flash-number{
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
}

.time-flash-item .time-flash-text{
    color: #fff;
    font-size: 11px

}

.time-flash-item-center{
    margin: 0 3px;
}


/* Ket thuc time */

/* Bán chạy */

.best-sale-name a{
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 16px;
    color: #000;
    display: block;
    text-decoration: none;
}

.best-sale-price{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

.best-sale-discount{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 40px;
}

.best-sale-img{
    height: 259px;
}

.best-sale-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rate-best-item img{
    width: 12px;
    height: 12px;
}


.rate-best-item{
    display: flex;
    align-items: center;
}

.best-sale-rate{
    display: flex;
    justify-content: space-between;
}

.best-sale-info{
    padding: 0 40px;
    text-align: center;
}

.best-sale-progress{
    margin: 0 10px;
    position: relative;
    height: 19px;
    background: #FFBBA4;
    border-radius: 2vw;
    margin-bottom: 24px;
}

.text-progress{
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 9;
    justify-content: center;
    align-items: center;
    
}

.sale-progress-val{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    padding-left: 1.6vw;
    background: #E84136;
    border-radius: 2vw;
   
   
}


.rate-star p{
    margin-left: 8px;
}

.rate-sold p{
    margin-right: 8px;
}

.best-sale-item-inner{
    padding: 10px;
    transition: all 0.3s linear;
    background-color: #fff;
    position: relative;
}

/* ribbon */
.ribbon {
    width: 86px;
    height: 86px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 3px solid #E84136;
    }
.ribbon span {
    position: absolute;
    display: block;
    width: 165px;
    padding: 5px 0;
    background-color: #E84136;
}

  .ribbon-top-right {
    top: 0px;
    right: 0;
  }

  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -22px;
    top: 13px;
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
  }

  /*  */

.best-sale-item-inner:hover{
    box-shadow: 0px 4px 10px #888888;
    transition: all 0.3s linear;
}

#section-best-sale{
    margin-top: 26px;
}

.best-sale-list-inner{
    margin-top: 26px;
}

/* Chuyên muc anh */
#section-home-category{
    margin-top: 50px;
}

.home-category-big{
    margin-bottom: 14px;
}

.home-category-big .category-home-img{
    height: 661px;
    position: relative;
}

.home-category-small {
    padding: 0 6px
}

.home-category-small .category-home-img{
    height: 603px;
}

.home-category-overlay{
    background-color: #00325F;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    display: none;
}

#section-home-category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Banner chinh sach cong ty */
#section-banner-policy{
    margin-top: 17px;
    margin-bottom: 60px;
}

#section-banner-policy .banner-policy{
    height: 515px;
}

#section-banner-policy .banner-policy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Báo chí nói gì về Bumas */
#section-tell .title-section{
    margin-bottom: 31px;
}

#section-tell{
    padding-top: 21px;
    padding-bottom: 26px;
    background-color: #EAEBEB;
}


.news-tell {
    display: flex;
    justify-content: center;
}

.news-tell .news-tell-item{
    max-height: 23px;
    margin: 0 21px;
}

.news-tell .news-tell-item img{
    width: auto;
    height: 100%;
}

/* Bình luận */
.comment-customer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-customer-img{
    height: 523px;
}

#section-comment-customer .container{
    max-width: 1454px;
}


.comment-customer-item.lt2 {
    opacity: .6;
    transform:translate(20%, 0) scale(.6);
}
.comment-customer-item.lt1 {
opacity: .7;
transform: scale(.85);
}
.comment-customer-item.gt1 {
opacity: .7;
transform:scale(.85);
}
.comment-customer-item.gt2 {
    opacity: .6;
    transform:translate(-20%, 0) scale(.6);

}
.comment-customer-item.slick-center {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
}
.comment-customer-item{
    width: auto;
}

.comment-customer-slide .slick-prev,
.comment-customer-slide .slick-next{
    position: absolute;
    top: 50%;
    appearance: none;
    margin-top: -10px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: #7a7777;
    z-index: 100;
    border: 1px solid #7a7777;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-customer-slide .slick-prev {
    left: 0;
}

.comment-customer-slide .slick-next {
    right: 0;
}

#section-comment-customer{
    padding-top: 57px;
    padding-bottom: 62px;
    background-color: #EAEBEB;
    margin-bottom: 49px;

}

.title-section-sub{
    font-size: 14px;
    font-weight: 200;
    margin-top: 34px;
    margin-bottom: 65px;
    text-align: center;
}

.comment-customer-slide{
    margin-bottom: 74px;
}

.comment-text-description{
    padding:0 296px;
    font-weight: 200;
    line-height: 19px;
    margin-bottom: 29px;
    text-align: justify;

}

.comment-text-position{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

.comment-text-name{
    text-align: center;
    color: #008BCF;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}





/* Kết thúc bình luận */

/* footer */
#section-footer .container{
    padding-top: 40px;
    border-top: 1px solid #EAEBEB;
    margin-top: 100px;
}

.footer-info .copyright{
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-info p{
    font-size: 11.5px;
    line-height: 20px;
}

.blue-text{
    color: #0084C8;
}

.footer-info .footer-info-item{
    margin-bottom: 13px;
}

.footer-center{
    display: flex;
    justify-content: space-between;
}

.footer-menu-name{
    font-size: 13px;
    color: #0084C8;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;

}

.footer-center ul li{
    margin-bottom: 16px;
}

.footer-center ul li a{
    color: #282828;
    font-size: 11.5px;
    margin-bottom: 20px;
}

.footer-social{
    margin-bottom: 24px;
}

.group-social ul{
    display: flex;
}

.group-social ul li{
    width: 35px;
    height: 35px;
    margin-right: 12px;
}

.group-social ul li img{
    width: 100%;
    height: 100%;
}

.logo-footer{
    margin-bottom: 25px;
    width: 300px;
}

.logo-footer img{
    width: 100%;
}

/* Liên hệ */
#section-contact .contact-title h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 52px;
    text-align: center;
}

#section-contact .contact-description{

}

.footer-info{
    margin-right: 25px;
}

.contact-description{
    margin-top: 20px;
    margin-bottom: 23px;
    text-align: center;
}

.contact-description p {
    font-size: 16px;
    line-height: 1.3;
}

#section-contact .container{
    max-width: 592px;
}

.group-icon-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-icon-item img{
    height: 20px;
    width: auto;
    margin-right: 11px;
}   

.group-icon{
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    margin-bottom: 48px;
}

.group-icon-item p{
    font-size: 14px;
}

.form-radius{
    display: flex;
}

.form-check{
    margin-right: 23px;
}

.form-check-label{
    margin-top: 4px;
}

.contact-form .form-control{
    border: 1px solid #0084C8;
}

.contact-form textarea{
    border: 1px solid #0084C8;
    width: 100%;
}

.contact-text{
    margin-bottom: 20px;
    text-align: center;
    padding: 0 112px;
    line-height: 1.3;
}

.contact-form button{
    display: block;
    margin: auto;
    width: 177px;
}

.breadcrumb-item a{
    color: #000
}

.breadcrumb-item.active{
    color: #000;
    font-weight: bold;
}

/* blog */
.banner-blog{
    width: 100%;
    height: 342px;
    margin-bottom: 21px;
}

.banner-blog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-search-blog{
    max-width: 680px;
    margin: auto;
    margin-bottom: 43px;
}

.form-search-blog input::placeholder{
    font-size: 14px;
}

.form-search-blog .form-control{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.main-blog-left .main-blog-left-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-blog-left .main-blog-left-item-img{
    height: 459px;
}

.main-blog-left-item-meta{
    display: flex;
    margin-top: 19px;
}

.main-blog-left-item-meta span{
    display: block;
    font-weight: 200;
    font-size: 14px;
    margin-right: 17px;
}

.main-blog-left-title a{
    font-size: 14px;
    color: #000;
    font-size: 30px;
    margin: 17px 0;
    font-weight: 400;
    display: block;
}

.main-blog-left-description{
    font-size: 15px;
    font-weight: 200;
    line-height: 1.4;
}

.main-blog-right-heading{
    font-size: 20px;
    margin-bottom: 30px;
}

.main-blog-right-img{
    height: 131px;
}

.main-blog-right-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 0;
    padding-left:0;
}

.main-blog-right-category, .main-blog-right-meta{
    font-weight: 200;
    font-size: 14px;
}

.main-blog-right-category{
    margin-bottom: 13px;
}

.main-blog-right-title a{ 
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 13px;
    font-weight: 400;
    color: #000;
    display: block;
}

.main-blog-right-list{
    background-color: #DBF7FE;
    padding-left: 24px;
    padding-right: 32px;
    padding-top: 21px;
    padding-bottom: 23px;
}

.main-blog-right-item:not(:last-child){
    margin-bottom: 25px;
}

.main-blog-left{
    padding-right: 19px;
}

.main-blog-right{
    padding: 0
}

/* --Bài viết mới nhất */
#section-blog-new{
    padding-top: 49px;
    padding-bottom: 72px;
}

.section-blog-new-inner .title-section{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 42px;
}

.section-blog-new-inner{
    background-color: #7AD1F1;
    padding-top: 39px;
    padding-bottom: 30px;
    padding-right:30px ;
    padding-left: 30px ;
    border-radius: 22px;

}

.blog-slide-image{
    height: 257px;
    overflow: hidden;
    border-radius: 8px;
}

.blog-slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-slide-item{
    margin:0 10px;
}

.blog-slide-item .blog-slide-title a{
    font-size: 18px;
    line-height: 1.3;
    height: 40px;
    margin-bottom: 16px;
    font-weight: 400;
    display: block;
    color: #000000
}

.blog-slide-meta{
    display: flex;
    margin-bottom: 15px;
}

.blog-slide-meta p{
    font-weight: 200;
    font-size: 15px;
    margin-right: 14px;
}

.blog-slide-category{
    font-weight: 300 !important;
}

.blog-new-slide .slick-prev{
    position: absolute;
    top: 50%;
    left: -4px;
}

.blog-new-slide .slick-next{
    position: absolute;
    top: 50%;
    right: -4px;
   
    
}

.blog-new-slide .slick-arrow{
    transform: translateY(133%);
    background-color: #DBF7FE;
    border: none;
    z-index: 1;
    width: 23px;
    height: 23px;
    color: #dad6d6;
    border-radius: 50%;
    padding: 0;
}

.blog-new-slide{
    padding-right: 23px;
    padding-left: 23px;

}

/* Blog col */
.blog-col-item .title-section{
    font-size: 30px;
    border-bottom: 1px solid #7a7777;
    padding-bottom: 12px;
    margin-bottom: 42px;
}

.list-blog-col-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-blog-col-img-inner{
    height: 218px;
    border-radius: 8px;
    overflow: hidden;
}

.list-blog-col-title a{
    font-size: 20px;
    margin-bottom: 28px;
    line-height: 1.4;
    color: #000;
    display: block;
}

.list-blog-col-category{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 22px;
}

.list-blog-col-meta{
    font-size: 16px;
    font-weight: 200;
}

.list-blog-col-text {
    padding-top: 28px;
    padding-bottom: 40px
}

.list-blog-item{
    margin-bottom: 33px;
}


.blog-col-item{
    padding-right: 45px;
}

/* blog cuối */
.blog-last-image{
    height: 257px;
    overflow: hidden;
    border-radius: 8px;
}

.blog-last-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-last-item .blog-last-title a{
    font-size: 20px;
    line-height: 1.3;
    height: 40px;
    margin-bottom: 16px;
    font-weight: 400;
    color: #000; 
    display: block;
}

.blog-last-meta{
    display: flex;
    margin-bottom: 15px;
}

.blog-last-meta p{
    font-weight: 200;
    font-size: 15px;
    margin-right: 14px;
}

#section-blog-last{
    margin-top: 30px;
}

.blog-last-item{
    margin-bottom: 60px;
}

.blog-last-category{
    font-weight: 300;
}

/* Đăng ký để nhận bản tin */
#section-blog-contact{
    margin-top: 10px;
}

.input-blog-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-blog-contact input::placeholder{
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
}

.input-blog-contact input{
    width: 274px;
    border: 1px solid #008BCF;
    border-radius: 0;
    padding-left: 14px;
    font-weight: 200;
}

.input-blog-contact button{
    width: 125px;
    background-color: #008BCF;
    border-radius: 0;
}

#section-blog-contact .title-section-sub{
    margin-bottom: 20px;
}

#section-blog-contact .title-section h2{
    color:#008BCF
}

/* Chi tiết bài viết */
#section-blog-like{
    background-color: #DBF7FE;
    padding-top: 61px;
    padding-bottom: 58px;
    margin-top: 41px;
}
.title-blog-like{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
}

#section-blog-detail .blog-detail-meta{
    display: flex;

}

#section-blog-detail .blog-detail-meta p{
    font-size: 14px;
    font-weight: 200;
    margin-right: 110px;
}

#section-blog-detail .title-blog-detail{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 16px;
}

#section-blog-detail .blog-detail-content{
    margin-top: 26px;
    line-height: 1.2;
    font-weight: 200;
}

/* chuyên mục sản phẩm  */
#section-cateogry-product{
    margin-top: 70px;
}

.product-name a{
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #000;
    text-decoration: none;
    font-weight: 200;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.product-price{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
}

.product-discount{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 300;
}

.product-img{
    height: 221px;
    padding-top: 37px
}

.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rate-best-item img{
    width: 12px;
    height: 12px;
}


.rate-best-item{
    display: flex;
    align-items: center;
}

.product-rate{
    display: flex;
    justify-content: space-between;
}

.product-info{
    padding: 0 12px;
    text-align: center;
}

.product-progress{
    margin: 0 10px;
    position: relative;
    height: 19px;
    background: #FFBBA4;
    border-radius: 2vw;
    margin-bottom: 24px;
}

.text-progress{
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 9;
    justify-content: center;
    align-items: center;
    
}

.sale-progress-val{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    padding-left: 1.6vw;
    background: #E84136;
    border-radius: 2vw;
   
   
}


#section-cateogry-product .rate-star p{
    margin-left: 8px;
    font-weight: 200;
    font-size: 10px;
}

#section-cateogry-product .rate-sold p{
    margin-right: 8px;
    font-weight: 200;
    font-size: 10px;

}

.product-item-inner{
    padding: 10px;
    transition: all 0.3s linear;
    background-color: #fff;
    position: relative;
}

  /*  */

.product-item-inner:hover{
    box-shadow: 0px 4px 10px #888888;
    transition: all 0.3s linear;
}

.product-item-inner{
    border: 1px solid #F0F1F1;
}

.product-list-inner{
    margin-top: 26px;
}

.product-item{
    padding: 0 5px;
    margin-bottom: 10px;
}


.search-category-product{
    position: relative;
}

.search-category-product img{
    position: absolute;
    bottom: 0;
    top: 16px;
    left: 21px;
    width: 11px;
    height: auto;
}

.search-category-product input{
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #0B3380;
    padding-left: 20px;
    margin-bottom: 21px;
    border-radius: 4px;
    padding-left: 40px;
}


.search-category-product input::placeholder{
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
}

.category-product-menu-title{
    margin-bottom: 17px;
    font-size: 16px;
}

.category-product-item{
    margin-bottom: 25px;
    margin-left: 22px;
}

.category-product-item li{
    margin-bottom: 17px;
    margin-left: 24px;
}

.category-product-item li a{
    color: #000;
    font-size:14px;
    font-weight: 200;
}

.category-product-item li a:hover{

}

.category-product-menu .banner-category-image img{
    width: 100%;
    object-fit: cover;
}

.product-select-box{
    display: flex;
    justify-content: space-between;
}

.product-select-box .product-select-item{
    display: flex;
    align-items: center;

}

.product-select-box .product-select-left .heading-check{
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;

}

.product-select-box .product-select-right .heading-check{
    margin-right: 12px;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
}

.product-select-box{
    margin-bottom: 41px;
}

/* .product-select-box .form-check-input:checked{
    background-color: #fff;
    color: #7a7777;
    border: 1px solid #7a7777;
} */

.product-select-box .form-check-input {
    padding: 10px
}

/* Chi tiết sản phẩm */
.product-detail-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-slide-left-img img{ 
    width: 73px;
    height: 73px;
}

.product-slide-right-img img{
    height: 485px;
    width: 485px;
}

.product-slide-left-item{
    border: 0.5px solid #6D6E71 !important;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 2px 0;
}

.product-slide-right-img{
    background: linear-gradient(to top, rgba(197, 197, 199, 0.5), rgba(255, 255, 255, 0.7));
}

.pro-review-item .pro-review-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro-review-img{
    height: 562px;
}

.pro-review-img{
    padding: 0 9px
}

#section-pro-review{
    
}

#section-info-col{
    margin-bottom: 41px;
}

.info-col-left .info-col-description{
    background-color: #DBF7FE;
}

.info-col-right .info-col-description{
    background-color: #B8DAE9;
}

.info-col .title-info-col{
    font-size: 28px;
    font-weight: 400;
}

.info-col-description{
    min-height: 328px;
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 21px;
}

.info-col-description tr td:first-child{
    width: 143px;
}

.info-col-description tr{
    display: block;
    margin-bottom: 18px;
}

.info-col{
    padding: 0;
}

.title-info-col{
    margin-bottom: 13px;
}

.describe-inner .title-section h2{
    text-align: left;
    margin-bottom: 30px;
}

#section-describe .describe-description img{
    width: 100%;
}

#section-describe .describe-more button{
    background-color: #fff;
    color: #00A9DC;
    border: 1px solid #00A9DC;
    width: 217px;
    border-radius: 30px;
    padding: 8px 0;
    transition: all 0.3s linear;
}

#section-describe .describe-more button:hover{
    color: #fff;
    transition: all 0.3s linear;
    background-color: #00A9DC;


}

#section-describe{
    text-align: center;
}

.describe-more {

}

/* rate */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* Chung */





@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1211px;
    }

    #section-pro-review .container{
        max-width: 987px;
    }
}