/* --- Trang Guarantee --- */

#policy .container {
    width: 760px;
    padding-bottom: 89px;
}

#policy .nav-tabs {
    justify-content: space-around;
    padding-top: 20px;
}

#policy .nav-tabs li {
    font-size: 20px;
    line-height: 27px;
}

#policy .nav-tabs li a {
    padding: 2px 19px;
}

#policy .nav-tabs li a:focus {
    border-bottom: 2px solid;
    outline: none;
}

#policy .nav-tabs li a {
    color: #000;
}

#policy .tab-content {
    margin: auto;
}

#policy .title-content-policy {
    text-align: center;
}

#policy .title-content-policy {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 23px;
}

#content-policy h4 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 16px;
}

.active-policy h4 {
    padding-top: 0px !important;
}

.active-policy p {
    padding-left: 17px;
    line-height: 21px;
    font-size: 14px;
}

.active-policy,
.regulations-policy,
.procedure-policy,
.end-text {
    padding: 0 23px;
}

.detail-policy {
    padding: 33px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.list-regulations {
    padding-left: 17px;
    line-height: 21px;
    font-size: 14px;
}

.list-procerdure {
    padding-left: 17px;
    line-height: 21px;
    font-size: 14px;
}

.detail-policy .end-text {
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
    font-style: oblique;
}

.list-regul-7 li {
    padding-left: 14px;
    justify-content: start;
    display: flex;
    align-items: baseline;
}

.list-regul-7 li i {
    font-size: 10px;
    margin-right: 5px;
}

.list-procerdure li {
    display: flex;
}

#video-policy {
    text-align: center;
}

.detail-video h3 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}

.detail-video p {
    padding-top: 10px;
    padding-bottom: 35px;
    font-size: 14px;
    line-height: 20px;
}

.box-video iframe {
    width: 100%;
    height: 400px;
}

#search-polity {
    text-align: center;
}

.detail-search h3 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 23px;
}

.check-box label {
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    display: flex;
}

.check-box input {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.check-box form {
    justify-content: space-between;
    display: flex;
    padding: 0 100px;
}

.check-box {
    padding-bottom: 25px;
}

.input-box input {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    padding: 12px 14px;
    width: 375px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input-box button {
    font-size: 16px;
    line-height: 24px;
    padding: 11px 21px;
    border: none;
    background-color: #008BCF;
    transform: translateX(-1px);
    border: 1px solid #008BCF;
}

.input-box button:hover {
    background-color: rgb(116, 190, 255);
}

.input-box form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --- Trang Profile --- */

#profile {
    padding-top: 43px;
}

#profile>.container {
    padding: 0 125px;
}

.my-account .nav-tabs {
    display: block;
    width: 100%;
}

.my-account .nav-item a {
    border: none;
    font-size: 14px;
    line-height: 34px;
    border-radius: 0%;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
}

.my-account .accordion-collapse {
    padding-left: 35px;
}

.my-account .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.my-account .accordion-button:not(.collapsed) {
    background-color: transparent;
}

.my-account .accordion-button:focus {
    box-shadow: none;
}

.my-account .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: rgb(221, 221, 221);
}

.my-account .navbar-toggler:focus {
    box-shadow: none;
}

.my-account .dropdown-item {
    border: none !important;
}

.my-account .accordion-button {
    padding: 8px 16px;
}

#profile-user .title-profile h3 {
    font-size: 29px;
    line-height: 49px;
}

#profile-user .title-profile h2 {
    font-size: 40px;
    line-height: 49px;
    text-transform: capitalize;
}

#profile-user .title-profile a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 34px;
}

#profile-user .title-profile {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#profile-user {
    border: 0.5px solid rgb(192, 192, 192);
}

.my-account .nav-item.sp-sale a {
    color: red;
}

.my-account .dropdown-item {
    font-weight: 400 !important;
}

.my-account .navbar {
    --bs-navbar-padding-y: 0rem;
}

.title-file p {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 17px;
    border-bottom: 0.5px solid rgb(192, 192, 192);
}

.title-file {
    padding-top: 34px;
    padding-left: 33px;
    padding-right: 50px;
}

.detail-file {
    padding-left: 83px;
    padding-right: 67px;
    padding-bottom: 39px;
}

.detail-file label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.detail-file .item-detail {
    padding-top: 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.detail-file .item-detail input {
    font-size: 14px;
    padding: 4px 10px;
    right: 0;
    /* position: absolute; */
    width: 377px;
    top: 24px;
}

.detail-file .item-detail.sex {
    display: flex;
    justify-content: normal;
}

.detail-file .item-detail.sex input {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.detail-file .item-detail.sex .radio-check {
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.radio-check label {
    margin-right: 15px;
}

.item-detail.btn-submit input {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 55px;
    padding-right: 43px;
    background-color: #011436;
    color: #fff;
    width: auto !important;
}

.item-detail.btn-submit {
    justify-content: end;
    display: flex;
}

.choose-date select {
    width: 120px;
    margin-left: 5px;
    font-size: 14px;
    padding: 7px 10px;
    color: #949494;
    font-weight: 200;
    border: 0.5px solid rgb(221, 221, 221);
}

#my-file {
    border: 0.5px solid rgb(192, 192, 192);
}

#my-address {
    border: 0.5px solid rgb(192, 192, 192);
}

#my-address .title-addr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(192, 192, 192);
}

#my-address .title-addr p {
    font-size: 18px;
    line-height: 22px;
    margin-left: 35px;
}

#my-address .title-addr .add-adress {
    font-size: 14px;
    color: #fff;
    background-color: #008BCF;
    border: 0.5px solid #008BCF;
    padding: 7px 16px;
    align-items: center;
    display: flex;
    font-weight: 200;
    margin-right: 35px;
}

#my-address .title-addr .add-adress i {
    font-size: 10px;
    margin-right: 5px;
}

#my-address .address {
    margin: 0 34px;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 20px 10px;
}

.content-addr .infor-addr span {
    font-size: 14px;
    padding-right: 5px;
    border-right: 1px solid rgb(192, 192, 192);
    line-height: 25px;
    margin-bottom: 5px;
}

.content-addr .infor-addr {
    display: flex;
    align-items: baseline;
}

.content-addr .infor-addr p {
    padding-left: 5px;
}

.content-addr p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.content-addr button {
    font-size: 12px;
    background-color: #fff;
    border: 0.5px solid rgb(192, 192, 192);
    line-height: 18px;
    font-weight: 300;
}

.address .btn-group button {
    font-size: 12px;
    background-color: transparent;
    border: none;
    color: #008BCF;
    font-weight: 300;
    line-height: 16px;
}

.up-address {
    justify-content: end;
    display: flex;
    align-items: flex-start;
}

.default button {
    font-size: 12px;
}

.btn-address {
    margin-top: 5px;
}

.tab-voucher .nav-tabs {
    justify-content: space-around;
}

.tab-voucher .nav-link.active {
    border-bottom: 1px solid;
}

.tab-voucher .nav-link {
    border: none;
    color: #000;
    font-size: 14px;
    line-height: 18px;
}

.tab-voucher .nav-link:hover {
    color: #000 !important;
}

.tab-voucher .nav-item {
    width: 50%;
    text-align: center;
}

#my-voucher {
    border: 0.5px solid rgb(192, 192, 192);
    min-height: 400px;
}

.voucher .detail-voucher {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.voucher .bg-voucher img {
    width: 100%;
    height: 60px;
}

.table-cart-right .voucher .bg-voucher img{
    height: auto;
}

.voucher {
    position: relative;
    margin-top: 20px;
}

.logo-voucher h3 {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #008BCF;
    padding-right: 5px;
    border-right: 0.5px solid black;
}

.infor-voucher {
    padding-left: 8px;
}

.table-cart-right .infor-voucher{
    padding-top: 6px;
}

.infor-voucher p {
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;
}

.infor-voucher h4 {
    font-size: 14px;
    line-height: 17px;
}

.content-voucher {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-voucher {
    border: none;
    background-color: transparent;
}


/*viewed-products*/

#viewed-products {
    padding: 20px;
    border: 0.5px solid rgb(192, 192, 192);
}

.title-viewed-product {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 16px;
}

.group-viewed-product-img {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.group-viewed-product-img img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.group-viewed-product-name {
    font-size: 8px;
    line-height: 11px;
    text-align: center;
}

.group-viewed-product {
    margin: 0 12px;
}

.group-viewed-product-cost {
    text-align: center;
    padding-bottom: 15px;
}

.group-viewed-product-cost h4 {
    font-size: 11px;
    padding: 5px 0;
    font-weight: 400;
}

.group-viewed-product-cost p {
    font-size: 7px;
    text-decoration: line-through;
}

.group-viewed-product-cost span {
    font-size: 7px;
    text-decoration: none !important;
    margin-left: 2px;
}

.group-viewed-product-cost div {
    display: flex;
    justify-content: center;
}

.group-viewed-product-rating {
    font-size: 5px;
    display: flex;
    justify-content: space-between;
}

.group-viewed-product-star,
.group-viewed-product-heart {
    display: flex;
}

.group-viewed-product-star i {
    margin-right: 3px;
    font-size: 5px;
}

.group-viewed-product-heart i {
    margin-left: 3px;
    font-size: 5px;
}

.item-viewd-product {
    padding: 5px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    width: calc(25% - 6px);
    margin: 3px;
}

.item-viewd-product:hover {
    box-shadow: 0 0 5px 0 rgb(170, 170, 170);
}

.btn-name-viewd-product {
    color: #000;
}

#favorite-product {
    padding: 20px;
    border: 0.5px solid rgb(192, 192, 192);
}


/*  TRANG SALE 9-9  */

#sale99 .banner-sale img {
    width: 100%;
}

#sale99 .endow {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 45px;
}

#sale99 .endow h3 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #0B2A66;
    padding-bottom: 10px;
}

#sale99 .endow p {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #0B2A66;
}

#sale99 .endow span {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-left: 40px;
    border-left: 1px solid #0B2A66;
    ;
    color: #0B2A66;
}

#sale99 .combo-voucher {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.combo-voucher .item-voucher {
    background-image: url("../image/voucher.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

.combo-voucher .item-voucher {
    width: 355px;
    height: 75px;
    margin: 0 12px;
}

.combo-voucher .detail-voucher-sale {
    align-items: center;
    display: flex;
}

.combo-voucher .detail-voucher-sale p {
    font-size: 20px;
    line-height: 24px;
    color: #008BCF;
    border-right: 1px solid rgb(107, 107, 107);
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 400;
}

.combo-voucher .detail-voucher-sale span {
    font-size: 13px;
    line-height: 16px;
    margin: 0 20px;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.top-deal {
    border-radius: 17px;
    background-image: url("../image/bg-sale.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 165px;
    padding-bottom: 30px;
}

.top-deal .group-deal {
    margin: 0 38px;
}

.top-deal .group-deal .list-product-1 {
    margin-bottom: 60px;
}

.top-deal>img {
    width: 100%;
}

.top-deal .group-deal .list-product .best-sale-item {
    padding: 0 7.5px;
}

.top-deal .group-deal .list-product .best-sale-price {
    margin-bottom: 8px;
}

.top-deal .group-deal .list-product .best-sale-discount {
    margin-bottom: 8px;
}

.top-deal .group-deal .list-product .best-sale-name a {
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 14px;
}


/*  TRANG COMPLETE ORDER  */

.complete-box .complete-heading {
    text-align: center;
    font-size: 31px;
    margin-bottom: 18px;
    font-weight: 300;
}

#section-complete .complete-box .icon-button-check {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 14px;
}

#section-complete {
    margin-top: 60px;
}

#section-complete .icon-button-check img {
    width: 62px;
    height: 62px;
}

#section-complete .complete-box .complete-text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: 200;
}

#section-complete .complete-box .complete-info-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#section-complete .complete-box .complete-info-box-detail {
    width: 560px;
}

#section-complete .complete-box .complete-info-heading {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 13px;
}

#section-complete .complete-box .complete-info-box .complete-info-detail .container {
    padding: 30px;
}

#section-complete .complete-box .complete-info-box .complete-info-detail {
    border: 1px solid rgb(199, 199, 199);
}

#section-complete .complete-box .complete-info-box .complete-info-detail .item-complete-info-detail {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 27px;
}

#section-complete .complete-box .complete-info-box .complete-info-detail .item-complete-info-detail .col-md-8 {
    padding-left: 35px;
}

#section-complete .complete-box .complete-info-box .complete-info-detail .item-complete-info-detail span {
    font-weight: 200 !important;
}

.item-complete-info-detail-end {
    padding-bottom: 0 !important;
}


/* TRANG DATAIL PRODUCT */

#section-describe .describe-description {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#section-describe .describe-description-filter::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -38px;
    width: 119%;
    height: 112px;
    background: rgba(255, 255, 255, 1);
    filter: blur(20px);
    z-index: 1;
}

@media (max-width: 1025px) {
    /*  TRANG PORFILE  */
    #profile>.container {
        padding: 0 15px;
    }
    /* thong tin tai khoan trang profile */
    .detail-file .item-detail input {
        width: 290px;
    }
    .detail-file {
        padding-left: 33px;
        padding-right: 33px;
    }
    .title-file {
        padding-top: 34px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .detail-file .item-detail.sex .radio-check {
        margin-left: 60px;
    }
    .choose-date select {
        width: 91px;
    }
    /* dia chi giao hang trang profile */
    .up-address {
        padding: 0;
    }
    /* voucher trang profile */
    .content-voucher .col-lg-6.col-md-6.col-sm-12 {
        padding: 0;
    }
    /*  TRANG REVIEW  */
    /*  TRANG SALE99  */
    .top-deal .group-deal .list-product .best-sale-img img {
        height: auto;
    }
    .top-deal .group-deal .list-product .best-sale-img {
        height: auto;
    }
    .top-deal .group-deal .list-product .rate-star p {
        font-size: 12px;
    }
    .top-deal .group-deal .list-product .rate-sold p {
        font-size: 12px;
    }
    .top-deal .group-deal .list-product .rate-best-item img {
        width: 11px;
        height: 11px;
    }
    .top-deal .group-deal .list-product .text-progress {
        font-size: 11px;
    }
    .top-deal .group-deal .list-product .best-sale-info {
        padding: 0 10px;
    }
    .top-deal .group-deal .list-product .best-sale-price {
        font-size: 20px;
    }
    .top-deal .group-deal .list-product .best-sale-discount {
        font-size: 13px;
    }
    .combo-voucher .detail-voucher-sale p {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sale99 .combo-voucher {
        justify-content: center;
    }
    .combo-voucher .item-voucher {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
        padding-top: 17px;
    }
}

@media (max-width: 769px) {
    /*  TRANG PORFILE  */
    /*  TRANG GUARANTEE  */
    #policy .nav-tabs li a {
        padding: 2px 13px;
    }
    .item-viewd-product {
        width: calc(33% - 5px);
        margin: 3px;
    }
    .title-viewed-produc {
        margin-bottom: 12px !important;
    }
    .group-viewed-product-img {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 18px;
        width: 118px;
    }
    .group-viewed-product-img img {
        height: auto;
    }
    /* TRANG SALE 99 */
    .top-deal {
        padding-top: 120px;
        background-position: 55% 0;
    }
    .top-deal .group-deal .list-product .best-sale-progress {
        height: 16px;
        margin-bottom: 15px;
    }
    .top-deal .group-deal .list-product .text-progress {
        font-size: 8px;
    }
    .top-deal .group-deal .list-product .best-sale-price {
        font-size: 17px;
    }
    .top-deal .group-deal .list-product .best-sale-discount {
        font-size: 12px;
    }
    .top-deal .group-deal .list-product .rate-star p {
        font-size: 10px;
        margin-left: 3px;
    }
    .top-deal .group-deal .list-product .rate-sold p {
        font-size: 10px;
        margin-right: 3px;
    }
    .top-deal .group-deal {
        margin: 0 27px;
    }
    .top-deal .group-deal .list-product .best-sale-info {
        padding: 0;
    }
    .top-deal .group-deal .list-product .ribbon span {
        font-size: 12px;
    }
    .top-deal .group-deal .list-product .best-sale-name a {
        font-size: 12px;
    }
    #sale99 .endow span {
        padding-left: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    #section-describe .describe-description video{
        width: 100%;
    }
    /*  TRANG PORFILE  */
    #profile>.container {
        padding: 0 15px;
    }
    #profile-user .title-profile {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #profile-user {
        margin-bottom: 20px;
    }
    .content-voucher .col-lg-6.col-md-6.col-sm-12 {
        justify-content: center;
        display: grid;
    }
    .detail-file {
        padding-left: 20px;
        padding-right: 20px;
    }
    #my-address .address {
        margin: 0px 15px;
    }
    .detail-file .item-detail input {
        width: 200px;
    }
    .choose-date select {
        padding: 7px 3px;
        width: auto;
    }
    .detail-file .item-detail.sex {
        justify-content: space-between;
    }
    .radio-check label {
        margin-right: 14px;
    }
    .tab-voucher .nav-link {
        padding: 12px 0;
    }
    .group-viewed-product-img img {
        width: 75%;
    }
    .group-viewed-product-img {
        width: 100%;
    }
    .item-viewd-product {
        width: calc(50% - 6px);
    }
    /*  TRANG GUARANTEE  */
    #policy .container {
        width: auto;
    }
    #policy .nav-tabs li {
        padding-top: 5px;
    }
    .check-box form {
        justify-content: space-around;
        padding: 0;
    }
    .check-box label {
        font-size: 16px;
    }
    .input-box input {
        width: auto;
        font-size: 14px;
    }
    #policy .nav-tabs li a {
        font-size: 13px;
    }
    .input-box button {
        font-size: 14px;
    }
    #policy .title-content-policy,
    .detail-video h3,
    .detail-search h3 {
        font-size: 22px;
        padding-top: 35px;
        padding-bottom: 23px;
    }
    #policy .nav-tabs li a {
        padding: 2px 5px;
        line-height: 1.1;
    }
    /*  TRANG SALE 99  */
    .top-deal {
        background-image: none;
        background-color: #0E147B;
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .top-deal .group-deal .list-product .best-sale-item {
        margin-bottom: 20px;
    }
    .top-deal .group-deal .list-product-1 {
        margin-bottom: 0;
    }
    #sale99 .combo-voucher {
        justify-content: center;
    }
    #sale99 .endow p {
        font-size: 16px;
        padding: 0 55px;
    }
    #sale99 .endow h3 {
        font-size: 24px;
    }
    #sale99 .endow span {
        font-size: 16px;
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }
    #sale99 .endow {
        padding-top: 30px;
    }
    .combo-voucher .item-voucher {
        width: 304px;
        height: 64px;
        padding-top: 12px;
        margin-bottom: 15px;
    }
    .combo-voucher .detail-voucher-sale p {
        font-size: 16px;
    }
    .combo-voucher .detail-voucher-sale span {
        font-size: 12px;
    }
    /*  TRANG COMPLETE ORDER  */
    #section-complete .complete-box .complete-info-box .complete-info-detail .item-complete-info-detail .col-md-4 {
        width: 40%;
    }
    #section-complete .complete-box .complete-info-box .complete-info-detail .item-complete-info-detail .col-md-8 {
        width: 60%;
        padding-left: 12px;
    }
    /*  TRANG CATEGORY PRODUCT  */
    #section-cateogry-product .product-item-inner .product-img {
        height: auto;
    }
    /*  TRANG INDEX  */
    #section-comment-customer .comment-customer-slide .slick-list.draggable {
        padding: 0px 54px;
    }

    #video-review .comment-customer-slide .slick-list.draggable {
        padding: 0px 54px;
    }



    #section-comment-customer .comment-customer-slide .comment-customer-img {
        height: 475px;
    }
}

@media (max-width: 375px) {
    #sale99 .endow p {
        padding: 0 44px;
    }
    #section-comment-customer .comment-customer-slide .comment-customer-img {
        height: 390px;
    }
    #section-comment-customer .comment-customer-slide .slick-list.draggable {
        padding: 0px 40px;
    }

    #video-review .comment-customer-slide .slick-list.draggable {
        padding: 0px 40px;
    }
}

@media (max-width: 320px) {
    /*  TRANG SALE 99  */
    #sale99 .endow p {
        padding: 0px 16px;
    }
    .top-deal .group-deal .list-product .best-sale-progress {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
    /*  TRANG COMPLETE ORDER  */
    #section-complete .complete-box .complete-info-box .complete-info-detail .container {
        padding: 20px 15px;
    }
    #section-comment-customer .comment-customer-slide .comment-customer-img {
        height: 300px;
    }
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}
    
.showContent {
    line-height: 1em;
    height: auto;
}
.showContent{
    height: auto;
}