#review .tab-menu {
    width: 100%;
    justify-content: center;
    display: flex;
}

#review .nav-tabs {
    justify-content: space-around;
    padding-top: 20px;
    width: 800px;
}

#review .nav-tabs li {
    font-size: 20px;
    line-height: 27px;
}

#review .nav-tabs li a {
    color: #000;
    padding: 2px 38px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

#review .nav-tabs .active {
    border-bottom: 2px solid #008ACE;
    color: #008ACE;
}

#review .nav-tabs li a:hover {
    color: #008ACE;
}

#review .tab-content {
    margin: auto;
}

.slide-slick .item-slick {
    transform: scale(0.8);
    transition: all ease-in-out 0.3s;
    padding: 100px 0;
}


/* .item {
    width: 280px;
} */

.slide-slick .slick-center {
    transform: scale(1.1);
}

.slide-slick {
    position: absolute;
    justify-content: center;
}

.slide-slick .item-slick img {
    width: 100%;
    object-fit: cover;
}


/* #review .container {
    width: 1150px;
} */

.slide-slick .slick-slide {
    opacity: 0.6;
}

.slide-slick .slick-center {
    display: block;
    opacity: 1;
}

.slide-slick .slick-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    background: transparent;
    color: #000;
    top: 50%;
    cursor: pointer;
    outline: none;
    text-align: center;
    z-index: 2;
}

.slide-slick .slick-prev {
    left: 0;
}

.slide-slick .slick-next {
    right: 0;
}

#video-review .detail-video {
    text-align: center;
}

#video-review .detail-video .detail-text p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding: 0;
}

#video-review .detail-video .icon-video {
    display: flex;
    justify-content: center;
}

#video-review .detail-video .icon-video .time,
#video-review .detail-video .icon-video .view {
    display: flex;
    align-items: baseline;
    padding: 0 30px;
}

#video-review .detail-video .icon-video i {
    padding-right: 5px;
}

#video-review .detail-video .icon-video p {
    padding-top: 15px;
    font-size: 14px;
    line-height: 17px;
}

.video-review-product {
    display: flex;
}

.image-modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}

.image-modal:hover {
    cursor: pointer;
}

.title-review-product {
    width: 100%;
    line-height: 34px;
    display: flex;
    padding-bottom: 25px;
}

.double-line-1 {
    width: 308px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 0.5px solid rgb(104, 102, 102);
    border-top: 0.5px solid rgb(104, 102, 102);
    transform: translateY(16px);
}

.double-line-2 {
    width: 372px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 0.5px solid rgb(104, 102, 102);
    border-top: 0.5px solid rgb(104, 102, 102);
    transform: translateY(16px);
}

.combo-1 {
    padding-right: 15px;
}

.combo-2 {
    padding-left: 15px;
}

.title-review-product p {
    font-size: 20px;
    font-weight: bold;
}

.row-video-1 {
    padding-top: 10px;
}

.row-video-2 {
    padding-top: 85px;
}

.video-review-product .video-1 {
    padding-right: 10px;
    padding-left: 2px;
}

.video-review-product .video-2 {
    padding-left: 10px;
    padding-right: 2px;
}

.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    z-index: 5;
}

#video-modal-1 {
    display: none;
}

#video-modal-2 {
    display: none;
}

.video-modal blockquote {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-modal button {
    width: 50px;
    height: 50px;
    color: rgb(216, 216, 216);
    border: none;
    background-color: transparent;
    position: absolute;
    top: 17%;
    right: 33%;
}

#video-modal blockquote {
    height: 100%;
}

.list-video .icon-video {
    display: flex;
    justify-content: space-around;
}

.list-video .icon-video .time,
.list-video .icon-video .view {
    display: flex;
    align-items: baseline;
    padding-top: 15px;
}

.list-video .icon-video i {
    padding-right: 5px;
}

.list-video .icon-video p {
    font-size: 14px;
    line-height: 17px;
}

.list-video .detail-review-video p {
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
}

.list-video .detail-review-video {
    padding-top: 30px;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

#unboxing {
    padding-top: 33px;
}

.icon-product {
    margin-left: 10px;
}

.title-share-link h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.title-share-link p {
    font-size: 14px;
    line-height: 24px
}

.title-share-link span {
    font-weight: bold;
}

.infor-user {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.infor-user img {
    width: 46px;
    height: 46px;
}

.infor-user p {
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
}

.content-share-link {
    margin-top: 20px;
    background-color: #F1F2F2;
    padding: 0 17px;
}

.input-link {
    padding-top: 16px;
}

.input-link input {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
    border: none;
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: 51px;
    border-radius: 10px;
}

.input-link .btn-submit {
    width: 100%;
    text-align: end;
    padding-top: 7px;
}

.input-link button {
    border: none;
    background-color: #008BCF;
    color: #fff;
    padding: 6px 17px;
    border-radius: 5px;
}

.detail-share-link {
    padding-bottom: 20px;
}

.detail-share-link p {
    font-size: 12px;
    line-height: 24px;
}

.detail-share-link ul li {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
    padding-left: 4px;
}

.detail-share-link ul {
    padding-left: 30px;
}

.detail-share-link span {
    font-weight: bold;
}

.detail-share-link ul li::marker {
    content: "\25CF";
    background-color: #000;
    border-radius: 1000%;
}

.title-unbox p {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.title-unbox {
    margin-bottom: 18px;
}

.list-product-review img {
    width: 89px;
    object-fit: cover;
    padding-bottom: 15px;
    margin: auto;
}

.list-product-review .item-slick-product {
    background-color: #F1F2F2;
    margin: 0 10px;
    padding: 20px 20px 10px 20px;
}

.list-product-review .item-slick-product a {
    color: #000;
    text-align: center;
    font-size: 12px;
    line-height: 14px;

}

.list-product-review .item-slick-product p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-height: normal;
    height: 42px;
}

.list-product-review .item-slick-product:hover a {
    color: #008BCF;
}

.avt-user img {
    width: 46px;
    height: 46px;
}

.avt-user {
    /* margin-left: 18px; */
    margin-right: 12px;
}

.detail-unbox {
    display: flex;
}

.text-detail {
    margin-right: 20px;
}

.text-detail h4 {
    font-size: 14px;
    line-height: 20px;
}

.text-detail span {
    font-weight: bold;
}

.text-detail p {
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px;
}

.icon-product img {
    width: 31px;
    height: 31px;
}

.content-unbox {
    margin-top: 31px;
    background-color: #F1F2F2;
}

.content-unbox .detail-unbox {
    padding-top: 26px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.image-unbox img {
    width: 100%;
}

.image-unbox p {
    font-size: 14px;
    line-height: 17px;
    padding-left: 20px;
    padding-bottom: 18px;
    font-weight: 300;
    line-height: 21px;
}

.icon-interact {
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 20px;
}

.icon-interact a {
    cursor: pointer;
}

.icon-interact .like {
    margin-right: 15px;
}

.icon-interact a {
    color: black;
    font-size: 14px;
    line-height: 17px;
}

.icon-interact a i {
    margin-right: 2px;
}

.icon-loading {
    text-align: center;
}

.icon-loading i {
    width: 31px;
    height: 31px;
}

.unbox-2 {
    margin-bottom: 62px;
}


/* Khách hàng đập hộp - Có đăng nhập */

.log-in {
    display: flex;
}


/* Khách hàng đập hộp - Không đăng nhập */

.no-log-in {
    display: none;
    padding: 0 330px;
}

#review-product .star-rating {
    display: flex;
    flex-wrap: wrap;
}

.item-star-rating button {
    font-size: 12px;
    padding: 4px 20px;
    border: .5px solid;
    background-color: #fff;
}

.item-star-rating {
    margin-right: 6px;
    margin-bottom: 8px;
}

.title-rating p {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.title-rating {
    margin-bottom: 18px;
}

#review-product {
    padding-top: 33px;
}

.five-star {
    display: flex;
    align-items: baseline;
}

.five-star ul {
    display: flex;
    margin-right: 15px;
}

.five-star p {
    font-size: 12px;
    line-height: 14px;
}

.five-star i {
    font-size: 13px;
}

.posts .icon-interact {
    padding-top: 10px;
    border-top: .5px solid;
    margin: 0 20px;
}

.posts .icon-product {
    right: 20px;
    position: absolute;
    margin-left: 10px;
    background-color: #dbd8d8;
    padding: 3px;
}

.posts {
    position: relative;
}

.product-details-rate-comment{
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

@media (max-width: 1025px) {
    /* Phần nhận xét*/
    .double-line-1 {
        width: 200px;
    }
    .double-line-2 {
        width: 265px;
    }
    #review .nav-tabs li a {
        padding: 0px 20px;
    }
    .list-video .icon-video p {
        font-size: 12px;
    }
    /*Phần đập hộp*/
    .list-product-review img {
        width: 75px;
    }
    .list-product-review li {
        padding-right: 10px;
        padding-left: 10px;
        margin: 0px 5px;
    }
}

@media (max-width: 769px) {
    /* Phần nhận xét*/
    #video-review .detail-video .detail-text p {
        font-size: 22px;
    }
    .title-review-product p {
        font-size: 13px;
    }
    .double-line-1 {
        width: 113px;
    }
    .double-line-2 {
        width: 170px;
    }
    .list-video .detail-review-video p {
        font-size: 16px;
        line-height: 22px;
    }
    .list-video .detail-review-video {
        padding-top: 15px;
    }
    .list-video .icon-video i {
        font-size: 13px;
    }
    .list-video .icon-video .time,
    .list-video .icon-video .view {
        padding-top: 5px;
    }
    .list-video .icon-video {
        display: block;
        padding-left: 5px;
    }
    .row-video-2 {
        padding-top: 65px;
    }
    #video-review .detail-video .icon-video .time,
    #video-review .detail-video .icon-video .view {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .list-product-review img {
        width: 52px;
    }
    #review .nav-tabs li a {
        font-size: 15px;
        padding: 0px 15px;
        margin: 0 20px;
    }
    .text-detail h4 {
        font-size: 13px;
    }
    .five-star i {
        font-size: 11px;
    }
    .five-star p {
        font-size: 11px;
    }
    .image-unbox p {
        font-size: 12px;
    }
    .avt-user img {
        width: 40px;
        height: 40px;
    }
    .icon-interact a {
        font-size: 12px;
    }
    .icon-interact {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .text-detail {
        margin-right: 0;
    }
    .slide-slick .slick-slide {
        opacity: 1;
    }
    .slide-slick .item-slick {
        padding: 0;
    }
    #video-review .detail-video .detail-text p {
        font-size: 20px;
    }
    #video-review .detail-video .icon-video p {
        font-size: 12px;
    }
    #video-review .detail-video .icon-video .time,
    #video-review .detail-video .icon-video .view {
        padding: 0px 5px;
    }
    .row-video-2 {
        padding-top: 35px;
    }
    .combo-2 {
        padding-top: 35px;
    }
    .combo-1 {}
}

#video-review .comment-customer-slide .slick-prev,
#video-review .comment-customer-slide .slick-next {
    z-index: 2;
}

/* #video-review .comment-text-slide {
    display: none;
} */

#video-review .comment-customer-slide .slick-prev,
#video-review .comment-customer-slide .slick-next {
    width: 35px;
    height: 35px;
}

#video-review .comment-customer-slide button i {
    font-size: 25px;
}

#video-review .container {
    padding: 0;
}

#video-review {
    margin-top: 43px;
}

.product-qty{
    border-radius: 0 !important;
}

