/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 100%;

	font: inherit;

	vertical-align: baseline;

	font-weight: normal;

}



a{

	text-decoration: none;

}



/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

	display: block;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

	content: none;

}

table {

	border-collapse: collapse;

	border-spacing: 0;

}

.mgt-80{

	margin-top: 80px;

}

.mgt-30{

	margin-top: 40px;

}



.mgb-32{

	margin-bottom: 32px;

}



.mgb-50{

	margin-bottom: 50px;

}



.mgb-36{

	margin-bottom: 36px;

}



/* arrow */
/* Bổ sung  */
#map-section #map_HS{
	height: 600px !important;
}

#section-convenient .title-h2{
	color: #3F4042;
    font-size: 30px;
    text-transform: uppercase;
}

.danh-sach-phong-item .card .card-body .col-12.col-lg-3 img{
	width: 100%;
	height: 247px;
	object-fit: cover;
	border-radius: 5px;
}

.danh-sach-phong-item .card .card-body .col-12.col-lg-3:first-child{
	border-radius: 5px;
	overflow: hidden;
}

.information-people-write{
	margin-bottom: 15px;
}

input:-internal-autofill-selected {
	background-color: transparent !important;
}


/* kết thúc bổ sung */


/* các title */

.title-h2 h2{

	color: #3F4042;

    font-size: 30px;

    text-transform: uppercase;

}



/* kết thúc các title */



#place-detail .place-img-slide{

	padding-left: 110px;

}

#place-detail .place-content i{
	color: #126B66;
}


#place-detail .place-img-slide .slick-arrow {

    position: absolute;

    z-index: 10;

    font-size: 30px;

    background: none;

    color: #ffffff;

    border: none;

    border-radius: 50%;

    width: 76px;

    height: 76px;

}



#place-detail .place-img-slide .slick-prev {

    display: none !important;

}



#place-detail .place-img-slide .slick-next {

    right: -13px;

    transition: .8s;

    top: 222px;

    background-color: rgba(85, 143, 124, 0.9);

}



#place-detail .place-img-slide .slick-prev::before {

    display: none !important;

}



#place-detail .place-img-slide .slick-next::before {

    display: none;

}



#place-detail .place-img-slide .slick-prev:hover {

    transition: .8s;

    background-color: #558F7C;

}



#place-detail .place-img-slide .slick-next:hover {

    transition: .8s;

    background-color: #558F7C;

}



#place-around-section .place-around-slide .slick-arrow {

    position: absolute;

    /* bottom: -800px; */

    z-index: 10;

    font-size: 30px;

    background: none;

    color: #ffffff;

    border: none;

    border-radius: 50%;

    width: 76px;

    height: 76px;

}



#place-around-section .place-around-slide .slick-prev {

    right: 940px;

    top: 160px;

    transition: .8s;

    background-color: rgba(85, 143, 124, 0.9);

}



#place-around-section .place-around-slide .slick-next {

    right: -38px;

    transition: .8s;

    top: 160px;

    background-color: rgba(85, 143, 124, 0.9);

}



#place-around-section .place-around-slide .slick-prev::before {

    display: none !important;

}



#place-around-section .place-around-slide .slick-next::before {

    display: none;

}



#place-around-section .place-around-slide .slick-prev:hover {

    transition: .8s;

    background-color: #558F7C;

}



#place-around-section .place-around-slide .slick-next:hover {

    transition: .8s;

    background-color: #558F7C;

}









/*  */



.banner-img{

	height: 728px;

}



.banner-img img{

	width: 100%;

	height: 100%;

	object-fit: cover;

}



.title-section{

	font-size: 30px;

	text-transform: uppercase;

	color:#3F4042;

	font-weight: 400;

}



.container{

	max-width: 1300px;

}



.iframe-banner{

	height: calc(100vh - 300px);

}



.iframe-banner iframe{

	width: 100%;

	height: 100%;

}



/* section background index */

.background-index{

	position: absolute;

	height: 932px;

	z-index: -1;

}



.background-index img{

	width: 100%;

	height: 100%;

}





/* Địa điểm */

.place-img-slide .img-slide-item img{

	width: 100%;

	height: 100%;

	object-fit: cover;	

	border: 1px solid #fff;

	/* border-radius: 10px; */

}



.place-img-slide .img-slide-item{

	/* padding: 0 12px; */
	height: 483px;

}



#place-detail{

	margin-top: 45px;

}



#place-detail .place-content .place-title{

	text-transform: uppercase;

	font-size: 30px;

	color: #3F4042;

	margin-bottom:40px;

}



#place-detail .place-content .place-address{

	font-size: 22px;

	color: #3F4042;

	margin-bottom: 31px;

}



.place-content{

	margin-top: 5px;

}



#place-detail .button-content{

	display: flex;

}



#place-detail .button-content button{

	width: 162px;

	height: 45px;

	background-color: transparent;

	border: 2px solid #188181;

	margin-right: 17px;

	color: #3F4042;

	font-size: 22px;

	border-radius:10px ;

	transition: .5s;

}



.button-content i{

	color: #126B66;

	margin-right: 12px;

	font-size: 18px;

	transition: .5s;

}



#place-information .title-information{

	color: #3F4042;

	font-size: 30px;

	text-transform: uppercase;

}

.title-h1.title-information{
	font-size: 30px;
	text-transform: uppercase;
}



#place-information .icon-information{

	display: flex;

	justify-content: space-between;

}



#place-information .icon-information p{

	color: #3F4042;

	font-size: 28px;

	

}



#place-information .icon-information i{

	color:#126B66;

}



.content-information{

	font-size: 18px;

	line-height: 32px;

}



.map-iframe iframe{

	width: 100%;

	height: 600px;

}



#place-around-section .place-around-box-address{

	display: flex;

	justify-content: space-between;

}



.place-around-box-address .place-around-address p{
	padding-right: 34px;
	font-size: 22px;
	line-height: 28px;
	overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-height: 34px;

}



.place-around-box-address .place-around-address{

	margin: auto 0;

}


.place-around-slide-item .place-around-img{
	height: 341px;
	overflow: hidden;
	border-radius: 20px;
}

.place-around-slide-item .place-around-img:hover img{
	transform: scale(1.2);
	transition: 0.5s;
}

.place-around-slide-item .place-around-img img{

	width: 100%;

	border-radius: 20px;
	
	height: 100%;

	object-fit: cover;
	
	transition: 0.5s;

}



.place-around-slide .place-around-slide-item{

	margin: 0 10px;

}



.place-around-slide-item .place-around-img{

	margin-bottom: 30px;

}



.place-around-slide-item .place-around-title{

	margin-bottom: 14px

}



.place-around-slide-item .place-around-title a{

	font-size: 28px;
    color: #3F4042;
    /* color: #fff; */
    /* font-size: 27px; */
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 34px;
	overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

}



.place-around-slide-item .place-around-size{

	font-size: 22px;

	background-color: #8BBEB5;	

	margin: auto 0;

	padding: 10px;

	border-radius: 10px;

}



/* Đánh giá */

#place-comment .point-progress {

	height: 40px;

	margin-bottom: 10px;

	border-radius: 10px;

	background-color: #D9D9D9;

}



#place-comment .point-progress-bar{

	border-radius: 10px;

	background-color: #188181;

}





#place-comment .point-right-star i.checked{

	color: #188181;

}



#place-comment .point-right-star i{

	font-size: 40px;

	color: #D9D9D9;

}



#place-comment .box-point-right{

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

}



#place-comment .box-point-right .point-right-number p{

	font-size: 100px;

}



#place-comment .box-point-right .point-right-star{

	display: flex;

	gap: 29px;

	margin-bottom: 29px;

}



#place-comment .box-point-right .point-right-post p{

	font-size: 32px;

}



#place-comment .box-write-comment{

	/* display: flex; */

	/* justify-content: center; */

	display: flex;

	

	



}



#place-comment .box-write-comment .write-comment{

	display: flex;

	justify-content: center;

	

}



#place-comment .box-write-comment .write-comment .button-write-comment{

	border: 1px solid #188181;

	height: 58px;
    width: 461px;

	display: flex;

	flex-direction: row;

	justify-content: center;

	align-items: center;

	border-radius:30px;

	background-color: transparent;

	transition: .5s;

	

}



#place-comment .box-write-comment .write-comment .button-write-comment:hover{

	background-color: #188181;

	transition: .5s;

	color: #fff;



}



#place-comment .box-write-comment .write-comment .button-write-comment:hover .button-icon-comment{

	color: #fff;

	transition: .5s;

}



#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment{

	margin-right: 16px;

	

}



#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment svg{

	height: 40px;

}



#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment:hover{



}



#place-comment .box-write-comment .write-comment .button-write-comment .button-text-comment{

	font-size: 26px;

}



#place-comment .box-progress{

	display: flex;



}



#place-comment .box-progress .point-progress{

	width: 100%;

}



#place-comment .box-progress .number-progess{

	margin-right: 30px;

	

}



#place-comment .box-progress .number-progess span{

	color: #3F4042;

	font-size: 30px;

}



 /* viết đánh giá */

 #place-comment .information-people-write .information-people-write-img{

    width: 68px;

    height: 68px;

    border-radius: 50%;

 }



 #place-comment .information-people-write .information-people-write-name{

	font-size: 24px;

	margin: auto 0;

	margin-left: 13px;

 }



#place-comment .information-people-write{

	display: flex;

}



.rating-box{

	margin-bottom: 35px;

}



.rating-box .stars {

	justify-content: center;

display: flex;

align-items: center;

gap: 29px;

}



.stars i {

color : #D9D9D9;

font-size: 40px;

cursor: pointer;

transition: color 0.2s ease;

}



.stars i.active {

color: #188181;

}



#place-comment .form-comment .content-post{

	width: 100%;

	height: 188px;

	font-size: 25px;

	margin-bottom: 35px;

	padding-left: 20px;

	padding-top: 15px;



}



#place-comment .form-comment{

	text-align: center;

}



#place-comment .form-comment .send-comment{

	background-color: #188181;

	color: #fff;

	border: none;

	width: 497px;

	border-radius: 8px;

	height: 54px;

	font-size: 20px;



	

}







/* Bài viết đánh giá */



#place-post-comment .title-post-comment{

	font-size: 30px;

	margin-bottom:45px ;

	margin-top: 100px;

	text-transform: uppercase;;

}



#place-post-comment .information-people{

	display: flex;

}



#place-post-comment .information-people-star .point-right-star i.checked{

	color: #188181;



}





#place-post-comment .information-people-box{

	margin-top:auto ;

	margin-bottom:auto ;



	margin-left: 13px;;

}

#place-post-comment .post-comment-content-text a{
	color: #025545;
}

#place-post-comment .information-people-star .point-right-star i{

	color: #D9D9D9;

	font-size: 24px;

}



#place-post-comment .information-people-star{

	display: flex;

    align-items: end;

}



#place-post-comment .post-comment-content{

	display: flex;

	justify-content: space-between;

	margin-bottom: 10px;

}



#place-post-comment .post-comment-content .information-people-name{

	font-size: 24px;

	margin-bottom: 10px;

}



#place-post-comment .post-comment-content .information-people-hour{

	font-size: 16px;

}





#place-post-comment .post-comment-content-text{

	font-size: 20px;

}



#place-post-comment .post-comment-content-text .more{

	color: #3F4042;

}



#place-post-comment .information-people-img img{

	width: 68px;

	height: 68px;

	border-radius:50% ;



}



#place-post-comment .post-comment{

	margin-bottom: 62px;

}

/* bổ sung pagination */

#pagination-page ul li a {

    padding: 10px 16px;

    font-size: 20px;

    color: #3F4042;

    font-weight: 400;

    text-decoration: none;

    font-family: 'Korinna' !important;

}

/* pagination */

#pagination-page{

	/* margin-bottom:80px; */

	padding-bottom: 80px;

	padding-top: 15px

}



#pagination-page .pagination{

	justify-content: center;

}



#pagination-page .pagination li a{

	border: none;

	color: #000;

	background-color: transparent;

}



#pagination-page .pagination li a.active{

	border: 1px solid #188181;

	border-radius: 10px;

	background-color: transparent;

}

#pagination-page .pagination li.active a{

	border: 1px solid #188181;

	border-radius: 10px;

	background-color: transparent;

}





#pagination-page .page-item a{

	font-size: 25px

}





/* khách sạn chi tiết */

.convenient-item{

	display: flex;

	margin-bottom: 17px;

}



.convenient-item .convenient-icon{

	width: 34px;

	margin-right:26px ;

	

}



.convenient-item .convenient-icon img{

	width: 100%;

	height: auto;

}



.convenient-item .convenient-item p{

	font-size: 18px;

	line-height: 41px;

}



/* nhà hàng đặt bàn */

#order-table{

	height: 774px;
	background-size: cover;

}



#order-table .container-order-table{

	height: 100%;

}



#order-table .group-order-table .input-group-text{

	width: 34%;

	background-color: transparent;

	font-size: 22px;

	border: none;

	padding-left: 0;

}



#order-table .group-order-table{

	margin-bottom: 9px;

	padding-bottom: 10px;

	border-bottom: 1px solid #188181;

}



#order-table .group-order-table input{

	font-size: 22px;

}

#order-table .group-order-table textarea{

	font-size: 22px;

}



#order-table .col-order-table button{

	background: #188181;

	border-radius: 8px;

	color: #fff;

	width: 166.46px;

	height: 40.69px;

	font-size: 20px;

	border: none;

	margin-top: 20px;

	

}



#order-table .col-order-table{

	background: rgba(255, 255, 255, 0.9);

	border-radius: 10px;

	text-align: center;

	padding: 50px;

	margin-top: 40px;

}



#order-table .title-order-table p{

	font-size:36px;

	text-transform: uppercase;

	margin-bottom: 20px;

}













/* chuyên mục địa điểm */

.mgt-340{

	margin-top: 340px;

}

#place-category .category-title{

	text-align: center;

	margin-bottom: 45px;

}







#place-category .category-title h1{

	font-size: 30px;

	text-transform: uppercase;

	color: #3F4042;

	margin-bottom: 16px;

}



#place-category .category-title p{

	font-size: 28px;

	color: #3F4042;

}



#place-category .place-category-item{

	padding: 0 22px;

	margin: 25px 0;

	/* width: 29%; */

}



#place-category .place-category-item-img{

	position: relative;

	height: 284px;

}



#place-category .place-category-item .place-category-item-img img{

	width: 100%;

	border-radius: 20px;

	height: 100%;

	object-fit: cover;



}



#place-category .place-category-item .place-category-item-title a{

	color: #fff;
    font-size: 27px;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-height: 34px;

} 



#place-category .place-category-item .place-category-item-title{

	position: absolute;
    bottom: 20px;
    /* left: auto; */
    /* right: auto; */
    left: 6%;
	padding-right: 24px;

}



#place-category .background-opacity{

	background-color: #000;

	opacity: 30%;

	position: absolute;

	top: 0;

	bottom: 0;

	right: 0;

	left: 0;

	border-radius:20px ;

}



#place-category .place-category-box{

	justify-content: center;

}





/* Bộ lọc */



#section-background-index .filter-option{

	width: 80%;

	padding-right: 42px;

	/* margin-right: 86px ; */

	

}





#section-background-index .filter-option-box{

	display: flex;

	

}



#section-background-index .container-box-filter-search{

	display: flex;

	width: 100%;

	justify-content: center;

	flex-direction: column;

	background-color: #fff;

	border-radius: 30px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

	transform: translateY(-46%);

	padding: 0 ;



	

}



#section-background-index .container-box-filter-search .form-select-filter{

	height: 54px;

	padding-right: 106px;

	text-align: right;

	margin: 34px;

	-webkit-appearance: none;

	-moz-appearance: none;

	appearance: none;

	background-image: url(../img/Group\ 485.png) ;

	background-size: cover;

	background-position: right;

	width: 93%;

}



#section-background-index .filter-option-title {

	width: 20%;

	border-right: 2px solid rgba(0, 0, 0, 0.2);

	display: flex;

    align-items: center;

    justify-content: center;

	padding: 0 60px;

	font-size: 29px;



}



#section-background-index .box-search{

	border-top: 2px solid rgba(0, 0, 0, 0.2);

	text-align: center;

	padding-top: 25px;

	padding-bottom: 25px;

	display: flex;

	

}



#container-box-filter-search{

	padding: 0;

}



.box-search #search-place {

	width: 100%;

	height: 53px;

	border: none;

	background-color: transparent;

	font-size: 22px;

	outline: none;



}



.box-search #search-place::placeholder{

	color: #126329;

	font-size: 22px;

}



.box-search #search-place:focus{

	outline: none;

}







#section-background-index .form-select-filter{

	font-size: 22px;

	background: rgba(59, 146, 129, 0.17);

	width: 100%;

	border: none;

	border-radius: 20px;;

	

}



#section-background-index .form-select-filter:focus-visible{

	outline: none;

}



.container-box-filter-search .input-search{

	background: #C5DED8;

	display: flex;

	width: 100%;

	border-radius: 20px;

	margin-left: 59px;

    margin-right: 73px;



}





.container-box-filter-search label{

	margin: auto;

    padding-left: 25px;

	padding-right: 20px

}



.container-box-filter-search label .fa-magnifying-glass{

	color: #126329;

	font-size: 22px;

}





/* news-detail */



.breadcrumb-page{

	margin-top: 60px;

	margin-bottom: 45px;

}



.breadcrumb-page .breadcrumb-item a{

	font-size: 22px;

	color: #3F4042;

}



.breadcrumb-page .breadcrumb-item{

	font-size: 22px;

	color: #3F4042;

}





#section-news-content{

	margin-bottom: 125px;

}



#section-news-content .news-main p{

	font-size: 18px

}



#section-news-content .news-main h1{

	font-size: 30px;

	font-weight: 400;

	text-transform: uppercase;

	margin-bottom: 16px;

	line-height: 1.2;

}



#section-news-content .news-sidebar{

	margin-top: 228px;

}



#section-news-content .news-sidebar-item{

	margin-left: 18%;

	margin-bottom: 46px;

}



#section-news-content .news-sidebar-box-title{

	margin-left: 18%;

	margin-bottom: 30px;

}



#section-news-content .news-sidebar-box-title h2{

	font-size: 30px;

}



#section-news-content .news-main .title-news{

	margin-bottom: 42px;

}



#section-news-content .news-main .title-news .content-news{

	font-size: 22px;

	line-height: 38px;

}



#section-news-content .news-main .content-news{

	font-size: 20px;

	line-height: 32.8px;

}



#section-news-content .news-sidebar .thumbnail-news-sidebar img{

	width: 100%;

}



#section-news-content .news-sidebar .thumbnail-news-sidebar{

	margin-bottom:33px;

}





#section-news-content .news-sidebar .title-news-sidebar {

	margin-bottom: 10px;;

}



#section-news-content .news-sidebar .title-news-sidebar a{

	font-weight: 400;

	font-size: 30px;

	color:#3F4042;

}



#section-news-content .news-sidebar .hour-news-sidebar span{

	font-size: 18px;

}



/* tin tuc khac */



#section-news-other .news-other{

	margin-bottom: 46px;

}



#section-news-other .news-other-box-title h2{

	font-size: 30px;

	

}



#section-news-other .news-other-box-title{

	margin-bottom: 34px;

}



#section-news-other .news-other .title-news-other{

	margin-bottom: 10px;

}





#section-news-other .news-other .thumbnail-news-other img{

	width: 100%;

}



#section-news-other .news-other .thumbnail-news-other img{

	width: 100%;

}



#section-news-other .news-other .thumbnail-news-other{

	margin-bottom:33px;

}



#section-news-other .news-other .title-news-other a{

	font-weight: 400;

	font-size: 25px;

	color:#3F4042;

}





#section-news-other{

	margin-bottom: 90px;

}



/* form đăng ký đăng nhập*/
.text-danger{
	margin-bottom: 10px;
}


#section-sign{

	margin-top: 34px;

}

.box-sign .nav-sign{
	justify-content: center;
	margin-bottom: 60px;
	border-bottom: 1px solid #188181;
}

.box-sign .nav-sign-in{
	margin-bottom: 32px !important;
	justify-content: center;
	border-bottom: 1px solid #188181;
}

.button-register{
	margin-top: 20px !important;
}



#section-sign .container-sign, #section-verify-account .container-verify{

	background: #FFFFFF;

	border: 2px solid rgba(63, 64, 66, 0.5);

	border-radius: 40px;

	height: 731px;

	overflow: hidden;

}



#section-sign .box-sign{

	padding-top: 76px;

	padding-bottom: 60px;

	padding-left:90px;

	padding-right: 213px;

   

} 

#section-sign .box-register{
	padding-top: 35px !important;
}



#section-sign .box-sign .nav-item-sign{

	width: 50%;

}

.tab-content-sign form{
	text-align: center;
}



#section-sign .nav-link-sign{
	font-size: 28px;
	color: #000000;
	text-align: center;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;

}




#section-sign .form-sign-in{

	margin-top: 90px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

}



#section-sign .input-sign-in-user, #section-sign .input-sign-in-password,.input-change-password{

	padding-left:25px;

	border: 1px solid rgba(63, 64, 66, 0.5);

	border-radius: 10px;

	padding-top: 10px;

	padding-bottom: 10px;

	margin-bottom: 46px;

	

}

.tab-pane-sign .input-group{

	margin-bottom: 20px !important;

}


.tab-pane-sign .input-group input{

	border: none;
	font-size: 17px;
}



.tab-pane-sign .input-group input:focus{

	box-shadow: none;

}



.tab-pane-sign .input-group input::placeholder{

	font-size: 17px;

}





#section-sign #sign-in-name, #section-sign #sign-in-password, #section-change-password #change-password, #section-change-password #verify-change-password{

	border: none;

	font-size: 20px;



}

.input-sign-in-user .form-control{
	font-size: 17px;
}

.input-sign-in-password .form-control{

	font-size: 17px;

}



#section-sign #sign-in-name:focus, #section-sign #sign-in-password:focus,#section-change-password #change-password:focus, #section-change-password #verify-change-password:focus{

	box-shadow: none;

}



#section-sign #sign-in-name::placeholder, #section-sign #sign-in-password::placeholder, #section-change-password #change-password::placeholder, #section-change-password #verify-change-password::placeholder{

	font-size: 20px;

}



#section-sign #sign-in-name:focus-visible, #section-sign #sign-in-password:focus-visible, #section-change-password #change-password:focus-visible, #section-change-password #verify-change-password:focus-visible{

	outline: none;

}



#section-sign .input-sign-in-user .user-label i, #section-sign .input-sign-in-password .password-label i,.input-change-password .change-password-label i {

	color:#126B66;

	font-size: 21px;

}



#section-sign .input-sign-in-user .user-label, #section-sign .input-sign-in-password .password-label, .input-change-password .change-password-label{

	margin: auto;

}



#section-sign .button-sign-in{
	margin-top: 50px;

	border: none;

	background-color: #188181;

	width: 291px;
    height: 40px;

	color: #fff;

	border-radius: 10px;

	font-size: 22px;

	margin-bottom: 20px;

}



#section-sign .forgot-password{

	font-size: 18px;

	margin-bottom: 80px;

	text-align: ce;

}



#section-sign .forgot-password a{

	color: #188181;

}



#section-sign .sign-in-other p{

	margin-bottom: 32px;

	color: #747476;

	font-size: 18px;



}

#section-sign .register-other p{

	margin-bottom: 15px

}

.register-text p{
	text-align: center;
	font-size: 18px;
	color: #747476;
	margin-top: 15px;
}

.register-text a{
	color: #747476;
}



#section-sign .sign-in-other{

	text-align: center;

}



#section-sign .sign-in-other a{

	font-size: 40px;

}



#section-sign .sign-in-other .sign-in-mobile{

	color: #000

}



#section-sign .sign-in-other .sign-in-google{

	color: #E34133;

	margin:0 21px



}



#section-sign .form-sign-in .sign-in-other .sign-in-facebook{

	color: #1773EA;

}



#section-sign .sign-background-right img{

	width: 100%;

}



/* quên mật khẩu */

#section-forgot-password .container-sign{

	background: #FFFFFF;

	border: 2px solid rgba(63, 64, 66, 0.5);

	border-radius: 40px;

	height: 741px;

}



#section-forgot-password .box-forgot-password{

	padding-left: 127px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	padding-right: 213px;

}



#section-forgot-password .box-forgot-password .title-forgot-password p{

	font-size: 27px;

	color: #000;

}



#section-forgot-password .box-forgot-password .content-forgot-password p{

	font-size: 27px;

	color: #000;

}



#section-forgot-password .input-forgot-password input{

	width: 470px;

	padding-left: 20px;

	padding-top: 15px;

	padding-bottom: 15px;

	font-size: 20px;

}



#section-forgot-password .button-forgot-password button{

	background-color: #188181;

	color: #fff;

	font-size: 22px;

	width: 237px;

	height: 48px;

	border: none;

	border-radius: 10px;

}



#section-forgot-password .background-right-sign{

	position: relative;

	height: 100%;

}



#section-forgot-password .background-right-sign .background-right-sign-scene{

	position: absolute;

    top: -20%;

    height: auto;

    border-radius: 50%;

    overflow: hidden;

    width: 128%;

}



#section-forgot-password .background-right-sign .background-right-sign-scene img{

	width: 800px;

    height: 1000px;

}





#section-forgot-password .background-right-sign .background-right-sign-circle img{

	width: 100%;

}



#section-forgot-password .row.row-forgot-password {

	height: 100%;

	overflow: hidden;

	position: relative;

	border-radius: 40px;

}



#section-forgot-password .background-right-sign-circle {

	height: 1421px;

	width: 1421px;

	background-color: #8BBEB5;

	border-radius: 50%;

	position: absolute;

	right: -150%;

	top: -50%;

}



/* xác nhận tài khoản */



#section-verify-account .row-verify-account{

	height: 741px;

}



#section-verify-account .box-verify-account{

	display: flex;

	justify-content: center;

	flex-direction: column;

	padding-left: 127px;

}



#section-verify-account .title-verify-account p{

	font-size: 36px;

}



#section-verify-account .content-verify-account p{

	font-size:28px;

}



#section-verify-account .button-verify-account button{

	background-color: #188181;

    color: #fff;

    font-size: 22px;

    width: 237px;

    height: 48px;

    border: none;

    border-radius: 10px;

}



#section-verify-account .background-right-sign{

	position: relative;

	height: 100%;

}



#section-verify-account .background-right-sign .background-right-sign-scene{

	position: absolute;

    top: -20%;

    height: auto;

    border-radius: 50%;

    overflow: hidden;

    width: 221%;

}



#section-verify-account .background-right-sign .background-right-sign-scene img{

	width: 800px;

    height: 1000px;

}





#section-verify-account .background-right-sign .background-right-sign-circle img{

	width: 100%;

}



#section-verify-account .row.row-forgot-password {

	height: 100%;

	overflow: hidden;

	position: relative;

	border-radius: 40px;

}



#section-verify-account .background-right-sign-circle {

	height: 1269px;

    width: 1445px;

    background-color: #8BBEB5;

    border-radius: 50%;

    position: absolute;

    right: -150%;

    top: -38%;

}



#section-verify-account .input-verify{

	height: 60px;

	width: 60px;

	font-size: 22px;

	margin-right: 20px;

	text-align: center;

}



#section-verify-account .group-input-verify{

	margin-bottom: 32px;

}



/* đổi mật khẩu */



#section-change-password .row-change-password{

	height: 741px;

}



#section-change-password .background-right-sign{

	position: relative;

	height: 100%;

}



#section-change-password .background-right-sign .background-right-sign-scene{

	position: absolute;

    top: -20%;

    height: auto;

    border-radius: 50%;

    overflow: hidden;

    width: 221%;

}



#section-change-password .background-right-sign .background-right-sign-scene img{

	width: 800px;

    height: 1000px;

}





#section-change-password .background-right-sign .background-right-sign-circle img{

	width: 100%;

}



#section-change-password .row.row-forgot-password {

	height: 100%;

	overflow: hidden;

	position: relative;

	border-radius: 40px;

}



#section-change-password .background-right-sign-circle {

	height: 1269px;

    width: 1445px;

    background-color: #8BBEB5;

    border-radius: 50%;

    position: absolute;

    right: -150%;

    top: -38%;

}



#section-change-password .button-verify-account button{

	background-color: #188181;

    color: #fff;

    font-size: 22px;

    width: 237px;

    height: 48px;

    border: none;

    border-radius: 10px;

}



#section-change-password .container-change-password{

	background: #FFFFFF;

	border: 2px solid rgba(63, 64, 66, 0.5);

	border-radius: 40px;

	height: 741px;

	overflow: hidden;

}



#section-change-password .button-change-password button{

	background-color: #188181;

    color: #fff;

    font-size: 22px;

    width: 237px;

    height: 48px;

    border: none;

    border-radius: 10px;

}







#section-change-password .box-change-password{

	display: flex;

	justify-content: center;

	flex-direction: column;

	padding-right: 213px;

	padding-left: 127px;

}



#section-change-password .title-change-password p{

	font-size: 36px

}



#section-change-password .content-change-password p{

	font-size: 28px;

}



.input-change-password .icon-eye-button img, .input-sign-in-password .icon-eye-button img{

	margin: auto;

	width: 27px;

	height: 14px;

	color: #126B66;

	cursor: pointer;

}







.input-change-password .icon-eye-button, .input-sign-in-password .icon-eye-button{

	padding-right: 20px;

	margin: auto;

}



/* section hotel */

.danh-sach-phong .head-line h3 {

	font-style: normal;

	font-weight: 400;

	font-size: 28.8px;

	text-transform: uppercase;

	color: #3f4042;

}



.danh-sach-phong .danh-sach-phong-item .room-detail {

	max-width: 518px;

	margin: 0 auto;

}



.danh-sach-phong .danh-sach-phong-item .room-detail h6 {

	font-style: normal;

	font-weight: 400;

	font-size: 28.8px;

	color: #3f4042;

	margin-bottom: 25px;

}



.danh-sach-phong .danh-sach-phong-item .room-detail .roon-service span {

	font-style: normal;

	font-weight: 400;

	font-size: 15.6px;

	color: #126b66;

}



.danh-sach-phong .danh-sach-phong-item .room-price .badge-discount {

	background-color: #126b66;

}



.danh-sach-phong .danh-sach-phong-item .room-price del {

	font-style: normal;

	font-weight: 400;

	font-size: 22.4px;

	color: #3f4042;

	line-height: 34px;

}



.danh-sach-phong .danh-sach-phong-item .room-price .price {

	font-style: normal;

	font-weight: 400;

	font-size: 28.8px;

	color: #126b66;

	line-height: 30px;

}



.danh-sach-phong .danh-sach-phong-item .room-price .button-submit-custom {

	padding: 5px 50px;

}



.danh-sach-phong .danh-sach-phong-item .border-right-line {

	border-right: 1px solid #126B66;

}



.danh-sach-phong .room-item{

	padding:0;

	box-shadow: 4px 4px 8px rgba(24, 129, 129, 0.25);

	border-radius: 10px;

	border: 2px solid rgba(18, 107, 102, 0.5);

}



/* viet nam 360 */

#section-img-360 .item-img-360 img{

	width: 100%;

	border-radius: 15px;

	transition: .5s ;



}



#section-img-360 .item-img-360 img:hover{

	transform: scale(1.2);

	transition: .5s ;

}	



#section-img-360 .item-img-360{

	margin-bottom: 19px;

	overflow: hidden;

}



#section-img-360 .item-img-360 .img-360{

	overflow: hidden;

	border-radius: 15px;

}



#title-categorty-360 .category-title{

	text-align: center;

	margin-bottom: 45px;

}







#title-categorty-360 .category-title h1{

	font-size: 30px;

	text-transform: uppercase;

	color: #3F4042;

	margin-bottom: 16px;

	margin-top: 80px;

}



/* background */



.background-right-sign{

	position: relative;

	height: 100%;

}



.background-right-sign .background-right-sign-scene{

	position: absolute;

    top: -20%;

    height: auto;

    border-radius: 50%;

    overflow: hidden;

    width: 221%;

}



.background-right-sign .background-right-sign-scene img{

	width: 800px;

    height: 1000px;

}





.background-right-sign .background-right-sign-circle img{

	width: 100%;

}

.row.row-sign{

	height: 741px;

}



.row.row-sign {

	height: 100%;

	overflow: hidden;

	position: relative;

	border-radius: 40px;

}



.background-right-sign-circle {

	height: 1269px;

    width: 1445px;

    background-color: #8BBEB5;

    border-radius: 50%;

    position: absolute;

    right: -150%;

    top: -38%;

}

/* Bo sung code */
.box-search-category{
	width: 77%;
}

.banner-top-style-1 img{
	height: calc(100vh - 300px);
}



@media (max-width:1025px){

	/* chi tiết địa điẻm */

	#place-detail .place-img-slide .slick-next{

		right: 27px;

		top: 155px;



	}





	#place-detail .place-img-slide .slick-arrow{

		width: 55px;

    	height: 55px;

	}



	/* ddai */

	#place-around-section .place-around-slide .slick-next{

		right:-7px;

		top: 107px;



	}



	#place-around-section .place-around-slide .slick-prev{

		left:-7px;

		top: 107px;

	}



	#place-around-section .place-around-slide .slick-arrow{

		font-size: 30px;

		width: 55px;

    	height: 55px;

	}



	#place-around-section .place-around-slide .slick-next{



	}



	/* thay doi mat khau */

	#section-change-password .background-right-sign-circle {

		height: 1269px;

		width: 1142px;

	}



	#section-change-password .background-right-sign .background-right-sign-scene {

		width: 289%;

	}



	#section-change-password .box-change-password {

		padding-right: 148px;

	}



	/* background chung */

	.background-right-sign-circle {

		height: 1269px;

		width: 1142px;

	}



	.background-right-sign .background-right-sign-scene {

		width: 289%;

	}

}







@media (max-width:768px){
	/* Bo sung */
	#map-section #map_HS{
		height: 277px !important;
	}
	
	.place-img-slide .img-slide-item{
		height: 315px;
	}

	.place-around-slide-item .place-around-img {
		height: 212px;
	}

	/* trang chi tiết tin tức */
	

	#section-news-content .news-sidebar-item{

		margin-left: 0;

	}



	#section-news-content .news-sidebar{

		margin-top: 40px;

	}



	#section-news-content .news-sidebar-box-title{

		margin-left: 0;

	}



	#section-news-content .news-sidebar-box-title h2{

		font-size: 30px;

	}



	#section-news-content .news-main h1{

		font-size: 29px

	}



	#section-news-content .news-sidebar .title-news-sidebar a{

		font-size: 25px

	}



	#section-news-content .news-main .content-news{

		font-size: 20px;

		line-height: 1.3;

	}



	#section-news-other .news-other-box-title h2{

		font-size: 30px;

	}



	.breadcrumb-page .breadcrumb-item a{

		font-size: 20px;

		color: #3F4042;

	}

	

	.breadcrumb-page .breadcrumb-item{

		font-size: 20px;

		color: #3F4042;

	}



	/* tài khoản thay đổi mật khẩu */

	#section-change-password .background-right-sign{

		display: none;

	}



	#section-change-password .box-change-password{

		width: 100%;

	}



	#section-change-password .box-change-password {

		padding-right: 20px;

		padding-left: 20px;

	}

	/* background chung */

	.background-right-sign{

		display: none;

	}



	.box-change-password{

		width: 100%;

	}



	.box-change-password {

		padding-right: 20px;

		padding-left: 20px;

	}



	/* đăng ký đăng nhập */

	#section-sign .box-sign {

		width: 100%;

		padding-right: 40px;

		padding-left: 40px;



	}

	#section-sign .nav-link-sign {

		font-size:25px

	}

	


}



@media (max-width: 576px){
	/* Bổ sung code */
	.box-search-category {
		width: 100%;
	}

	.pop_select{
		position: absolute;
		top: 65px !important;
		right: 15px !important;
	}

	/* chung */



	.container{

		max-width: 95%;

	}



	#place-detail .place-img-slide{

		padding-left: 0;

	}



	#place-detail .place-content {

		margin-bottom: 40px;

	}



	#place-detail .button-content button{

		width: 144px;

    	height: 45px;

		font-size: 18px;

	}



	#place-information .icon-information p{

		font-size: 23px;

		margin-bottom: 15px;

	}



	#place-information .icon-information{

		display: block;

	}



	.map-iframe iframe {

		height: 503px;

	}



	#place-post-comment .post-comment-content{

		flex-direction: column;

	}



	/* binh luan */

	#place-comment .point-progress {

		height: 30px;

	}





	#place-comment .box-point-right .point-right-number p{

		font-size: 80px;



	}



	#place-comment .point-right-star i{

		font-size: 40px;

	}



	#place-comment .box-point-right .point-right-number p {

		font-size: 47px;

	}



	#place-comment .box-point-right .point-right-post p {

		font-size: 29px;

	}



	#place-comment .box-write-comment .write-comment .button-write-comment {

		height: 57px;
		margin-bottom: 20px;

	}

	#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment svg {

		font-size: 31px;

	}



	#place-comment .box-write-comment .write-comment .button-write-comment .button-text-comment{

		font-size: 24px;

	}



	#place-comment .form-comment .send-comment{

		width: 70%;

	}



	

}





@media (max-width: 576px){

	/* chung */

	.banner-img{

		height: 427px;

	}



	.iframe-banner{

		height: 427px;

	}

	/* chuyên mục địa điểm */

	.filter-option-title{

		display: none !important;

	}



	#section-background-index .filter-option{

		width: 100%;

		padding: 0;

		border-radius: 0;

	}



	#section-background-index .container-box-filter-search .form-select-filter{

		width: 100%;

		margin: 0;

		height: 63px;

	}



	#section-background-index .form-select-filter{

		border-radius: 0;

	}



	.container-box-filter-search .input-search{

		margin-left: 37px;

    	margin-right: 37px;

	}

	.introduc-col{
		margin-top: 40px;
		padding-left: 10px !important;
	}

	#section-artifacts .artifacts-slide-top-img{
		height: 443px !important;
	}



	/* chi tiết địa điểm */



}







#section-change-password, #section-sign, #section-verify-account{

	padding: 70px 0;

}

.pop_select {
	background-color: #C2DED8;
    position: absolute;
    z-index: 1000;
    padding: 10px;
    width: 92%;
    display: none;
	top: 91px;
    right: 36px;
	border-radius: 20px;
	z-index: 9

}

.pop_select li a{
	color:#3F4042;
	font-size: 18px;
}

.pop_select li{
	text-align: right;
	padding: 10px 57px;
	border-bottom: 2px solid #fff;
}

.pop_select li:last-child{
	border-bottom: none;
}

.mask-select {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255 255 255 / 0%);
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}


/* bo sung code artifact */
#section-artifacts .artifacts-slide-top-img img{
	width: 100%;
	height: 100%;
}

#section-artifacts .artifacts-slide-bot-img img{
	width: 100%;
	height: 100%;
	padding: 5px
}

#section-artifacts .artifacts-slide-bot-img{
	height: 223px;
}

#section-artifacts .title-artifacts{
	color: #3F4042;
    font-size: 30px;
    text-transform: uppercase;
	margin-bottom: 15px;
}

#section-artifacts .detail-artifacts p{
	color: #3F4042;
    font-size: 18px;
	margin-bottom: 10px;
}

#section-artifacts .detail-artifacts span{
	font-weight: bold;
}

#section-artifacts .artifacts-slide-top{

}

.size-artifacts{
	display: flex;
}

.size-artifacts .title-artifact-size{
	font-weight: bold;
}

#section-introduct .title-information{
	color: #3F4042;
    font-size: 30px;
    text-transform: uppercase;
}

#section-introduct{
	margin-bottom: 80px;
}

.introduc-col{
	padding-left: 74px;
}

/*  */
@media (min-width: 992px){
.place-content.col-lg-3 {
    flex: 0 0 auto;
    width: 27% !important;
}

.place-img-slide.col-lg-9{
	width: 73% !important;
}

.info-tour{
	padding-right: 50px;
}
}




#section-change-password, #section-sign, #section-verify-account{
	padding: 70px 0;
}


/* bo sung code slide hien vat*/

#section-artifacts .artifacts-slide-top-img{
	width: 610px;
	height: 625px;
}

#section-artifacts .artifacts-slide-top-img img{
	width: 100%;
	height: 100%;
}

#section-artifacts .artifacts-slide-bot-img img{
	width: 100%;
	height: 100%;
	padding: 5px
}

#section-artifacts .title-artifacts{
	color: #3F4042;
    font-size: 30px;
    text-transform: uppercase;
	margin-bottom: 15px;
}

#section-artifacts .detail-artifacts p{
	color: #3F4042;
    font-size: 18px;
	margin-bottom: 10px;
}

#section-artifacts .detail-artifacts span{
	font-weight: bold;
}

#section-artifacts .artifacts-slide-top{

}

.size-artifacts{
	display: flex;
}

.size-artifacts .title-artifact-size{
	font-weight: bold;
}

#section-introduct .title-information{
	color: #3F4042;
    font-size: 30px;
    text-transform: uppercase;
}

#section-introduct{
	margin-bottom: 80px;
}

.introduc-col{
	padding-left: 74px;
}

/* artifact địa điểm chi tiết*/
#artifacts-section .place-artifacts-img img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transition: 0.5s;
}

#artifacts-section .place-artifacts-img{
	border-radius: 20px;
	overflow: hidden;
	margin: 0 5px;
	height: 308px;
}

#artifacts-section .place-artifacts-title{
	margin-top: 12px;
}

#artifacts-section .place-artifacts-title a{
	font-size: 24px;
	color: #3F4042;
}


#artifacts-section .place-artifacts-img:hover img{
	scale: 1.2;
	transition: 0.5s;
}


.place-artifacts-slide .slick-arrow{
	position: absolute;
    /* bottom: -800px; */
    z-index: 10;
    font-size: 30px;
    background: #558F7C;
    border: none;
    border-radius: 50%;
    width: 59px;
    height: 59px;
	top: 43%
}

.place-artifacts-slide .slick-arrow{
	position: absolute;
    /* bottom: -800px; */
    z-index: 10;
    font-size: 30px;
    background: #558F7C;
    border: none;
    border-radius: 50%;
    width: 59px;
    height: 59px;
	top: 43%
}

.place-artifacts-slide .slick-arrow{
	position: absolute;
    /* bottom: -800px; */
    z-index: 10;
    font-size: 30px;
    background: #558F7C;
    border: none;
    border-radius: 50%;
    width: 59px;
    height: 59px;
	top: 43%
}

.artifacts-slide-top .slick-arrow{
	position: absolute;
    /* bottom: -800px; */
    z-index: 10;
    font-size: 30px;
    background: #558F7C;
    border: none;
    border-radius: 50%;
    width: 59px;
    height: 59px;
	top: 43%
}

.artifacts-slide-top i{
	color: #fff;
}

.place-artifacts-slide .slick-arrow:hover{
	background: #558F7C;
}

.place-artifacts-slide .slick-arrow i {
	color: #fff;
}


/*  */

#modal-book-tour .modal-body .card-body label{
	font-size: 20px;
	margin-bottom: 10px;
}

/* chi tiết tin tức */
.card-event h5{
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 34px !important;
	font-weight: bold;
}

#su-kien-list-event .section-heading{
	margin-bottom: 42px;
}

#su-kien-list-event .container .col-12{
	margin-bottom: 50px;
}

.background{
	background-repeat: no-repeat;
}
#artifacts-section{
	margin-bottom: 100px;
}

/* bo sung code  modal*/
#modal-book-room .modal-body h5{
	margin-bottom: 23px;
}

#modal-book-room .modal-body p{
	font-size: 22px;
	margin-bottom: 5px;
}

#modal-book-room .modal-body input{
	margin-bottom: 15px;
	font-size: 18px;
}


/* share facebook */
.fb_iframe_widget{
	scale: 1.4
}

.button-content .button-share{
	width: 162px;
    height: 45px;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #1A77F2;
	border-radius: 10px ;
	overflow: hidden;
}

/* bổ sung code chi tieetse tour */
#tour-chi-tiet-intro h3{
	font-size: 29px !important;
	text-transform: uppercase;
	margin-bottom: 22px;
}

#tour-chi-tiet-intro .header-name{
	margin-bottom: 10px;
}

#tour-chi-tiet-intro{
	margin-bottom: 72px !important;
}

.info-tour #tour-chi-tiet-intro p{
	font-size: 18px;
}

.button-share-tour{
	margin-left: 10px;
    width: 118px;
    height: 47px;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #1A77F2;
	border-radius: 10px ;
	overflow: hidden;
}

.tour-chi-tiet-map .button-group{
	display: flex;

}

/* cai dat ca nhan */
.edit-user-photo .m_bg_img img{
	height: 100%;
	width: 100% !important;
}

#img1{
	width: 134px !important;
	height: auto !important;
}

/* địa điểm yêu thich */
.card-diem-den-yeu-thich-contain h5 a{
	font-size: 27px !important;
	overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-height: 34px;
}


/* tour chi tiet */
#skct-lien-quan-bottom h2{
	font-size: 30px;
}


/* đặt phòng */
 ::-webkit-search-cancel-button,
 ::-webkit-search-decoration,
 ::-webkit-search-results-button,
 ::-webkit-search-results-decoration {
   display: none;
 }
 ::-moz-search-cancel-button,
 ::-moz-search-decoration {
   display: none;
 }

 /*  */
 .tab-content-booking{
	margin-bottom: 80px;
 }