/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: Gilroy;
    src: url(../font/Gilroy/SVN-Gilroy\ Regular.otf);
   
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Gilroy;
}

a{
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img{
    max-width: 100%;
}

/* chung */
.title-main-section h1{
    line-height: 120%;
    font-size: 32px;
    margin-bottom: 16px;
}

.title-sub-section p{
    line-height: 150%;
    font-size: 16px;
}

/* search */
#section-search{
    background-color: #ebebeb;
    position: fixed;
    z-index: 9;
    right: 0;
    left: 0;
    top: 90px;
    padding: 32px 0;
    
}

#section-search .input-group{
    position: relative;
}

#section-search .form-control:focus{
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem transparent;
}

#section-search .form-control{
    border: 1px solid #000;
}

#section-search .icon-header{
    border: none;
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 44px;
    line-height: 42px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    z-index: 10;
}


#section-search input{
    height: 44px;
    z-index: 9;
}

/* menu */
#header-menu .navbar-nav{
    margin: auto;
}

#header-menu .dropdown-menu{
    padding-top: 17px;
    padding-bottom: 17px;
    width: 234px;
}

#header-menu .navbar-nav .nav-link{
    color: #000;
    transition: all 0.3s linear;
    font-weight: bold;
}
#header-menu .dropdown-item{
    transition: all 0.3s linear;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header-menu .dropdown-item:hover{
    background-color: #E56400;
    color: #fff;
    transition: all 0.3s linear;


}

#header-menu .navbar-nav .nav-link:hover{
    color:#E56400;
    transition: all 0.3s linear;

}

#header-menu .navbar-nav .nav-item{
    margin: 0 10px;
    padding: 7px 0;
}

#header-menu{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 10;
    backdrop-filter: blur(5px);

}

#header-menu .navbar-brand{
    width: 50px;
    height: auto;
}

#header-menu .navbar-brand img{
    width: 100%;
    height: 100%;

}

.menu-header-right button{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    
}

.menu-header-right button i{
    font-size: 20px;
    margin-right: 8px;
}

.menu-header-right a{
    font-size: 21px;
    color: #fff;
}

/* banner trang chủ */
#section-banner-home .banner-home-slide{
   height: 764px;
}

#section-banner-home .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}

#section-banner-home .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.5);
    border: none;
}

#section-banner-home .slick-dots .slick-active button {
    background-color: #fff;
    border: none;
}


#section-banner-home .banner-home-slide .banner-slide-img{
    height: 764px;
}

#section-banner-home .banner-home-slide .banner-slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section giới thiệu */
#section-home-introduce{
    margin: 80px 0;
}

#section-home-introduce .row-home-introduce{
    justify-content: center;
}

#section-home-introduce .row-home-introduce .home-inrtroduce-box{
}

/* section category product */
#section-category-product{
    margin-bottom: 100px;
}

#section-category-product .category-product-box{
    height: 540px;
    position: relative;
    overflow: hidden;
}

#section-category-product .category-product-item {
    padding: 16px;
}

#section-category-product .category-product-item .category-product-img{
    overflow: hidden;
}

#section-category-product .category-product-item .category-product-img img{
    transition: all 0.3s linear;
}

#section-category-product .category-product-item:hover .category-product-img img{
    scale: 1.2;
    transition: all 0.3s linear;
}

#section-category-product .category-product-item .category-product-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

#section-category-product .category-product-item .category-product-img img{
    height: 100%;
    object-fit: cover;
}

#section-category-product .category-product-item .category-product-info{
    position: absolute;
    bottom: 0;
    height: 279px;
    padding:32px;
    left: 0;
    right: 0;
}

#section-category-product .category-product-item .category-product-info .category-product-info-title{
    height: 53px;
}

#section-category-product .category-product-item .category-product-info .category-product-info-title a{
    color: #fff;
    line-height: 120%;    
    font-size: 24px;
    transition: all 0.3s linear;
    text-transform: uppercase;

}

#section-category-product .category-product-item .category-product-info .category-product-info-title a:hover{
    color: #E56400;
    transition: all 0.3s linear;
}

#section-category-product .category-product-item .category-product-info .category-product-info-description p{
    line-height: 150%;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-bottom: 24px;
    min-height: 100px;
}

#section-category-product .category-product-item .category-product-info .category-product-info-button a{
    padding: 16px 36px;
    background-color: #fff;;
    color: #000;
    font-weight: bold;
    border: 1px solid #fff;
    transition: all 0.3s linear;


}

#section-category-product .category-product-item .category-product-info .category-product-info-button a:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.3s linear;

}

#section-category-product .category-product-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(179.92deg,transparent 48.04%,rgba(0,0,0,.6) 80.91%);
}

/* Sảm phẩm */
#section-product{
    margin-bottom: 125px;
}

#section-product .title-box-section{
    margin: auto;
    text-align: center;
    margin-bottom: 32px;
}

#section-product .product-item{
    padding: 16px
}

#section-product .product-inner{
    width: auto;
    height: 405px;
    position: relative;
    overflow: hidden;
}


#section-product .product-inner .product-img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
}

#section-product .product-inner .product-img img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#section-product .product-info .product-info-category span{
    color: #fff;
    font-size: 16px
}

#section-product .product-info .product-info-code span{
    color: #fff;
    font-size: 14px;
    transition: all 0.3s linear;
}

#section-product .product-info .product-info-code .code:hover{
    color: #E56400;
    transition: all 0.3s linear;
}

#section-product .product-info .product-info-code span{
    cursor: pointer;
}


#section-product .product-info .product-info-category{
    margin-bottom: 4px;
}

#section-product .product-info .product-info-title{
    margin-bottom: 4px;
}

#section-product .product-info .product-info-title a{
    color: #fff;
    font-size: 24px;
    line-height: 120%;
    transition: all 0.3s linear;
}

#section-product .product-info .product-info-title a:hover{
    color: #E56400;
}


#section-product .product-info .product-info-button{
    color: #000;
    padding: 16px 36px;
    background-color: #fff;;
    border: 1px solid #fff;
    transition: all 0.3s linear;
    display: block;
    text-align: center;
    margin-top: 16px;

}

#section-product .product-info .product-info-button:hover{
    background-color: #000;;
    color: #fff;
    transition: all 0.3s linear;
}


#section-product .product-info{
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    padding: 24px;
    padding-top: 0;
    transform: translateY(75px);
    transition: all 0.3s linear;

}

#section-product .product-item:hover .product-info{
    transform: translateY(0);
    transition: all 0.3s linear;
}

#section-product .product-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(179.92deg,transparent 48.04%,rgba(0,0,0,.6) 80.91%);
    z-index: -1;
}

/* Đăng dự án miễn phí */
#section-home-contact{
    max-height: 548px;
}

#section-home-contact .home-contact-left{
    padding-top: 178px;
}

#section-home-contact .home-contact-left .title-home-contact p{
    font-size: 32px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 120%;
}


#section-home-contact .home-contact-left .sub-home-contact span{
    font-size: 16px;
}

#section-home-contact .home-contact-left .sub-home-contact{
    margin-bottom: 48px;
}

#section-home-contact .home-contact-left .button-home-contact a{
    padding: 14px 24px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s linear;
    font-weight: bold;

}

#section-home-contact .home-contact-left .button-home-contact a:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s linear;

}

#section-home-contact .home-contact-right{
    padding-top: 64px;
    padding-bottom: 71px;
}


/* Contact */
#section-info-contact{
    margin-top: 128px;
}

#section-banner-page{
    height: 810px;
}

#section-banner-page .banner-page{
    height: 100%;
}

#section-banner-page .banner-page img{
    width: 100%;
    height: 100%;
}

#section-info-contact .info-contact:not(.info-contact:first-child){
    margin-top: 16px;
}

#section-info-contact .info-contact-title p{
    font-size: 32px
}

#section-info-contact .info-contact-item{
    padding-top: 30px;
    padding-right: 42px;
    border-top: 1px solid #989898;
    margin-bottom: 24px;
}

#section-info-contact .info-contact-box{
    margin-top: 30px;
    padding-right: 42px
}

#section-info-contact .info-contact .info-contact-icon{
    display: flex;
    width: 24%;
}

#section-info-contact .info-contact .info-contact-icon p{
    margin-left: 10%;
}

#section-info-contact .info-contact .info-contact-icon{
    color: #707070;
    font-size: 18px;
    
}

#section-info-contact .info-contact{
    display: flex;
}

#section-info-contact .info-contact-left{
    padding-top: 24px;
    margin-bottom: 119px;
    padding-left: 24px;
}


#section-info-contact .info-contact .info-contact-text{
    width: 69%;
}

#section-info-contact .info-contact-address .info-contact-text a{
    line-height: 1.5;

}

#section-info-contact .info-contact-text a{
    color: #121212;
    transition: all 0.3s linear ;
}

#section-info-contact .info-contact-text a:hover{
    color: #E56400;
    transition: all 0.3s linear ;
}

.info-contact-name .info-contact-text p{
    font-size: 24px;
    line-height: 1.6;
}

#section-form-contact{
    background-image: url(../img/contact-image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

#section-form-contact .container{
    padding: 69px 0;
}

#section-form-contact .container .row{
    justify-content: end;

}

#section-form-contact .form-contact{
    padding-right: 62px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 40px;
    background-color: #fff;
    box-shadow: 56px 9px 31px -10px #888888;
}

#section-form-contact .form-contact .input-contact{
    margin-bottom:32px;
}

#section-form-contact .form-contact .input-contact input{
    border-radius: 0;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;
}

#section-form-contact .form-contact .input-contact input:focus{
    box-shadow: none;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;

}

#section-form-contact .form-contact .input-contact textarea{
    border-radius: 0;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;

}

#section-form-contact .form-contact .input-contact textarea:focus{
    box-shadow: none;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;
}

#section-form-contact .form-contact .button-submit-contact a{
    padding: 10px 20px;    
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    font-weight: bold;
    width: 122px;
    border: 1px solid #000;
    transition: all 0.3s linear;
}

#section-form-contact .form-contact .button-submit-contact a:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s linear;

}




/* footer */
#section-footer{
    background-color: #F5F5F6;
}
#section-footer .footer-box{
    padding: 56px 15px; 
}


#section-footer .logo-footer{
    width: 90px;
    height: auto;
    margin: auto;
}

#section-footer .menu-footer{
    display: flex;
}

#section-footer .menu-footer .menu-footer-item:first-child{
    width: 20%;
}

#section-footer .menu-footer .menu-footer-item:nth-child(2){
    width: 20%;
}

#section-footer .menu-footer .menu-footer-item:last-child{
    width: 40%;
}

#section-footer .menu-footer .menu-footer-item:not(:first-child){
    padding-left: 80px;
}

#section-footer .menu-footer-title{
    margin-bottom: 16px;
    font-weight: bold;
}

#section-footer .menu-footer-box li a{
    color: #5a5a5a;
    line-height: 140%;
    transition: all 0.3s linear;
}

#section-footer .menu-footer-box li a:hover{
    color: #E56400;
    transition: all 0.3s linear;

}

#section-footer .menu-footer-box li{
    margin-top: 8px;
}

#section-footer .menu-footer-box .menu-footer-social a:not(:first-child){
    margin-left: 18px;

}

#section-footer .menu-footer-box .menu-footer-social a{
    font-size: 30px;
}
/*  */
#header-menu .navbar-expand-lg{
    background-color: rgb(255 255 255 / 100%);
    box-shadow: 12px -4px 36px 9px #888888;
}

/* footer bottom */
#footer-bottom{
    background-color: #ECECED;
}

#footer-bottom p{ 
    padding:16px 0;
    font-size: 14px;
    color: #707070
}

/* Giỏ hàng */

#section-cart-title-box{
    padding-top: 94px;
    background-color: #F7F7F7;
}

.title-cart-text h1{
    font-size: 48px;
}

#section-cart-title-box .section-cart-title{
    padding: 32px 0;
}


.section-cart-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-cart-title .title-cart-back a{
    padding: 10px 24px;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.3s linear;
    display: block;
}

.section-cart-title .title-cart-back a:hover{
    color: #fff;
    background-color: #000;
    transition: all 0.3s linear;

}

/* Giỏ hàng trống */
#section-cart-empty{
    padding-top: 32px;
    padding-bottom: 96px;
    padding-left: 80px;
    padding-right: 80px;
}

#section-cart-empty .section-cart-empty-inner{
    text-align: center;
}

#section-cart-empty .cart-empty-text h3{
    line-height: 120%;
    font-size: 24px;
}

#section-cart-empty .cart-empty-text p{
    font-size: 16px;
    line-height: 150%;
    margin-top: 4px;
    margin-bottom: 30px;
}

#section-cart-empty .cart-empty-text a{
    line-height: 100%;
    font-size: 16px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    transition: all 0.3s linear;
    padding: 12px 20px;

}

#section-cart-empty .cart-empty-text a:hover{
    color: #000;
    background-color: #fff;
    transition: all 0.3s linear;
}

/* Co san pham */
#section-cart{
    margin-top: 87px;
    margin-bottom: 123px;
}

#section-cart .form-contact .input-contact{
    margin-bottom:32px;
}

#section-cart .form-contact .input-contact input{
    border-radius: 0;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;
    padding-left: 0;
}

#section-cart .form-contact .input-contact input:focus{
    box-shadow: none;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;

}

#section-cart .form-contact .input-contact textarea{
    border-radius: 0;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;
    padding-left: 0;

}

#section-cart .form-contact .input-contact textarea:focus{
    box-shadow: none;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    border-bottom: 1px solid #A0A09F;
}

#section-cart .form-contact .button-submit-contact a{
    padding: 10px 20px;    
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    font-weight: bold;
    border: 1px solid #000;
    transition: all 0.3s linear;
    display: block;
    text-align: center;
}

#section-cart .form-contact .button-submit-contact a:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s linear;

}

.cart-right .cart-right-inner{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 29px;
    padding-bottom: 29px;
    border: 1px solid #000;
}

.cart-right .cart-right-inner .form-contact-title{
    margin-bottom: 31px;
}

.cart-right .cart-right-inner .form-contact-title h3{
    font-size: 32px;
    line-height: 120%;
}

.cart-table{
    padding-top: 14px;
    padding-bottom: 16px;
    border-top: 1px solid #DAD9DB ;
}

.cart-table .cart-table-image img{
    max-width: 81px;
}

.cart-table .cart-table-image{
    padding: 4px;
    border: 1px solid #DAD9DB ;

}

.cart-table-info{
    margin-left: 24px;
}

.cart-table{
    display: flex;
}

.cart-name{
    font-size: 24px;
    margin-bottom: 5px;
}

.cart-code{
    font-size: 16px;
}

.cart-button{
    margin-left: auto;
}

.cart-button-inner{
    border: 1px solid #888888;
    padding: 6px;
    border-radius: 5px;
}

.cart-button input{
    width: 32px;
    border: none;
    text-align: center;
}

.cart-button button{
    border: none;
    background: transparent;
    transition: all 0.3s linear;
}

.cart-button button:hover{
    color:#E56400;
    transition: all 0.3s linear;

}

.cart-delete a i{
    font-size: 32px;
    color: #B4b5b8;
    transition: all 0.3s linear;
    margin-left: 56px;
}

.cart-delete a i:hover{
    font-size: 32px;
    color: #E56400;
    transition: all 0.3s linear;
}

.cart-left-heading{
    display: flex;
    margin-bottom: 21px;
}

.cart-left-heading p{
    font-size: 18px;
}

.cart-left-heading p:first-child{
    width: 79%;
}

.cart-left{
    padding-right: 32px;
}

.cart-right{
    padding-left: 32px;

}








@media (min-width: 1400px){
    .container {
        max-width: 1440px;
        padding: 0 80px;
    }
}

@media (max-width: 769px){
    #section-banner-home .banner-home-slide .banner-slide-img{
        height: auto;
    }

    #section-footer .menu-footer .menu-footer-item{
        width: 100% !important;
        padding: 0 !important;
    }    
}

@media (max-width: 769px){
    #header-menu{
        position: relative;
        margin-bottom: 20px;
    }

    #section-banner-home .banner-home-slide{
        height: auto;
    }

    #section-footer .menu-footer{
        flex-direction: column;
    }

    #section-footer .menu-footer .menu-footer-item{
        margin-bottom: 30px;
    }

    #section-home-contact {
        max-height: 716px;
    }

    #section-footer .logo-footer {
        margin-bottom: 45px;
    }

    #header-menu .navbar-nav .nav-item{
        padding: 0;
    }
}

@media (max-width: 425px){
    #header-menu .navbar>.container{
        padding: 0;
    }

    #header-menu .navbar-nav{
        --bs-scroll-height: 142px;
    }

    #header-menu .navbar-collapse {
        background-color: rgb(157,147,134);
        padding: 37px 4px;
    }

    #header-menu .navbar-nav .dropdown-menu{
        background-color: rgb(157,147,134);
        border: none;
    }

    #header-menu .dropdown-item{
        color: #fff;
    }

    /* cart */
    .cart-left{
        padding-right: 6px;
    }
    
    .cart-right{
        padding-left: 6px;
    
    }

    .title-cart-text h1{
        font-size: 35px;
    }
    .cart-name {
        font-size: 19px;
        margin-bottom: 5px;
    }

    .cart-delete a i {
        font-size: 27px;
        color: #B4b5b8;
        transition: all 0.3s linear;
        margin-left: 6px;
    }

    .cart-button input {
        width: 10px;
        border: none;
        text-align: center;
    }

    .cart-left-heading p:first-child {
        width: 74%;
    }
    

}


