#section-form-contact{
    background-color: #E0E0E0;
    padding-top:60px ;
    padding-bottom: 90px;
}

.form-contact-inner label{
    color: #12427d;
    font-size: 21px;
    margin-bottom: 14px;
    padding-right: 10px;
}

.form-contact-inner .required-input{
    position: relative;
}

.form-contact-comment label{
    width: 111px;
}


.form-contact-inner .required-input::before{
    content: "*";
    position: absolute;
    color: red;
    right: 0;
}

.form-contact-inner .title-form p{
    color: #12427d;
    font-size: 21px;
    margin-bottom: 42px;
}

#section-form-contact .row-form-contact{
    justify-content: center;
    align-items: center;
}

#section-form-contact .form-contact-comment{
    display: flex;
    flex-direction: column;
}

#section-form-contact .form-contact-box{
    margin-bottom: 18px;
    
}

#section-form-contact button{
    color: #fff;
    text-transform: uppercase;
    padding: 9px 14px;
    border-radius: 5px;
    background-color: #EE6D37;
    border-color:transparent ;
    transition: all 0.3s linear;
}

#section-form-contact button:hover{
    background-color: #ee5818;
    transition: all 0.3s linear;

}

#section-form-contact .form-contact-box input{
    border: 1px solid #12427d;    
}
