.banner-warm-video{
    padding: 80px 0px;
    background-image: url(../img/background-news.png);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
	position: relative;
}
.banner-warm-video::after{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #12427d;
	opacity: 0.8;
	top: 0;
}
.text-banner-warm-video {
	z-index: 99;
	color: #fff;
	padding-right: 90px;
}
.text-banner-warm-video h2{
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.text-banner-warm-video p{
	font-size: 20px;
    margin-bottom: 0;
	padding-top: 20px;
	border-top: 1px solid #fff;
	font-style: italic;
}
.setting-swiper-banner-warm-video-one{
	height: 520px;
}
.text-banner-warm-video{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.setting-swiper-banner-warm-video-one img{
	object-fit: cover;
    width: 100%;
    height: 100%;
}
.setting-nav-tab-warm-video{
}
.nav-tab-warm-video{
	padding: 55px 0px;
}
.galleryThumbs{
	height: 512px;
}
.galleryTop{
    height: 512px;
}

.galleryThumbstwo{
	height: auto;
}
.galleryToptwo{
    height: 512px;
}
.swiper img{
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
}
.galleryThumbs .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0 !important;
	margin-bottom: 20px;
	height: 80px !important;
}
.galleryThumbstwo .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0 !important;
	margin-bottom: 20px;
	height: 80px !important;
}
  .btn-tab-warm-video button{
	font-size: 24px;
	padding: 40px;
	text-align: left;
	color: #fff;
  }
  .btn-tab-warm-video .active{
	background-color: #11407a !important;

  }
  .btn-tab-warm-video{
	background-color: #0a78b9;
	padding: 0px;
  }
  .setting-column-warm-video{
	display: grid;
	grid-template-columns: 300px auto;
	gap: 40px;
  }
  .list-img-warm-video{
	overflow: hidden;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
  }
  .swiper-pagination{
	bottom: 0;
  }
  span.swiper-pagination-bullet{
	background: none !important;
	font-size: 21px !important;
  }
  .navigation-phan-trang .pagination{
	justify-content: center;
  }
  .navigation-phan-trang .pagination .page-link{
	border: none;
	color:#333;
	font-size: 21px;
  }
.navigation-phan-trang .pagination .page-link:focus{
	box-shadow: none;
	background: none;
	color:#ff6c41 ;
}
.mySwiper3 swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0 !important;
	margin-bottom: 20px;
	height: 80px !important;
  }
  .mySwiper3 swiper-slide img{
	width: 100%;
	height: 100%;
  }
  .swiper-grid-column > .swiper-wrapper{

	flex-flow: wrap;
  }
  .mySwipergalleryThumbs .swiper-pagination-bullets{
	display: none !important;
  }




  .galleryThumbs .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    margin-bottom: 0;
}
.galleryThumbs .swiper-wrapper{

}
.link-image-swiper p{
	font-size: 18px;
	text-decoration: none;
	color: #000000;
	text-align: left;
	line-height: 1.1;
	margin-top: 20px;

}
.setting-image-galleryThumbs{
	position: relative;
	height: 150px;
}
.setting-image-galleryThumbs .icon-image-galleryThums{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.setting-image-galleryThumbs .icon-image-galleryThums i{
	font-size: 30px;
	color: #fff;
}
.galleryTop .row{
	height: 100%;
	grid-template-columns: re;
}
.galleryTop iframe{
	width: 100%;
	height: 100%;
}
.galleryThumbs .swiper-wrapper{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	width: 100% !important;
	gap: 20px;
}
.btn-tab-warm-video a{
	font-size: 23px;
	color: #fff;
	text-decoration: none;
	padding: 30px 40px;
	line-height: 1.3;
}
.galleryThumbs .link-image-swiper {
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.galleryThumbs{
	height: auto;
}
.link-image-swiper p{
}
.btn-tab-warm-video a:hover , .btn-tab-warm-video a:focus{
	background-color: #11407a;
}

  /* Hieu  */
  .btn-tab-warm-video{
	padding-bottom: 146px;
  }

  .galleryThumbstwo .swiper-wrapper{
	display: grid;
	grid-template-columns: repeat(7,1fr);
  }

  @media (min-width: 1441px){
	.banner-warm-video .container {
		    max-width: 1410px;
	}

	.nav-tab-warm-video .container{
		    max-width: 1410px;
	}
}

	@media (min-width: 500px){
		.footer-bottom{
			transform: translateY(-56px);
		}
	}

  @media (max-width: 1441px){
	.banner-warm-video .container {
		    max-width: 1230px;
	}

	.nav-tab-warm-video .container{
		    max-width: 1230px;

	}
}

  @media (max-width:1024px){
	.btn-tab-warm-video button{
		font-size: 20px;
		padding: 20px;
	}
	.setting-column-warm-video {
		grid-template-columns: 230px auto;

	}
	.btn-tab-warm-video a{
		font-size: 20px;
		padding: 20px;
	}
	.link-image-swiper p{
		font-size: 16px;
	}
  }

  @media (max-width:767px){
	.setting-column-warm-video{
		grid-template-columns: 1fr;
	}
	.setting-banner-warm-video .col-4 , .setting-banner-warm-video .col-8{
		width: 100%;
	}
	.setting-banner-warm-video .row{
		display: block;
	}
	.text-banner-warm-video{
		margin-bottom: 20px;
	}
	.text-banner-warm-video h2{
		margin-bottom: 20px;
	}
	.image-banner-warm-video-one{
		height: 300px;
	}
	.galleryTop{
		height: 400px;
	}
	.galleryToptwo{
		height: 400px;
	}
	.text-banner-warm-video p {
		font-size: 16px;
	}
	.text-banner-warm-video h2 {
		font-size: 30px;
	}
	.banner-warm-video{
		padding: 40px 0px;
	}
  }

  @media (max-width:575px){
	.galleryTop{
		height: 300px;
	}
	.galleryToptwo{
		height: 300px;
	}
	.galleryThumbs .swiper-wrapper{
		grid-template-columns: repeat(3,1fr);
	}

	.text-banner-warm-video{
		padding-right: 12px;
	}
  }
  @media (max-width:479px){

	.galleryThumbs .swiper-slide{
		margin-bottom: 0px;
		margin-right: 0px !important;
	}
	.galleryThumbstwo{
		height: auto;
	}
	.galleryThumbstwo .swiper-slide{
		margin-bottom: 0px;
		margin-right: 0px !important;
	}
	.galleryTop{
		height: 400px;
	}
	.swiper-grid-column > .swiper-wrapper{
		gap: 13px;
	}

	.btn-tab-warm-video{
		padding-bottom: 10px
	}
  }
  @media (max-width:450px){
	.galleryThumbs .swiper-wrapper{
		grid-template-columns: repeat(2,1fr);
	}
  }


  /* #section-project > div.project-content > div > div > div > div:nth-child(7){
	display: none;
  }

  #section-project > div.project-content > div > div > div > div:nth-child(7){
	display: none;
  } */


  .footer-bottom{
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.3;
	font-style: italic;
  }

  .tel-footer{
	margin-bottom: 10px;
  }

  .web-footer i{
	margin-right: 5px;
  }

  .web-footer a{
	color: #6E6F71
  }

  .section-padding-facility{
	padding: 52px 0;
  }


  .section-background-silver{
	background-color: #eef0f1;
	/* margin-top: 52px; */
  }


  	.img-social-footer a{
		display: block;
		margin-bottom: 10px;
		/* width: 80px; */
		/* margin-bottom: 20px;
		margin-left: auto;
		text-align: left;
		transform: translateX(85%); */
	}

	
	.img-social-footer{
		margin-left: auto;
	}

	.img-social-footer img{
		width: auto;
		height: 24px;
		object-fit: cover;
	}

	.follow-us{
		margin-bottom: 8px;
	}



	/* .img-social-footer{
		display: flex;
		gap: 20px
	} */


	.publications-content-right-inner img{
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
	}

	#section-publications .publications-content .publications-content-right-inner {
		height: 492px;
	}


	#section-topbar .row-topbar .topbar-right .topbar-follow a img{
		height: 24px;
		width: auto;
	}

	#section-topbar .row-topbar .topbar-right .topbar-follow a img:last-child{
		height: 26px;
	}

	.follow-box{
		display: flex;
		gap: 10px;
	}

	.footer-list-social{
		text-align: left;
	}


	.footer-social-item a {
		text-align: center;
		display: inline-block;
		background-color: #11417d;
		padding: 4px;
		border-radius: 22px;
		padding-top: 6px;
		/* margin-left: 2px; */
		transition: all 0.3s linear;
		color: #fff;
	}
	
	.footer-social-item a:hover {
		background-color: #2460a9;
		transition: all 0.3s linear;
	}
	
	.footer-social-item .fa-youtube:before {
		font-size: 15px;
	}

	.footer-social-item a:first-child{
		padding-top: 5px;

	}

	.footer-social-item{
		margin-bottom: 11px;
	}


	#section-topbar .row-topbar .topbar-right{
		position: absolute;
		right: 35px;
	}

	@media (max-width: 1441px) and (min-width: 768px) {
		#section-footer .footer-box{
		    padding-left: 25px;
    		padding-right: 25px;
		}

	}

	@media (max-width: 1653px) {
		#section-logo-home .logo-home-box .logo-home-item{
			top: 82px;
		}

		#section-topbar .row-topbar .topbar-right{
			position: absolute;
			right: 35px;
		}
	}

	@media (max-width: 768px) {
		.img-social-footer a{
			padding: 0;
		}

		.img-social-footer a{
			display: unset;
		}

		#section-topbar .row-topbar{
			display: block;
		}

		#section-topbar .row-topbar .topbar-right{
			flex-direction: column;
			gap: 16px;
		}

		#section-topbar .row-topbar .topbar-right .top-socail-list a{
			margin-left: 0;
		}

		#section-topbar .row-topbar .topbar-right .topbar-follow a img:last-child{
			height: 20px;
		}

		#section-topbar .topbar .change-language{
			margin-bottom: 20px;
		}

		#section-topbar .row-topbar .topbar-right{
			position: unset;
		}

		#section-logo-home .logo-home-box .logo-home-item{
			top: 133px;
		}
	}

	#section-topbar .row-topbar .group-sign a{
		color: #fff;
	}

	#section-topbar .row-topbar .group-sign span{
		font-size: 18px !important;
	}

	.logo-banner-box{
		/* display: none; */
	}

	