html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    overflow-x: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a{
    text-decoration: none !important;
}

nav{
    width: 100vw;
}

body {
	line-height: 1;
    margin: 0;
	padding: 0;
	border: 0;
    overflow-x: hidden;
    width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 100%;
}

.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}

#navbarDropdown-4::after {
    display: none; /* Ẩn biểu tượng mũi tên của dropdown */
}

.custom-dropdown-menu{
    top: 120% !important;
    left: -123px !important;
}

li{
    list-style: none;
}


/* thêm css */
.card-news {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-news img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Thêm hiệu ứng zoom nếu muốn */
}

.card-news .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu nền lớp phủ */
    opacity: 0; /* Ẩn lớp phủ mặc định */
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card-news .text {
    position: absolute;
    color: white;
    z-index: 2;
    text-align: center;
    opacity: 0; /* Ẩn chữ mặc định */
    transition: opacity 0.3s ease;
}

.card-news .top-text {
    top: 10%; /* Điều chỉnh vị trí chữ */
    left: 50%;
    transform: translateX(-50%);
}

.card-news .under-text {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.card-news:hover img {
    transform: scale(1.1); /* Zoom hình khi hover */
}

.card-news:hover .overlay {
    opacity: 1; /* Hiện lớp phủ khi hover */
}

.card-news:hover .text {
    opacity: 1; /* Hiện chữ khi hover */
}

.news .under-text {
    left: 213px !important; 
}
.news .under-text h4{
    font-size: 14px !important;
}
.news .top-text .logo i{
    font-size: 20px;
}

.news img {
    border-radius: 10px;
    height: 400px;
    cursor: pointer;
}

.gr-team .sponsors{
    padding-top: 30px;
}

.home__event .news img{
    object-fit: cover;
}
.news__home .news-cards{
    margin-bottom: 30px;
}

.body__register img {
    height: 920px !important;
}
.body__register .form-container {
    max-height: 750px !important;
}
.mb-3 .btn-img .upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mb-3 .btn-img .upload-container input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.mb-3 .btn-img .upload-container .upload-button {
    white-space: nowrap;
    background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.mb-3 .btn-img .upload-container .upload-button:hover {
    background-color: #5a4bc5;
}

.form-section__create-event .form-section .btn-huy{
    white-space: nowrap !important;
}

/* header */
header{
    z-index: 1000;
    top: 0;
    position: absolute !important;
    border: 0;
    padding: 0;
    display: flex;
    height: auto;
    width: 100vw;
    margin-bottom: 50px;

}

.logo a img {
    margin: 40px 0 40px 60px;
    height: auto;
    width: 131px;
}

.mx2{
    margin: 0 20px;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.drop-zone-hover {
    border-color: #007bff; /* Thay đổi màu viền khi kéo vào */
}

/* Navbar Styling */
.navbar {
    border-bottom: 1px solid #e0e0e0;
}

.btn-add-event{
    margin-right: 20px;
}

.btn__myevent a{
    color: white !important;
}

.btn__myevent-red a{
    color: #bd2130 !important;
}

#navbarNav{
    justify-content: center;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
}

.nav-link.active {
    color: red;
    font-weight: bold;
}

.navbar-nav .dropdown-menu {
    min-width: 150px;
}

/* Login and Register Buttons */
.btn-outline-dark {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-outline-dark:hover {
    background-color: #6c757d;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.mx2{
    margin: 0 10px;
}

/* Align logo and text next to each other */
.navbar-brand span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
}

/* main */
main{
    margin-top: 120px;
}

/* footer */

.footer-up{
    padding-bottom: 40px;
    border-bottom: 1px solid #615E5C;
    margin-top: 80px;
    display: flex;
}

.footer-up #logo img{
    height: 28px;
    width: 147px;
    margin-bottom: 20px;
}

.footer-up #logo h5{
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    margin-bottom: 20px;    
}

.footer-up #addres{
    display: flex;
}

.footer-up #addres .column {
    display: block;
    margin-left: 45px;
    margin-right: 45px;
}

.footer-up #addres .column a{
    line-height: 2;
    font-size: 16px;
    color: #615E5C;
}

.footer-up #addres .column .bold{
    font-weight: 600;
    color: #333;
}

.footer-up #addres .column a:hover{
    color: black;
    font-weight: 500;
}

.footer-down a{
    color: #6c757d;
    padding-right: 10px;
    padding-left: 50px;
}

/* General adjustments for smaller devices */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .btn-login{
        margin-left: 20px;
    }
    
    .logo a img{
        margin: 20px !important;
    }

    .mx2{
        margin: 0px !important;
    }

    .banner-img img{
        max-width: 50%;
    }

    .news .text .under-text {
        margin-top: 45%;
    }

    .news .text .under-text .date-time{
        font-size: 12px;
    }

    .news-title::after {
        top: -10px;
        right: 41%;
    }

    .banner p{
        font-size: 40px;
        width: 360px;
    }

    .banner h4{
        width: 360px;
    }

    .rounded-input{
        width: 50%;
    }

    .input-container .round-btn{
        left: 41%;
    }

    .navbar .nav-link {
        font-size: 0.9rem;
    }

    .team-members{
        margin-bottom: 20px;
    }

    .team-member{
        height: 305px;
        width: 160px;
    }

    .card{
        display: flex;
        width: 292px;
    }

    .news-card{
        width: 310px;
    }
}
/* Tablet Screens */
@media only screen and (max-width: 991px) and (min-width: 426px) {
    .nv-menu {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-end !important;
        margin-right: 25px;
    }

    .btn-login a button{
        margin-bottom: 15px;
    }

    .mx2{
        margin: 0px !important;
    }

    .colum{
        flex-direction: column;
    }

    .nv-menu ul {
        flex-direction: column;
    }

    .nav-item a {
        margin-bottom: 10px;
        text-align: center;  
    }

    .nav-item a {
        text-align: right;  
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .navbar {
        font-size: 18px;
    }

    .logo a img{
        margin: 20px;
    }

    .navbar-toggler{
        margin-right: 25px;
    }

    .banner-img img{
        max-width: 50%;
    }

    .banner p {
        font-size: 41px;
        width: 100%;
    }
    
    .banner h4 {
        font-size: 17px;
        width: 100%;
    }

    .banner-img img {
        max-width: 50%;
        height: 100%;
    }
    
    .news img{
        width: 100%;
    }

    .input-container{
        width: 697px;
    }

    .news>.row{
        display: flex;
        justify-content: center;
    }

    .team-members{
        margin-bottom: 30px;
    }

    .event p, .team-title, .section-title {
        font-size: 24px;
    }

    .create-events .under-items .text-event h3{
        font-size: 34px;
    }

    .create-events .under-items .text-event h5 {
        margin: 30px 22px;
    }

    .footer-up #logo h5 {
        font-size: 16px;
        width: 100%;
    }

    .footer-up #addres {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
    }
}
/* Mobile Screens */
@media only screen and (max-width: 450px) and (min-width: 375px){
    .nav-item a{
    font-size: 12px !important;
    }

    .on-img a {
        font-size: 10px;
    }

    .on-img .text-slick h3 {
        font-size: 16px;
    }

    .on-img .text-slick p {
        font-size: 12px !important;
    }

    .carousel-inner .on-img {
        position: absolute;
        margin: 40px;
        top: -24px;
        left: -24px;
    }

    body{
        min-width:100% ;
    }

    .main{
        margin: auto;
        width: 100% !important;
        min-width: 100%;
    }

    .mx2{
        margin: 0px !important;
    }

    .nv-menu {
        display: flex;
        margin: 0 auto;
        flex-direction: column !important;
        align-items: flex-end !important;
    }

    .btn-login a button{
        margin-bottom: 15px;
    }

    .colum{
        flex-direction: column;
    }

    .rounded-input{
        max-width: 400px;
    }

    .input-container .round-btn{
        right: 190px;
    }

    .nv-menu ul {
        flex-direction: column;
    }

    .nav-item a {
        margin-bottom: 10px;
        text-align: center;  
    }

    .nav-item a {
        text-align: right;  
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .navbar {
        font-size: 18px;
    }

    .carousel-item img{
        height: 100%;
    }

    .on-img .text-slick {
        margin-top: 85px;
    }
        

    .logo a img{
        margin: 20px;
    }

    .navbar-toggler{
        margin-right: 0px;
    }

    .banner-img img{
        max-width: 50%;
    }

    .banner p {
        font-size: 41px;
        width: 100%;
    }
    
    .banner h4 {
        font-size: 17px;
        width: 100%;
    }

    .news .under-text h4{
        font-size: 21px;
    }

    .banner-img img {
        width: 50% !important;
        max-width: 50%;
        height: 100%;
    }

    .team-member{
        width: auto;
        height: auto;
    }

    .team-member img{
        height: 100px;
    }

    .sponsors{
        gap: 0;
    }

    .sponsor-logo{
        width: 50px;
        height: auto;
    }
    
    .news img{
        width: 100%;
    }

    .news>.row{
        display: flex;
        justify-content: center;
    }

    .team-members{
        margin-bottom: 30px;
    }

    .event p, .team-title, .section-title {
        font-size: 24px;
    }

    .create-events .under-items .text-event h3 {
        font-size: 23px;
    }

    .create-events .under-items .text-event h5 {
        margin: 30px 22px;
        font-size: 12px;
    }

    .create-events .under-items .btn-event a{
        padding: 12px 11px;
    }

    .footer-up #logo h5 {
        font-size: 16px;
        width: 100%;
    }

    .footer-up #addres {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .footer-down a {
        font-size: 12px !important;
        padding-left: 20px !important;
    }
}
/* Mobile Screens */
@media only screen and (max-width: 376px) and (min-width: 320px){
    body{
        min-width:100% ;
    }

    .main{
        margin: auto;
        width: 100% !important;
        min-width: 100%;
    }

    .mx2{
        margin: 0px !important;
    }

    .on-img a {
        font-size: 10px;
    }

    .on-img .text-slick h3 {
        font-size: 16px;
    }

    .on-img .text-slick p {
        font-size: 12px;
    }

    .carousel-inner .on-img {
        position: absolute;
        margin: 40px;
        top: -24px;
        left: -24px;
    }

    .nv-menu {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-end !important;
    }

    .btn-login a button{
        margin-bottom: 15px;
    }

    .colum{
        flex-direction: column;
    }

    .rounded-input {
        max-width: 350px !important;
    }

    .input-container .round-btn {
        right: 240px !important;
    }

    .nv-menu ul {
        flex-direction: column;
    }

    .nav-item a {
        margin-bottom: 10px;
        text-align: center;  
    }

    .nav-item a {
        text-align: right;  
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .navbar {
        font-size: 18px;
    }

    .carousel-item img{
        height: 100%;
    }

    .on-img .text-slick {
        margin-top: 85px;
    }
        

    .logo a img{
        margin: 20px;
    }

    .banner-img img{
        max-width: 50%;
    }

    .banner p {
        font-size: 41px;
        width: 100%;
    }
    
    .banner h4 {
        font-size: 17px;
        width: 100%;
    }

    .news .under-text h4{
        font-size: 21px;
    }

    .banner-img img {
        width: 50% !important;
        max-width: 50%;
        height: 100%;
    }

    .team-member{
        width: auto;
        height: auto;
    }

    .team-member img{
        height: 100px;
    }

    .sponsors{
        gap: 0;
    }

    .sponsor-logo{
        width: 50px;
        height: auto;
    }
    
    .news img{
        width: 100%;
    }

    .news>.row{
        display: flex;
        justify-content: center;
    }

    .team-members{
        margin-bottom: 30px;
    }

    .event p, .team-title, .section-title {
        font-size: 24px;
    }

    .create-events .under-items .text-event h3 {
        font-size: 23px;
    }

    .create-events .under-items .text-event h5 {
        margin: 30px 22px;
        font-size: 12px;
    }

    .create-events .under-items .btn-event a{
        padding: 12px 11px;
    }

    .footer-up #logo h5 {
        font-size: 16px;
        width: 100%;
    }

    .footer-up #addres {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .footer-up #addres .column {
        display: block;
        margin-left: 35px !important;
        margin-right: 35px !important   ;
    }

    .footer-down a {
        font-size: 12px !important;
        padding-left: 20px !important;
    }
    
}

.dropdown-menu[data-bs-popper] {
    left: -52px;
}


/* reponse mobile */
@media (max-width: 1200px) {
    .information .btn-loginn a {
        padding: 22px 70px !important;
    }
}