html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a{
    text-decoration: none !important;
}

body {
	line-height: 1;
    margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}

/* register */

.register{
    padding: 30px;
}

.register .container{
    justify-content: space-between;
}
 
.register .back a i{
    padding: 17px 19px;
    border-radius: 17px;
    border: 1px solid black;
    color: black;
    margin-right: 17px;
}

.register .back a i:hover{
    color: white;
    background-color: #ec1b2e;
}

.register .back p{
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-right: 160px;
}

section {
    background-color: #fafafa;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.row{
    border-bottom: 1px solid #f6f6f7;
}

li i{
    margin-right: 10px;
}

h2 {
    font-size: 28px;
}

.list-unstyled {
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
    .form-section, .preview-section {
        width: 100%; /* Đặt chiều rộng 100% để mỗi phần tử chiếm toàn bộ chiều ngang màn hình */
        margin-bottom: 20px; /* Tạo khoảng cách giữa các phần */
    }
}

@media (min-width: 992px) {
    .btn-login {
        display: none;
    }

    #navbarDropdown4{
        display: none;
    }
}

@media (max-width: 991px) {
    .btn-add-event {
        display: none;
    }
    #navbarDropdown-4{
        display: none;
    }
}

@media (max-width: 555px) {

    .navbar-brand{
        margin: -11px;
    }
    .logo a img {
        margin: 8px !important;
    }

    .logo a img {
        height: auto;
        width: 100px !important;
    }
}



@media (max-width: 556px) {

    .register {
        padding: 10px;
    }
    .register .back p {
        margin-top: 13px;
        font-size: 16px;
    }
    .submit-btn{
        width: 55%;
    }
    .progress-container{
        padding-right: 100px;
    }
    .step{
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 440px) {
    .navbar-nav {
       margin-right: 16px;
    }

    .information .text-information .line {
        font-size: 26px !important;
    }
}

@media (max-width: 1200px) { 

    .navbar-nav {
        margin-top: 20px;
    }
    .information .text-information{
        width: 100%;
    }

    .information .text-information .line{
        font-size: 35px;
    }

    .information .text-information .btn-info p {
        padding: 12px 19px;
    }

    .information .btn-loginn a{
        padding: 22px 100px;
    }

    .link .social{
        margin-right: 0;
    }
 }
