.section-padding{
    padding: 40px 0;
}

strong{
    font-weight: bold;
}

b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: #000;
}

.title-box{
    text-align: center;
    margin-bottom: 40px;
    h2.section-title{
        margin-bottom: 30px;
        font-size: 38px;
        color: #228B22;
        align-items: center;
        text-transform: uppercase;
        @media (max-width: 450px) {
            font-size: 30px;
        }
    }

    .title-divide-section{
        background-color: #228B22;
        height: 3px;
        width: 173px;
        margin: auto;
        margin-top: 30px;
    }

    .section-subtitle{
        line-height: 30px;
        font-weight: 400;
        color: #61697a;
        margin-bottom: 20px;
        font-size: 18px;
    }
}
// 

#section-banner{
    .banner-slide{
        height: 600px;
        @media (max-width: 450px) {
            height: auto;
        }

        .slick-dots{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 8px;
            
            .slick-active{
                button{
                    background-color: #000;
                }
            }
            button{
                font-size: 0;
                width: 12px;
                height: 12px;
                border-radius: 7px;
                background-color: #fff;
                border: none;
            }
        }

        @media (max-width: 450px) {
            .slick-dots{
                position: absolute;
                bottom: 56px;
                left: 50%;
            }
        }

        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
                .banner-slide-item{
                    height: 100%;
                    img{
        
                    }
        
                }
            }
        }
     
    }

    @media (max-width: 450px) {
        #section-banner{
            padding-bottom: 20px;
            .slick-dots{
                position: absolute;
                bottom: 56px;
                left: 50%;
            }
        }
    }
       

}


#section-service{
    .service-list{
        .service-item{
            text-align: center;
            .service-image{
                width: 138px;
                margin: auto;
                margin-bottom: 20px;
                i{
                   color: #228B22;
                   font-size: 64px;
                }
            }

            .service-detail{
                padding{
                    top: 10px;
                    bottom: 20px;
                    left: 10px;
                    right: 10px;
                }
                .service-title{
                    h4{
                        color: #228B22;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                }

                .service-description{
                    p{
                        font-size: 12px;
                        text-transform: uppercase;

                    }
                }
            }
        }
    }
}

#section-album{
    .album-item{
        height: 195px;
        margin-bottom: 30px;
        overflow: hidden;
        img{
            transition: all 0.3s linear;
        }
        &:hover{
            img{
                scale: 1.2;
            }
        }
       
    }
}

#section-video{
    .video-slide{
        .slick-prev{
            position: absolute;
            left: -47px;
        }

        .slick-next{
            position: absolute;
            right: -47px; 
        }

        .slick-arrow{
            background-color: rgb(255,255,255,0.8);
            z-index: 1;
            font-size: 30px;
            color: #228B22;
            border-radius: 50%;
            padding: 0;
            top: 37%;
            border: none;
            width: 30px;
            height: 30px;
        }

        @media (max-width:450px) {
            .slick-prev{
                left: 19px;
            }
    
            .slick-next{
                right: 19px; 
            }
        }

        .video-item{
            margin: 0 10px;
            iframe{
                width: 100%;
                height: 250px;
            }
        }
    }
}

#section-home-contact{
    .section-home-background{
        padding: 51px 0;
        background-attachment: fixed;
        position: relative;
        .container{
            position: relative;
            z-index: 1;
        }
        .section-home-overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #228B22;
            opacity: 0.6;
        }
        .contact-left{
            .contact-title{
                h3{
                    font-size: 30px;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
        
                p{
                    font-size: 16px;
                    color: #fff
                }
            }
        }

        .form-contact-home{
            display: flex;
            gap: 10px;
            height: 43px;
            @media (max-width: 450px) {
                margin-top: 20px;
            }
            input{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button{
                border-color: transparent;
                background-color: #228B22;
                color: #fff;
                width: 36%;
                text-transform: uppercase;
                transition: all 0.3 linear;
                &:hover{
                    background-color: #1f7e1f;
                }
            }        
        }
    }
    
}

#section-blog{
    .blog-list{
        .slick-prev{
            position: absolute;
            left: 0;
        }

        .slick-next{
            position: absolute;
            right: 0; 
        }

        .slick-arrow{
            background-color: #fff;
            z-index: 1;
            width: 48px;
            height: 48px;
            color: #228B22;
            border-radius: 50%;
            padding: 0;
            top: 23%;
            border: none;
            i{
                // font-size: 26px;
            }
        }

    }
    .blog-item{
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        margin: 15px;
        .blog-img{
            overflow: hidden;    
            height: 260px;
            img{
                transition: all 0.3s ease-in-out;
                &:hover{
                    scale: 1.2;
                }
            }
        }

        .blog-detail{
            padding: 20px 30px;
            .blog-meta{
                font-size: 12px;
                color: #228B22;
                font-weight: 500;
            }

            .blog-devide{
                .solid {
                    border-top: 3px #228B22 solid;
                    width: 100px;
                }
            }
            
            .blog-title{
                h4{
                    color: #222;
                    padding: 0px;
                    text-transform: capitalize;
                    font-size: 23px;
                    margin-bottom: 15px;
                    margin-top: 10px;
                    transition: all 0.3s linear;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    &:hover{
                        color: #228B22;
                    }
                }    
            }

            .blog-link{
                margin-top: 10px;
                a{
                    color: #222;
                    font-size: 14px;
                    text-transform: capitalize;
                    background: transparent;
                    border: none;
                    font-weight: 600;
                    transition: all 0.4s ease-in-out 0s;
                    padding: 10px 0px;
                    &:hover{
                        color: #228B22
                    }
                }
            }

            .blog-description{
                height: 78px;
                p{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
}

#section-category-product{
    .category-product-slide{
        .slick-prev{
            position: absolute;
            left: -47px;
        }

        .slick-next{
            position: absolute;
            right: -47px; 
        }

        .slick-arrow{
            background-color: #fff;
            z-index: 1;
            font-size: 30px;
            color: #228B22;
            border-radius: 50%;
            padding: 0;
            top: 30%;
            border: none;
            width: 40px;
            height: 40px;
        }
        @media (max-width: 450px) {
            .slick-prev{
                left: 19px;
            }
    
            .slick-next{
                right: 19px; 
            }
        }

        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
                .banner-slide-item{
                    height: 100%;
                    img{
        
                    }
        
                }
            }
        }
        .category-product-item{
            padding: 5px 10px;
            .category-product-item-inner{
                // border:1px solid #8e9094;
                transition: all 0.3s linear;
                box-shadow: 2px 0px 8px 0px #888888;;
                &:hover{
                    box-shadow: 2px 0px 16px 0px #888888;;
                }
                a{
                    display: block;
                    .category-product-image{
                        height: 219px;
                        overflow: hidden;
                        img{
                            transition: all 0.3s linear;
                        }
                        &:hover{
                            img{
                                scale: 1.2;
                            }
                        }
                    }
                    .category-product-detail{
                        text-align: center;
                        padding: {
                            top: 20px;
                            bottom: 10px;
                            left: 10px;
                            right: 10px;
                        }
                        .category-product-name{
                            font-size: 16px;
                            color: #000;
                            font-weight: bold;
                        }
                        .category-product-number{
                            color: #228B22;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    
}

#section-product-hot{
    .product-hot-item{
        .product-hot-item-inner{
            // border: 1px solid #b6b2b2;
            margin-bottom: 30px;
            transition: all 0.3s linear;
            box-shadow: 2px 0px 8px 0px #888888;;
            &:hover{
                box-shadow: 2px 0px 30px 0px #186318;;
            }
            .product-hot-image{
                height: 400px;
                overflow: hidden;
                img{
                    transition: all 0.3s linear;
                }
                &:hover{
                    img{
                        scale: 1.2;
                    }
                }
            }
            .product-hot-detail{
                text-align: center;
                padding: {
                    top: 10px;
                    bottom: 50px;
                    left: 10px;
                    right: 10px;
                }

                .product-hot-name{
                    margin-bottom: 10px;
                    a{
                        color: #000;
                        font-size: 18px;
                        transition: all 0.3s linear;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        &:hover{
                            color: #228B22;
                        }
                    }

                    @media (max-width:450px) {
                        a{
                            font-size: 15px;
                        }
                    }
                }

                .product-hot-price{
                    span{
                        font-size: 20px;
                        font-weight: bold;
                        color: rgb(192, 36, 36)
                    }
                }

                .product-hot-addcart{
                    margin-top: 10px;
                    a{
                        background-color: #228B22;
                        color: #fff;
                        padding: 7px 10px;
                        border-radius: 5px;
                        transition: all 0.3s linear;
                        &:hover{
                            background-color: #186318;
                        }
                    }

                    @media (max-width:450px) {
                        a{
                            display: block;
                            padding: 7px 5px;
                            font-size: 14px;

                        }
                    }
                }
            }
        }
    }
}

#section-register{
    .section-home-background{
        padding: 51px 0;
        text-align: center;
        background-attachment: fixed;
        position: relative;
        .container{
            position: relative;
            z-index: 1;
        }

        .section-home-overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #228B22;
            opacity: 0.6;
        }
        .register-title{
            h3{
                color: #fff;
                font-size: 34px;
                font-weight: 900;
                margin-bottom: 15px;
            }

            @media (max-width: 450px) {
                h3{
                    font-size: 25px;
                    line-height: 1.2;
                }
            }
        }
        .register-subtitle{
            margin-bottom: 22px;
            span{
                color: #fff;
                font-size: 19px;
            }
        }
        .register-button-group{
            display: flex;
            justify-content: center;
            gap: 22px;
            .register-button-item{
                font-size: 19px;
                padding: 8px 30px;
                border-radius: 50px;
                &:first-child{
                    background-color: #fff;
                    transition: all 0.3s linear;
                    &:hover{
                        background-color: #d9dce0;
                    }
                    a{
                        text-transform: uppercase;
                        color:#1f7e1f;
                        font-weight: bold;
                    }
                }

                &:last-child{
                    background-color: red;
                    a{
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
            
        }
    }
}

.product-new-slide{
    .product-hot-item{
        padding: 0 30px;
        .product-hot-item-inner{
            .product-hot-image{
                height: 460px !important;
            }
        }
    }

    .slick-prev{
        position: absolute;
        left: -47px;
    }

    .slick-next{
        position: absolute;
        right: -47px; 
    }

    .slick-arrow{
        background-color: #fff;
        z-index: 1;
        font-size: 30px;
        color: #228B22;
        border-radius: 50%;
        padding: 0;
        top: 37%;
        border: none;
        height: 40px;
        width: 40px;
    }

    @media (max-width: 450px) {
        .product-hot-item{
            padding: 0 5px;
            .product-hot-item-inner{
                .product-hot-image{
                    height: 174px !important;
                }
            }
        }

        .slick-prev{
            position: absolute;
            left: 19px;
        }
    
        .slick-next{
            position: absolute;
            right: 19px; 
        }

        .slick-arrow{
            top: 18%;
        }
    }
}




