.post-content img{
    height: auto;
}

.post-image img{
    height: auto;
}

#section-blog-other .blog-item .blog-detail .blog-title h4{
    line-height: 1.3;
}

#pagination-page .page-item.active .page-link{
    background-color: #228B22;
    border-color: #228B22;
    
}

#pagination-page .page-item .page-link i{
    color: #228B22
}

#section-register .section-home-background .register-button-group .register-button-item:last-child:hover{
    background-color: rgb(228, 55, 55);
}

header .navbar-header .nav-item .nav-link:hover{
    color: #097009 !important;
}

#section-banner .slick-prev {
    position: absolute;
    left: 10px;
  }
#section-banner .slick-next {
    position: absolute;
    right: 10px;
}
#section-banner .slick-arrow {
    background-color: #fff;
    z-index: 1;
    font-size: 30px;
    color: #228B22;
    border-radius: 50%;
    padding: 0;
    top: 45%;
    border: none;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 6px 4px #888888
}

@media (max-width: 1264px) and (min-width: 769px){
    .product-new-slide .slick-next{
        right: 0;
    }

    .product-new-slide .slick-prev{
        left: 0;
    }

    .product-new-slide .slick-arrow {
        box-shadow: 0 0 6px 4px #888888
    }

}

header .navbar-header .nav-item .nav-link{
    text-transform: uppercase;
}

header .topbar .topbar-box .topbar-left p{
    text-transform: uppercase;
}

.social-item{
    width: 35px;
    height: 35px;
    margin-right: 12px;
    margin-top: 20px;
}

@media (max-width: 450px) {
    #section-banner .banner-slide {
      height: auto;
    }
}


@media (max-width: 1700px) {
    #section-banner .banner-slide {
      height: 609px;
    }
}

@media (max-width: 1440px) {
    #section-banner .banner-slide {
      height: 480px;
    }
}