.post-content img{
    height: auto;
}

.post-image img{
    height: auto;
}

#section-blog-other .blog-item .blog-detail .blog-title h4{
    line-height: 1.3;
}

#pagination-page .page-item.active .page-link{
    background-color: #228B22;
    border-color: #228B22;
    
}

#pagination-page .page-item .page-link i{
    color: #228B22
}

#section-register .section-home-background .register-button-group .register-button-item:last-child:hover{
    background-color: rgb(228, 55, 55);
}

header .navbar-header .nav-item .nav-link:hover{
    color: #097009 !important;
}

@media (max-width: 1264px) and (min-width: 769px){
    .product-new-slide .slick-next{
        right: 0;
    }

    .product-new-slide .slick-prev{
        left: 0;
    }

    .product-new-slide .slick-arrow {
        box-shadow: 0 0 6px 4px #888888
    }

}

header .navbar-header .nav-item .nav-link{
    text-transform: uppercase;
}

header .topbar .topbar-box .topbar-left p{
    text-transform: uppercase;
}