.ib-1-price-list .price-item {
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(89, 94, 111, .08);
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    transition: all linear 0.2s;
    border: 1px solid transparent;
}

.ib-1-price-list .price-item:hover {
    box-shadow: 0 12px 32px 0 rgb(33 89 231 / 16%);
    transition: all linear 0.2s;
    transform: translateY(-16px);
    border: 1px solid #d6d6d6;
}

.pt-block-3 {
    position: absolute;
    text-align: center;
    top: 0;
    right: 5%;
    width: 46px;
    background: red;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.pt-block-3 P {
    padding-top: 30px;
}

.pt-block-3::after {
    content: "";
    border-style: solid;
    border-width: 0 23px 20px 23px;
    border-color: transparent transparent #ffffff transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.pt-block-1 {
    text-align: center;
}

.pt-name {
    font-size: 30px;
    font-weight: 700;
    color: #168fcd;
    text-transform: uppercase;
}

.old-cost {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    color: #6d6d6d;
    margin-bottom: 4px;
}

.old-cost::after {
    content: " ";
    display: block;
    width: calc(100% + 20px);
    height: 1px;
    background-color: #6d6d6d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

.old-cost i {
    font-size: 16px;
}

.new-cost {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(230 0 0);
    margin-bottom: 16px;
}

.new-cost i {
    font-size: 20px;
}

.pt-list p {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.pt-list p i {
    font-size: 12px;
}

.pt-list {
    margin-bottom: 20px;
    border-bottom: 1px dashed #bdbdbd;
    padding-bottom: 12px;
}

.pt-list li {
    display: flex;
    align-items: baseline;
    padding: 7px 0 7px 6px;
    gap: 6px;
    font-weight: 500;
    color: #3d3d3d;
    font-size: 18px;
}

.pt-list li img {
    width: 16px;
    height: 16px;
}

.pt-list:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pt-btn a {
    outline: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 45px;
    border-radius: 24px;
    background: #2568EF;
    border: none;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(89, 94, 111, .08);
    text-decoration: none;
    display: inline-block;
    transition: all linear 0.2s;
    width: 100%;
    text-transform: uppercase;
}

.pt-btn a:hover {
    transition: all linear 0.2s;
    color: #fff;
    background: #144bba;
}

.pt-block-4 {
    text-align: center;
    margin-top: 40px;
}

.row-2 .pt-block-2 {
    min-height: 430px;
}

.row-3 .pt-block-2 {
    min-height: 530px;
}

.ib-1-title h1 {
    font-size: 34px;
    font-weight: bold;
    color: #00008B;
    line-height: 1.4;
    text-align: center;
}

.ib-1-title {
    margin-bottom: 35px;
}

#icham-block-1 {
    padding: 60px 0;
}

@media (max-width: 1050px) {
    .row-2 .pt-block-2 {
        min-height: 430px;
    }
    .row-3 .pt-block-2 {
        min-height: 530px;
    }
    .ib-1-price-list .price-item {
        padding: 30px 20px;
    }
    .pt-block-3 {
        right: 2%;
        width: 38px;
        font-size: 12px;
    }
    .pt-name {
        font-size: 26px;
    }
    .new-cost {
        font-size: 24px;
    }
    .pt-list li {
        font-size: 16px;
    }
    .pt-list p {
        font-size: 18px;
    }
    .pt-btn a {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .row-2 .pt-block-2 {
        min-height: auto;
    }
    .row-3 .pt-block-2 {
        min-height: auto;
    }
}

@media (max-width: 500px) {
    .pt-block-3 {
        right: 5%;
        width: 46px;
        font-size: 14px;
    }
    .pt-block-3 {
        right: 4%;
        width: 42px;
        font-size: 14px;
    }
    .new-cost {
        font-size: 26px;
    }
}