@font-face {
    font-family: 'Korinna';
    src: url('Korinna.woff2') format('woff2'),
        url('Korinna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

