@media (max-width: 475px) {
    .contact-info-item{
        margin-bottom: 30px;
    }

    #section-banner .banner-home h1{
        padding: 70px 0px 87px;
        font-size: 41px;
    }

    #section-banner .banner-home .banner-content .content-second h1{
        font-size: 50px;
        line-height: 1.3;
        padding: 0
    }

    #section-banner .banner-home{
        padding: 50px 0px 84px;
    }

    .introduce-right{
        margin-top: 20px;
    }
}

.post-title{
    color: #011a41;
    font-size: 30px;
    font-weight: bold;
}

.post-date{
    margin: 20px 0;
}

.title-section-other{
    font-size: 35px;
}