/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 26px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-weight: 400;
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  line-height: 1;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}

header {
 
}
header .navbar-header {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  z-index: 999999;
}
header .navbar-header.scroll-header .nav-link {
  color: #000 !important;
}
header .navbar-header .navbar-brand .image-header {
  width: 88px;
}
header .navbar-header .nav-item .nav-link {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
}
header .navbar-header .nav-item .nav-link.active {
  color: #ff4a57 !important;
}
header .navbar-header .nav-item .nav-link:hover {
  color: #ff4a57 !important;
}

.section-title {
  margin-bottom: 40px;
}
.section-title .block-title p {
  color: #ff4328;
  line-height: 1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title .block-title p span {
  position: relative;
  width: 35px;
  height: 5px;
  display: flex;
  margin-right: 10px;
}
.section-title .block-title p span::before {
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ff4328;
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: lineAnim;
}
.section-title .block-title p span::after {
  content: "";
  height: 1px;
  width: 25px;
  right: 0;
  bottom: 0;
  background-color: #ff4328;
  position: absolute;
  animation: lineAnimReverse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.default-btn {
  font-size: 16px;
  color: #fff;
  padding: 15px 40px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #ff4328;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 20px;
  border: none;
}

@keyframes lineAnim {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(60%);
  }
  75% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes lineAnimReverse {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-60%);
  }
  75% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.75rem;
}

.section-padding {
  padding: 100px 0;
}

#section-banner .banner-home {
  position: relative;
  padding: 160px 0px 190px;  
  background-repeat: no-repeat;
  background-size: cover;
}
#section-banner .banner-home .banner-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: #1D2866;
  opacity: 0.8;
}
#section-banner .banner-home .banner-content {
  position: relative;
  z-index: 1;
}
#section-banner .banner-home .banner-content .content-first p {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 20px;
}
#section-banner .banner-home .banner-content .content-second h1 {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
#section-banner .banner-home .banner-content .content-third {
  margin-bottom: 45px;
}
#section-banner .banner-home .banner-content .content-third span {
  color: #fff;
}
#section-banner .banner-home .banner-content .content-btn a {
  position: relative;
  color: #ffffff;
  background: #43baff;
  padding: 20px 60px 20px 60px;
  border-radius: 0px;
  display: inline-block;
  font-weight: 500;
}

#section-introduce .section-title {
  margin-bottom: 10px;
}
#section-introduce .introduce-content h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
#section-introduce .introduce-content p {
  font-size: 16px;
  color: #888888;
  margin-bottom: 35px;
  line-height: 1.75;
}
#section-introduce .introduce-content .introduce-info .introduce-info-item {
  display: flex;
  gap: 26px;
  margin-bottom: 20px;
}
#section-introduce .introduce-content .introduce-info .introduce-info-item .introduce-icon i {
  font-size: 36px;
  color: #ff4328;
}
#section-introduce .introduce-content .introduce-info .introduce-info-item .introduce-intro-text .introduce-intro-tiitle {
  font-weight: bold;
  color: #0b0f4f;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
}
#section-introduce .introduce-content .introduce-info .introduce-info-item .introduce-intro-text .introduce-intro-description {
  font-size: 16px;
  line-height: 1.75;
  color: #888888;
}

#section-library {
  background-color: #ebf4fa;
}
#section-library .library-list .library-item {
  margin-bottom: 30px;
}
#section-library .library-list .library-item .library-image {
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
}
#section-library .library-list .library-item .library-image img {
  transition: all 0.5s linear;
}
#section-library .library-list .library-item .library-image:hover img {
  scale: 1.1;
}

#section-contact-info {
  background-color: #fff;
}
#section-contact-info .contact-info-item .contact-info-inner {
  box-shadow: 0px 6px 19px #8f8cb4;
  text-align: center;
  padding: 35px 30px 35px;
}
#section-contact-info .contact-info-item .contact-info-inner .contact-info-icon {
  margin-bottom: 15px;
}
#section-contact-info .contact-info-item .contact-info-inner .contact-info-icon i {
  color: #ff4328;
  font-size: 55px;
  /* font-weight: 400; */
}
#section-contact-info .contact-info-item .contact-info-inner .contact-info-name h4 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #2d2d2d;
  font-weight: bold;
}
#section-contact-info .contact-info-item .contact-info-inner .contact-info-detail p {
  font-size: 15px;
  color: #011f4c;
}

#section-blog {
  background-color: #efefef;
}
#section-blog .blog-item {
  transition: all 0.5s ease;
}
#section-blog .blog-item:hover {
  transform: translate(0, -10px);
}
#section-blog .blog-item:hover .blog-top {
  background-color: #ff4328;
}
#section-blog .blog-item:hover .blog-bottom {
  background-color: #fff;
}
#section-blog .blog-item .blog-top {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
  transition: all 0.5s ease;
}
#section-blog .blog-item .blog-top a {
  display: block;
  height: 356px;
}
#section-blog .blog-item .blog-top a img {
  border-radius: 10px 10px 0 0;
}
#section-blog .blog-item .blog-bottom {
  background-color: #FEF9F9;
  padding: 20px 25px 25px;
  transition: all 0.5s linear;
}
#section-blog .blog-item .blog-bottom .blog-meta {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}
#section-blog .blog-item .blog-bottom .blog-meta .blog-meta-item i {
  color: #e93c05;
  font-size: 18px;
}
#section-blog .blog-item .blog-bottom .blog-meta .blog-meta-item span {
  font-size: 14px;
  color: #2d2e2e;
}
#section-blog .blog-item .blog-bottom .blog-title {
  margin-bottom: 10px;
}
#section-blog .blog-item .blog-bottom .blog-title a {
  color: #011a41;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.5s ease;
}
#section-blog .blog-item .blog-bottom .blog-title a:hover {
  color: #e93c05;
}
#section-blog .blog-item .blog-bottom .blog-description p {
  margin-bottom: 14px;
}
#section-blog .blog-item .blog-bottom .blog-link a {
  color: #011a41;
  font-weight: 600;
  border-bottom: 1px solid #e93c05;
  transition: all 0.5s ease;
}
#section-blog .blog-item .blog-bottom .blog-link a:hover {
  color: #e93c05;
}

#section-contact-form {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-contact-form .banner-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: #1D2866;
  opacity: 0.8;
}
#section-contact-form .contact-form-box {
  position: relative;
}
#section-contact-form .contact-form-box .section-title h3 {
  color: #fff;
}
#section-contact-form .form-contact .form-group {
  margin-bottom: 16px;
}
#section-contact-form .form-contact .form-group .form-control {
  height: 50px;
  padding-left: 20px;
  font-size: 15px;
  border: 0;
  border-radius: 0;
}
#section-contact-form .form-contact .form-group textarea {
  width: 100%;
  padding-top: 13px;
  height: auto !important;
}

#section-service {
  background-color: #efefef;
}
#section-service .service-item {
  position: relative;
  border-radius: 0 30px;
  padding: 30px 30px 26px;
  box-shadow: 0px 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
  z-index: 1;
  transition: 0.5s all ease;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 30px;
}
#section-service .service-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: #0b0f4f;
  border-radius: 5px;
  transition: 0.5s all ease;
  z-index: -1;
  opacity: 0;
}
#section-service .service-item:hover::before {
  height: 100%;
  opacity: 1;
}
#section-service .service-item:hover {
  transform: translate(0, -10px);
}
#section-service .service-item:hover .service-icon i {
  color: #fff;
}
#section-service .service-item:hover .service-icon i::after {
  background-color: #fff;
}
#section-service .service-item:hover .service-name p {
  color: #fff;
}
#section-service .service-item:hover .service-description p {
  color: #fff;
}
#section-service .service-item .service-icon i {
  color: #0b0f4f;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  transition: 0.5s all ease;
  position: relative;
  padding-bottom: 18px;
}
#section-service .service-item .service-icon i::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 7px;
  background-color: #0b0f4f;
  transition: 0.5s all ease;
}
#section-service .service-item .service-name p {
  color: #221668;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.5s all ease;
}
#section-service .service-item .service-description p {
  color: #565353;
  transition: 0.5s all ease;
  margin-bottom: 0;
}
#section-service .service-item .img-one {
  bottom: -30px;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: 0.5s all ease;
}
#section-service .service-item .img-two {
  bottom: -30px;
  right: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: 0.5s all ease;
}

#section-ourteam .ourteam-item {
  border-top: 2px solid #fff;
  box-shadow: 0px 0px 34px -11px  rgb(58, 59, 61);
}
#section-ourteam .ourteam-item .ourteam-img {
  height: 262px;
  position: relative;
  overflow: hidden;
}
#section-ourteam .ourteam-item .ourteam-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  border-radius: 10px;
  bottom: -100%;
  left: 0;
  transition: all 0.3s ease 0s;
}
#section-ourteam .ourteam-item .ourteam-img .social {
  padding: 0 0 18px 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: -100%;
  right: 10px;
  background: #ff4328;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
#section-ourteam .ourteam-item .ourteam-img .social li a {
  display: block;
  padding: 15px;
  color: #fff;
}
#section-ourteam .ourteam-item:hover {
  border-top: 2px solid #ff4328;
}
#section-ourteam .ourteam-item:hover .ourteam-img::after {
  bottom: 0;
}
#section-ourteam .ourteam-item:hover .social {
  top: 0;
}
#section-ourteam .ourteam-item .ourteam-detail {
  text-align: center;
  padding: 20px 0;
  background: #ffffff;
  border-radius: 10px;
}
#section-ourteam .ourteam-item .ourteam-detail .ourteam-name {
  font-size: 18px;
  font-weight: 600;
  color: #ff4328;
  margin: 0 0 5px;
  position: relative;
}
#section-ourteam .ourteam-item .ourteam-detail .ourteam-position {
  font-size: 14px;
  color: #0b0f4f;
  text-transform: capitalize;
  position: relative;
}

#section-news {
  background-color: #F3F9FF;
  padding: 68px 0;
}
#section-news .section-title p {
  font-size: 17px;
  margin-top: 13px;
}
#section-news .news-list .slick-prev {
  position: absolute;
  left: -40px;
}
#section-news .news-list .slick-next {
  position: absolute;
  right: -40px;
}
#section-news .news-list .slick-arrow {
  z-index: 1;
  background-color: transparent;
  width: 48px;
  height: 48px;
  color: #000;
  border-radius: 50%;
  padding: 0;
  top: 23%;
  border: none;
}
#section-news .news-list .slick-arrow i {
  font-size: 26px;
}
#section-news .news-list .news-item {
  padding: 10px 15px;
}
#section-news .news-list .news-item .new-item-inner {
  box-shadow: 2px 0 15px -4px #888888;
}
#section-news .news-list .news-item .new-item-inner .news-detail {
  padding: 15px;
  background-color: #fff;
}
#section-news .news-list .news-item .new-item-inner .news-detail .news-title a {
  font-size: 19px;
  color: #083177;
}
#section-news .news-list .news-item .new-item-inner .news-detail .news-date {
  font-size: 13px;
  color: #AFAFAF;
}
#section-news .news-list .news-item .new-item-inner .news-detail .news-description {
  font-size: 15px;
}
#section-news .news-list .news-item .new-item-inner .news-detail .news-link a {
  font-size: 13px;
  color: #f99b1c;
  font-style: italic;
}

#section-blog {
  padding: 68px 0;
}
#section-blog .section-title p {
  font-size: 17px;
  margin-top: 13px;
}
#section-blog .news-list .slick-prev {
  position: absolute;
  left: -40px;
}
#section-blog .news-list .slick-next {
  position: absolute;
  right: -40px;
}
#section-blog .news-list .slick-arrow {
  z-index: 1;
  background-color: transparent;
  width: 48px;
  height: 48px;
  color: #000;
  border-radius: 50%;
  padding: 0;
  top: 23%;
  border: none;
}
#section-blog .news-list .slick-arrow i {
  font-size: 26px;
}
#section-blog .news-list .news-item {
  padding: 10px 15px;
}
#section-blog .news-list .news-item .new-item-inner {
  box-shadow: 2px 0 15px -4px #888888;
}
#section-blog .news-list .news-item .new-item-inner .news-detail {
  padding: 15px;
  background-color: #fff;
}
#section-blog .news-list .news-item .new-item-inner .news-detail .news-title a {
  font-size: 19px;
  color: #083177;
}
#section-blog .news-list .news-item .new-item-inner .news-detail .news-date {
  font-size: 13px;
  color: #AFAFAF;
}
#section-blog .news-list .news-item .new-item-inner .news-detail .news-description {
  font-size: 15px;
}
#section-blog .news-list .news-item .new-item-inner .news-detail .news-link a {
  font-size: 13px;
  color: #f99b1c;
  font-style: italic;
}

footer #section-footer-main {
  padding: 70px 0;
  background: #6c7fac;
  position: relative;
}
footer #section-footer-main::before {
  content: "";
  background-color: rgba(245, 84, 34, 0.4);
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
footer #section-footer-main .logo-footer {
  width: 162px;
  margin: auto;
}
footer #section-footer-main .footer-main {
  position: relative;
  z-index: 99999;
}
footer #section-footer-main .footer-main .list-social {
  margin-top: 20px;
}
footer #section-footer-main .footer-main .list-social ul {
  gap: 30px;
}
footer #section-footer-main .footer-main .list-social ul li i {
  font-size: 27px;
  color: #fff;
  transition: all 0.3s linear;
}
footer #section-footer-main .footer-main .list-social ul li:hover i {
  color: #F95353;
}
footer #section-footer-bottom {
  background: #11141b;
  padding: 20px 0;
}
footer #section-footer-bottom .footer-bottom p {
  color: #fff;
}

#button {
  display: inline-block;
  background-color: #F95353;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 60px;
  right: 0;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}

.content h3 {
  font-style: italic;
  color: #96a2a7;
}/*# sourceMappingURL=style.css.map */


