* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1280px !important;
}

a {
  color: #111111;
  text-decoration: none;
}

.text-secondary-custom {
  color: #FDC157 !important;
}

.text-secondary-2-custom {
  color: #323548 !important;
}

.text-primary-custom {
  color: #0E8585 !important;
}

.text-neutral-1 {
  color: #111111 !important;
}

.text-neutral-4 {
  color: #DEDEDE !important;
}

.text-correct {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.0142658px;
  -webkit-text-fill-color: #0e8585 !important;
}

.text-wrong {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.0142658px;
  -webkit-text-fill-color: #e73939 !important;
}

.bg-correct {
  background-color: #0e8585 !important;
  -webkit-text-fill-color: white !important;
}

.bg-wrong {
  background-color: #e73939 !important;
  -webkit-text-fill-color: white !important;
}

.bg-secondary-1 {
  background-color: #FDC157;
}

.my-slider {
  position: relative;
}
.my-slider .slider-nav {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.my-slider .slider-nav.slider-prev-arr {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  border: 7px solid #DEDEDE;
  transform: translateX(-10px);
}
.my-slider .slider-nav.slider-next-arr {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  border: 7px solid #FFFFFF;
  transform: translateX(10px);
  background-color: #323548;
}

.my-slider-more-courses {
  position: relative;
}
.my-slider-more-courses .slider-nav {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.my-slider-more-courses .slider-nav.slider-prev-arr {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  border: 7px solid #DEDEDE;
  transform: translateX(-10px);
}
.my-slider-more-courses .slider-nav.slider-next-arr {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  border: 7px solid #FFFFFF;
  transform: translateX(10px);
  background-color: #323548;
}

.btn {
  padding: 12px 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 16px;
}
.btn:hover {
  color: #111111;
}

.btn-custom-primary {
  background: #0E8585;
  color: #FFFFFF; 
}
.btn-custom-primary:hover {
  border: 2px solid #0E8585;
  color: #484952;
}

.btn-custom-primary-outline {
  border: 1px solid #0E8585;
  color: #0E8585;
}
.btn-custom-primary-outline:hover {
  border: 1px solid #0E8585;
  color: #0E8585;
}

.btn-yellow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: 187px;
  height: 60px;
  /* Secondary/1 */
  background: #fdc157;
  border-radius: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  text-transform: capitalize;
}
.btn-yellow:hover {
  background: #fdc157;
  color: #FFFFFF;
}

.btn-circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #0E8585;
  border: none;
  border-radius: 50%;
  color: white;
}

@media all and (max-width: 767.98px) {
  .btn-yellow {
    height: 40px;
    width: fit-content;
  }
}
.modal .modal-dialog {
  margin-top: 220px;
  max-width: 624px;
}
.modal .modal-content {
  position: relative;
  margin-top: 20px;
}
.modal .modal-content .modal-header {
  border: none;
}
.modal .modal-content .modal-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-content .modal-footer {
  width: 100%;
  border: none;
  padding-top: 0;
}
.modal .modal-content .modal-footer button {
  display: block;
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.modal .modal-content .modal-footer button.huy {
  background-color: transparent;
  border: 2px solid #0E8585;
  color: #0E8585;
}

.card-course-contain .card {
  border: none;
}
.card-course-contain .card .img-contain {
  position: relative;
}
.card-course-contain .card .img-contain img {
  height: 243px;
  object-fit: cover;
  border-radius: 15px;
}
.card-course-contain .card .img-contain div {
  position: absolute;
  top: 16px;
  left: 20px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #FDC157;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}
.card-course-contain .card .card-body .item1 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323548;
  margin-bottom: 4px;
}
.card-course-contain .card .card-body h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #0e8585;
  margin-bottom: 4px;
}
.card-course-contain .card .card-body p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #323548;
  opacity: 0.5;
  margin-bottom: 20px;
}
.card-course-contain .card .card-body button {
  padding: 12px 20px;
  background: #0e8585;
  border-radius: 10px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
}
.card-course-contain .card .card-body .last-item span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #323548;
}

.card-course-contain-index .card {
  border: none;
  border-radius: 15px;
}
.card-course-contain-index .card .card-top img {
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.card-img, .card-img-top{
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.card-course-contain-index .card .card-body {
  padding: 16px 20px 0px;
}
.card-course-contain-index .card .card-body .card-title {
  margin-bottom: 12px;
  color: #2c2c2c;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.card-course-contain-index .card .card-body .card-text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #484952;
}
.card-course-contain-index .card .card-body .rate {
  margin-bottom: 30px;
}
.card-course-contain-index .card .card-bottom {
  padding: 24px 20px;
  background-color: #f1f1f1;
  border-radius: 0px 0px 15px 15px;
}

.card-course-contain-index.best .card-top {
  position: relative;
}
.card-course-contain-index.best .card-top .best-overlay {
  position: absolute;
  top: 28px;
  left: 0px;
  padding: 12px 16px;
  background-color: #0E8585;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border-radius: 0px 16px 16px 0px;
}
.card-course-contain-index.best .card .card-body {
  background-color: #FDC157;
}
.card-course-contain-index.best .card .card-bottom {
  background-color: #FDC157;
  border-top: 1px solid #FFCC73;
}

.card-ne-contain .card {
  border: none;
  background-color: white;
  border-radius: 16px;
}
.card-ne-contain .card .cald-img-top {
  height: 172px;
  object-fit: cover;
}
.card-ne-contain .card .card-body {
  padding: 14px 20px 32px;
}
.card-ne-contain .card .card-body .card-head {
  margin-bottom: 12px;
}
.card-ne-contain .card .card-body .card-head .time {
  margin-right: 16px;
}
.card-ne-contain .card .card-body .card-head .time h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.card-ne-contain .card .card-body .card-head .time span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}
.card-ne-contain .card .card-body .card-head .title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #0E8585;
}
.card-ne-contain .card .card-body .card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #484952;
  margin-bottom: 0px;
}

header nav {
  padding: 20px 0px !important;
}
header nav .navbar-brand .brand-logo {
  width: max-content;
}
header nav .navbar-brand .brand-logo img {
  height: 45px;
}
header nav .navbar-brand b {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #292a34;
}
header nav ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #292a34;
}
header nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #0E8585;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: #0E8585;
}
header nav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #0E8585;
}
header nav ul li a.active {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  /* Primary */
  color: #0E8585 !important;
}
header nav ul li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #0E8585;
}
header nav .user-login-success > div > p > a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #484952;
  padding: 10px 18px;
  background: #ffffff;
  border: 0.8px solid #dedede;
  border-radius: 6px;
}
header nav .user-login-success .card-body {
  z-index: 100;
}
header nav .user-login-success img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
}
header nav .user-login-success .login-nav a {
  padding: 8px 5px;
  font-size: 19px;
}
header nav .user-login-success .login-nav a::after {
  content: "";
  display: block;
  width: 0%;
  transition: 0.5s;
  height: 5px;
  border-radius: 10px;
}
header nav .user-login-success .login-nav a:hover::after {
  background-color: #0E8585;
  width: 100%;
}

header.dark {
  background-color: #323548;
}
header.dark nav {
  padding: 20px 0px !important;
}
header.dark nav .navbar-brand .brand-logo {
  width: max-content;
}
header.dark nav .navbar-brand b {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
}
header.dark nav .navbar-toggler {
  border-color: white;
}
header.dark nav .navbar-toggler .navbar-toggler-icon {
  color: #FFFFFF;
}
header.dark nav ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #DEDEDE;
}
header.dark nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #FDC157;
  transition: 0.5s;
}
header.dark nav ul li a:hover {
  color: #FDC157;
}
header.dark nav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FDC157;
}
header.dark nav ul li a.active {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  /* Primary */
  color: #FDC157 !important;
}
header.dark nav ul li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FDC157;
}
header.dark button {
  border: none;
  color: #FFFFFF;
}
header.dark button:hover {
  color: #FFFFFF;
}
header.dark button.btn-custom-primary:hover {
  border: 2px solid #FFFFFF;
}

@media all and (max-width: 767.98px) {
  .user-nav {
    padding: 10px;
  }
  .user-nav button {
    padding: 5px 7px;
    border-radius: 2px;
    color: white;
  }
}
footer {
  position: relative;
  background-color: #323548;
  padding-top: 59px;
}
footer h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}
footer h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  /* Secondary/1 */
  color: #fdc157;
  width: 100%;
  max-width: 842px;
  margin: 0 auto;
  margin-bottom: 12px;
}
footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */
  text-align: center;
  /* Neutral/4 */
  color: #DEDEDE;
  width: 100%;
  max-width: 842px;
  margin: 0 auto;
  margin-bottom: 36px;
}
footer .footer-form-contain {
  max-width: 624px;
  margin: 0 auto;
  margin-bottom: 130px;
}
footer .footer-form-contain input {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  border: none;
  height: 60px;
  padding: 20px 31.97px;
  color: #FFFFFF;
  transition: 0.5s;
  margin-right: 32px;
  max-width: 405px;
}
footer .footer-form-contain input:focus {
  box-shadow: none;
}
footer .footer-bottom-contain nav {
  padding-bottom: 50px;
}
footer .footer-bottom-contain nav a {
  margin: 0px 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #DEDEDE;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: 0.5s;
}
footer .footer-bottom-contain nav a.active {
  color: #FDC157 !important;
  font-style: normal;
  font-weight: 600;
}
footer .footer-bottom-contain nav a:hover {
  color: #FDC157;
}
footer .footer-bottom-contain nav .footer-follow {
  color: #DEDEDE;
}
footer .footer-bottom-contain nav .footer-follow i {
  font-size: 24px;
  margin-left: 7px;
}
footer .footer-bg-icon {
  position: absolute;
}
footer .footer-bg-icon.icon-1 {
  top: 310px;
  left: 90px;
}
footer .footer-bg-icon.icon-2 {
  top: 210px;
  right: 90px;
}

.pagination a {
  width: 44px;
  height: 44px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bcbcbc;
  margin: 0 4px;
}

a[rel=next] {
  border: 1px solid;
  border-radius: 50%;
}

a[rel=First] {
  border: 1px solid;
  border-radius: 50%;
}

.pagination a.active {
  background-color: #0E8585;
  border: 1px solid #0E8585;
  border-radius: 50%;
}

.banner {
  padding: 65px 0px 52px;
  overflow: hidden;
}
.banner .contain-left .form {
  margin-bottom: 43px;
}
.banner .contain-left .form form {
  position: relative;
  max-width: 585px;
  height: 56px;
}
.banner .contain-left .form form input {
  height: 56px;
  width: 100%;
  max-width: 585px;
  border-radius: 24px;
  padding: 8px 20px 8px 20px;
}
.banner .contain-left .form form button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.banner .contain-left .heading {
  position: relative;
}
.banner .contain-left .heading h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.banner .contain-left .heading h1 {
  max-width: 566px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 28px;
}
.banner .contain-left .heading a {
  display: block;
  margin-bottom: 90px;
}
.banner .contain-left .heading .banner-underline {
  position: absolute;
  top: 260px;
  left: 176px;
}
.banner .contain-right {
  position: relative;
}
.banner .contain-right .image-contain img {
  width: 100%;
  scale: 1.5;
  transform: translate(110px, 70px);
}
.banner .contain-right .card-absolute-contain {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 246.67px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 14px 17px;
}
.banner .contain-right .card-absolute-contain .card-ab-img {
  margin-right: 10px;
}
.banner .contain-right .card-absolute-contain .card-ab-content h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #2c2c2c;
  margin-bottom: 5px;
  margin-top: 7px;
}
.banner .contain-right .card-absolute-contain .card-ab-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(44, 44, 44, 0.7);
}
.banner .contain-right .card-absolute-contain .card-ab-content button {
  padding: 8px 16px;
  border-radius: 6px;
}
.banner .contain-right .card-absolute-contain .card-ab-content button:hover {
  background-color: #FDC157 !important;
}

.chuong-trinh-dao-tao {
  padding: 60px 0px 50px;
  background-color: #323548;
}
.chuong-trinh-dao-tao h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.chuong-trinh-dao-tao .head-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 598px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.chuong-trinh-dao-tao .my-slider {
  margin-bottom: 35px;
}

.list-post {
  padding: 60px 0px 60px;
  background-color: #f9f9f9;
}
.list-post h2 {
  margin-bottom: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #0E8585;
}
.list-post .row {
  margin-bottom: 40px;
}
.list-post a {
  text-decoration: none;
}
.list-post .btn-yellow {
  border: none;
  padding: 16px 145px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.list-post.co-opporate .card-ne-contain {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #323548;
  margin-bottom: 8px;
}
.list-post.co-opporate .card-ne-contain .card {
  position: relative;
}
.list-post.co-opporate .card-ne-contain .card .type-overlay {
  position: absolute;
  top: 26px;
  left: 0px;
  background-color: #FDC157;
  padding: 12px 16px;
  color: #FFFFFF;
  border-radius: 0px 16px 16px 0px;
}
.list-post.co-opporate h5 {
  margin-bottom: 2px;
}
.list-post.co-opporate .card-body .card-text {
  margin-bottom: 20px;
}
.list-post.co-opporate a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FDC157;
}

@media all and (max-width: 767.98px) {
  .banner {
    padding: 20px 0px 20px;
  }
  .banner .contain-left .form {
    margin-bottom: 10px;
  }
  .banner .contain-left .heading h1 {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .banner .contain-left .heading .banner-underline {
    display: none;
  }
  .banner .contain-left .mouse {
    display: none;
  }
  .banner .contain-left .heading a {
    margin-bottom: 20px;
  }
  .banner .contain-right .image-contain img {
    object-position: center center;
    scale: 1.2;
    transform: translate(100px, 0);
  }
  footer .footer-form-contain {
    margin-bottom: 20px;
  }
  footer p {
    margin-bottom: 10px;
  }
  footer .footer-form-contain input {
    height: 45px;
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  footer .footer-form-contain button {
    width: 80%;
  }
  footer h2 {
    font-size: 25px;
    line-height: 30px;
  }
  footer p {
    font-size: 14px;
    line-height: 22px;
  }
}
#courses-page {
  background-color: #f9f9f9;
}

.courses-header {
  position: relative;
  padding: 22px 0px 81px;
  background-color: #323548;
  margin-bottom: 88px;
}
.courses-header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  /* or 62px */
  text-align: center;
  color: #ffffff;
  max-width: 671px;
  margin: 0 auto;
}
.courses-header .header-search-contain {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.courses-header .header-search-contain .header-search {
  width: 100%;
  max-width: 842px;
  margin: 0 auto;
}
.courses-header .header-search-contain .header-search form {
  width: 100%;
  position: relative;
}
.courses-header .header-search-contain .header-search form input {
  width: 100%;
  max-width: 842px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 10px;
  color: #262733;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  border: none;
}
.courses-header .header-search-contain .header-search form button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.courses-sort .sort-contain {
  margin-bottom: 20px;
}
.courses-sort .sort-contain * {
  margin-right: 20px;
}
.courses-sort .sort-contain h4 {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #323548;
  margin-bottom: 0;
}
.courses-sort .sort-contain .select-contain {
  position: relative;
  width: 240px;
}
.courses-sort .sort-contain .select-contain select {
  width: 240px;
  height: 48px;
  /* Neutral/1 */
  background: #ffffff;
  /* Neutral/2 */
  border: 1px solid #f0f0f3;
  border-radius: 16px;
  box-shadow: none;
}
.courses-sort .sort-contain .select-contain i {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 25px;
  color: #666666;
}
.courses-sort .count-result {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}
.courses-sort .count-result p {
  margin-bottom: 40px;
}

@media all and (max-width: 767.98px) {
  .courses-header {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .courses-header h1 {
    font-size: 30px;
    line-height: 130%;
  }
  .courses-header .header-search-contain .header-search {
    width: 85%;
  }
  .courses-sort .sort-contain h4 {
    margin-bottom: 10px;
  }
  .courses-sort .sort-contain * {
    margin-bottom: 5px;
  }
  .courses-sort .count-result {
    text-align: center;
  }
  .courses-sort .count-result p {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .paginate {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#video-learning .video-learning-title {
  padding-top: 28px;
  background-color: #323548;
}
#video-learning .video-learning-title h1 {
  color: #FFFFFF;
}
#video-learning .video-learning-title p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0px;
}
#video-learning .video-learning-iframe {
  background-color: #323548;
  padding: 20px 0px 36px;
}
#video-learning .video-learning-iframe .iframe-contain iframe {
  width: 100%;
  max-width: 854px;
  height: 480px;
  object-fit: cover;
  border-radius: 20px;
}
#video-learning .video-learning-detail {
  background-color: #f9f9f9;
  padding-top: 52px;
}
#video-learning .video-learning-detail .nav span {
  color: #666666;
  border: 1px solid #dedede;
  border-radius: 16px;
  cursor: pointer;
}
#video-learning .video-learning-detail .nav span.active {
  background: #0e8585;
  border-radius: 16px;
  color: white;
}
#video-learning .video-learning-detail .nav-content .course-rate h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #323548;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area {
  width: 100%;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form {
  position: relative;
  width: 100%;
  max-width: 630px;
  height: 222px;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form .btn-rate-overlay {
  position: absolute;
  bottom: 17px;
  left: 27px;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form .btn-rate-overlay button.choose {
  padding: 10 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #323548;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #FDC157;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form .btn-rate-overlay button.choose:hover {
  background-color: #FDC157;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form .btn-rate-overlay button {
  padding: 10 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #323548;
  border-radius: 50px;
  border: 1px solid #666666;
  margin-right: 10px;
}
#video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form textarea {
  width: 100%;
  max-width: 630px;
  height: 222px;
  border: none;
  background-color: #FFFFFF;
  padding: 20px 27px;
  resize: none;
}
#video-learning .video-learning-detail .nav-content .course-rate .all-user-comment h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #323548;
}
#video-learning .video-learning-detail .nav-content .course-rate .all-user-comment ul .comment-block-contain .avatar {
  margin-right: 20px;
}
#video-learning .video-learning-detail .nav-content .course-rate .all-user-comment ul .comment-block-contain .avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#video-learning .video-learning-detail .nav-content .course-rate .all-user-comment ul .comment-block-contain .content-contain p {
  padding: 10px 20px;
  width: 100%;
  max-width: 424px;
}
#video-learning .video-learning-detail .quality-course-contain .card {
  border: none;
  border-radius: 16px;
}
#video-learning .video-learning-detail .quality-course-contain h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #111111;
}
#video-learning .video-learning-detail .quality-course-contain .after-rate {
  color: #666666;
}
#video-learning .video-learning-detail .quality-course-contain .price b {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #0e8585;
}
#video-learning .video-learning-detail .quality-course-contain .price span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #323548;
}
#video-learning .video-learning-detail .quality-course-contain button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16px;
}
#video-learning .video-learning-detail .skill-contain h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
#video-learning .video-learning-detail .skill-contain button.btn {
  padding: 10px 18px;
  border: 1px solid #666666;
  margin-left: 10px;
  margin-bottom: 15px;
  transition: 0.5s;
}
#video-learning .video-learning-detail .skill-contain button.btn.active {
  background-color: #FDC157;
  border: 1px solid transparent;
  box-shadow: 0px 20px 50px rgba(90, 78, 151, 0.25);
}
#video-learning .video-learning-detail .skill-contain button.btn:hover {
  box-shadow: 0px 20px 50px rgba(90, 78, 151, 0.25);
}
#video-learning .more-courses {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
}
#video-learning .more-courses h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #323548;
}

@media all and (max-width: 767.98px) {
  #video-learning .video-learning-iframe .iframe-contain iframe {
    height: 200px;
  }
  #video-learning .video-learning-iframe {
    padding-bottom: 20px;
  }
  #video-learning .video-learning-detail {
    padding-top: 20px;
  }
  #video-learning .nav {
    margin-bottom: 5px;
  }
  #video-learning .video-learning-detail .nav-content .course-rate .user-type-comment img {
    margin-right: 10px;
  }
  #video-learning .video-learning-detail .nav-content .course-rate .user-type-comment .type-area form .btn-rate-overlay button {
    margin-bottom: 10px;
    padding: 10px 12px;
  }
  #video-learning .video-learning-detail .nav-content .course-rate .user-type-comment {
    margin-bottom: 10px;
  }
  #video-learning .video-learning-detail .nav-content .course-rate .all-user-comment ul .comment-block-contain .content-contain p {
    padding: 0;
    padding-right: 30px;
  }
}
#video-learning .video-learning-iframe .list-bai-hoc-contain {
  background-color: #f5f5f5;
  height: 480px;
  overflow-y: scroll;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain .head h5 {
  -webkit-text-fill-color: #0E8585;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain .thumb {
  width: 65px;
  height: 65px;
  border-radius: 16px;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain::-webkit-scrollbar, #video-learning .video-learning-iframe .list-bai-hoc-contain::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain:hover {
  color: #0E8585;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain .lesson-item {
  background-color: #ffffff;
  border-radius: 16px;
  transition: 0.5s;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain .lesson-item:hover {
  background: #0E8585;
  -webkit-text-fill-color: white;
}
#video-learning .video-learning-iframe .list-bai-hoc-contain .lesson-item.active {
  background: #0E8585;
  -webkit-text-fill-color: white;
}
#video-learning .video-learning-detail .test .contain {
  width: 100%;
  max-width: 514px;
}
#video-learning .video-learning-detail .test .contain span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #484952;
}
#video-learning .video-learning-detail .test .contain button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
#video-learning .quality-course-contain .head b {
  cursor: pointer;
}
#video-learning .quality-course-contain .document-link a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #0a033c;
}

@media all and (max-width: 767.98px) {
  #video-learning .iframe-contain {
    margin-bottom: 20px;
  }
  #video-learning .video-learning-iframe .list-bai-hoc-contain {
    height: 200px;
  }
}
.test-contain {
  width: 100%;
  max-width: 842px;
  margin: 0 auto;
}

#test-page {
  background: #f9f9f9;
}

.head-test {
  padding: 36px 0px;
  position: relative;
}
.head-test .contain h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.762769px;
  color: #229a87;
  margin-bottom: 0px;
}
.head-test .contain p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.762769px;
}
.head-test .return-back {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.head-test .return-back span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #323548;
}

.progress-test .test-contain .progress-contain .progress {
  height: 10px;
}
.progress-test .test-contain .progress-contain .progress .progress-bar {
  background-color: #FDC157;
}

.main-test .test-form {
  background: #ffffff;
  box-shadow: 5px 0px 30px rgba(185, 213, 208, 0.5);
  border-radius: 20px;
  padding: 28px 40px;
  height: 654px;
  overflow-y: scroll;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}
.main-test .test-form::-webkit-scrollbar, .main-test .test-form::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
.main-test .test-form::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
.main-test .test-form:hover {
  color: #0E8585;
}
.main-test .test-form .question-contain {
  max-width: 700px;
}
.main-test .test-form .question-contain h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0142658px;
  color: #282929;
}
.main-test .test-form .question-contain p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0142658px;
  color: #666666;
}
.main-test .test-form .question-contain .aswer-contain .question {
  margin-bottom: 10px;
}
.main-test .test-form .question-contain .aswer-contain b {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.main-test .test-form .question-contain .aswer-contain b:hover {
  background-color: #229a87;
  color: white !important;
  -webkit-text-fill-color: white;
}
.main-test .test-form .question-contain .aswer-contain b.choose {
  background-color: #229a87;
  color: white;
}
.main-test .test-form .correct-asw {
  padding: 7px 18px;
  padding-bottom: 0px;
  border-left: 2px solid #FDC157;
}

@media all and (max-width: 767.98px) {
  .test-contain {
    padding: 15px;
  }
  .head-test .return-back {
    top: 34%;
  }
}
#sign .container {
  max-width: 624px !important;
}

.sign-form {
  padding: 56px 0px;
}
.sign-form .sign-form-contain {
  padding: 32px 44px;
}
.sign-form .sign-form-contain .form-description {
  max-width: 470px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #736e6e;
  margin-bottom: 16px;
}
.sign-form .sign-form-contain .update-info {
  margin: 20px 0px;
}
.sign-form .sign-form-contain .update-info input {
  scale: 1.5;
  margin-right: 20px;
}
.sign-form .form-nav {
  margin-bottom: 15px;
}
.sign-form .form-nav ul {
  border: none;
}
.sign-form .form-nav ul li {
  cursor: pointer;
  border: none;
  width: 50%;
  display: flex;
  justify-content: center;
}
.sign-form .form-nav ul li span {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  padding: 16px 0px;
}
.sign-form .form-nav ul li.active {
  border-bottom: 2px solid #0e8585;
}
.sign-form .form-nav ul li.active span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #0e8585;
  padding: 16px 0px;
}
.sign-form .form-contain label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323548;
}
.sign-form .form-contain input,
.sign-form .form-contain select {
  background: #ffffff;
  border: 1px solid #f0f0f3;
  border-radius: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
}
.sign-form .form-contain input:disabled,
.sign-form .form-contain select:disabled {
  background-color: #eee;
}
.sign-form .form-contain .submit {
  margin-bottom: 16px;
}
.sign-form .form-contain .submit button {
  margin-top: 10px;
  padding: 12px 0px;
  display: block;
  width: 100%;
  background: #5fa077;
  border-radius: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.sign-form .form-contain .sign-up-with-social p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b5b5b5;
}
.sign-form .form-contain .sign-up-with-social .social-btn-contain button {
  display: block;
  width: 100%;
  border: 1px solid #5fa077;
}
.sign-form .form-contain .sign-up-with-social .social-btn-contain button span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5fa077;
}
.sign-form .form-contain .policy p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  padding: 12px 20px;
  height: fit-content !important;
  border-radius: 16px;
  border: 1px solid #f0f0f3;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

@media all and (max-width: 767.98px) {
  .sign-form .sign-form-contain {
    padding: 20px;
  }
}
#result {
  background-size: cover;
  background-attachment: fixed;
}

.result-head {
  padding: 52px 0px;
}
.result-head .return-back {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.result-detail {
  padding-bottom: 500px;
}
.result-detail .result-main h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.0142658px;
  color: #282929;
}
.result-detail .result-asw {
  margin-bottom: 85px;
}
.result-detail .result-asw img {
  position: absolute;
  max-width: 246px;
  width: 100%;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
}
.result-detail .btn-contain {
  max-width: 500px;
  margin: 0 auto;
}

@media all and (max-width: 767.98px) {
  .result-head .return-back {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -90%);
  }
  .result-detail {
    padding-bottom: 100px;
  }
}
.news-detail-head {
  background-size: cover;
  background-position: center center;
}
.news-detail-head .overlay {
  height: 100%;
  background-color: rgba(74, 74, 74, 0.49);
}
.news-detail-head .contain {
  z-index: 100000;
}

#main-post .thumb {
  height: 400px;
  object-fit: cover;
}

.more-news {
  background-color: transparent;
}
.more-news .my-slider {
  margin-bottom: 10px;
}
.more-news .my-slider .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.more-news .my-slider .slider-next-arr,
.more-news .my-slider .slider-prev-arr {
  top: 40% !important;
}

.more-courses-in-news img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */

.header.dark form a {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.header.dark form a:hover {
  color: #FDC157;
}

header.dark form a button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #FDC157;
  transition: 0.5s;
}

.header.dark form a:hover button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FDC157;
}

.footer-follow .align-items-center a img {
  width: 25px;
  height: auto;
}

.btn-custom-primary {
  background-color: #323548 !important;
  color: #FFFFFF;
}

.user-login-success .btn:hover {
  background-color: #0E8585 !important;
  color: #FFFFFF;
}

.form-contain .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  color: #6c7c89;
}

.card-course-contain-index .card .card-body .card-title {
  height: 48px;
}

.card-ne-contain .card a img {
  height: 403px;
  width: 100%;
  object-fit: cover;
}

.my-slider-more-courses .slider-nav.slider-prev-arr {
  background: #323548;
  border: 7px solid #ffffff;
}

.lv-1 {
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
  transition: 0.8s;
  border-radius: 10px;
  z-index: 10;
  padding: 0;
}

.me-auto .nav-item .fa-angle-down {
  display: none;
}

.me-auto .nav-item:hover .lv-1 {
  opacity: 1;
  transition: 0.8s;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #cccccc;
}

.me-auto .nav-item .lv-1 li {
  list-style-type: none;
}

.ta-opacity-1:hover .ta-opacity-0 {
  opacity: 1;
  transition: 0.8s;
  padding: 10px 20px;
}

.ta-opacity-0 {
  border-radius: 10px;
  background: #ffffff;
  opacity: 0;
  transition: 0.8s;
}

header.dark button.btn-custom-primary:hover {
  border: none !important; 
}

@media (min-width:100px) {
  .form-active-btn a.active-btn {
    content: "";
    background-color: #0E8585 !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 18px;
    transition: 0.8s;
  }
  header .btn {
    border-radius: 16px !important;
  }
}

.card-ne-contain .card .title h5 {
  height: 50px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-ne-contain .card .card-body .card-text {
  height: 60px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-ne-contain .card .card-body {
  padding: 14px 20px 25px;
}

.dynamic-input .form-label {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.8s;
}

.dynamic-input .form-label:hover {
  background-color: #cccccc;
  transition: 0.8s;
}

.icon-right {
  margin-top: -2px;
  margin-left: 3px;
  width: 1.5% !important;
  height: auto !important;
}

.card-course-contain .card .card-body h5 {
  height: 60px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-course-contain .card .card-body p {
  height: 60px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.lv-1 li a {
  color: #8a8a8a !important;
  transition: 0.8s;
}

.lv-1 li a:hover {
  color: #FDC157 !important;
  transition: 0.8s;
}

.list-post.co-opporate h5 {
  height: 50px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.blog-post img{
  max-width: 100%;
  height: auto !important;
}